<div class="card">
  <p-table [value]="scheduleJobs" dataKey="id" editMode="row">
    <ng-template pTemplate="header">
      <tr>
        <th style="width:5%">#</th>
        <th pSortableColumn="sender" style="width:20%">Sender <p-sortIcon field="sender"></p-sortIcon></th>
        <th pSortableColumn="status" style="width:6%">Status <p-sortIcon field="status"></p-sortIcon></th>
        <th pSortableColumn="record_counts" style="width:7%">Sent Rate <p-sortIcon field="record_counts"></p-sortIcon>
        </th>
        <th pSortableColumn="message" style="width:15%">Message <p-sortIcon field="message"></p-sortIcon></th>
        <th pSortableColumn="format_started_at" style="width:10%">Start At <p-sortIcon
            field="format_started_at"></p-sortIcon></th>
        <th pSortableColumn="format_expected_end_at" style="width:10%">Expect End At <p-sortIcon
            field="format_expected_end_at"></p-sortIcon></th>
        <th pSortableColumn="last_mobile_received_message" style="width:10%">Last Received <p-sortIcon
            field="last_mobile_received_message"></p-sortIcon></th>

        <th style="width:20%">Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-row let-ri="rowIndex">
      <tr>
        <td>{{ (ri +1 ) + ((page-1)*pagination.rows )}}</td>
        <td> {{row.sender}} </td>
        <td> {{ row.status }}</td>
        <td> {{ row.record_counts }}</td>
        <td> {{ row.message | slice:0:100 }} </td>
        <td> {{ row.format_started_at }}</td>
        <td> {{ row.format_expected_end_at }}</td>
        <td> {{ row.last_mobile_received_message }}</td>
        <td>
          <button pButton pTooltip="Resend Bulk" (click)="resendWhatsappBulk(row.id)" tooltipPosition="top"
            type="button" icon="pi pi-replay" class="m-1 p-button-info p-button-sm"></button>


          <a style="text-decoration: none;" pButton pTooltip="See All Numbers" tooltipPosition="top" type="button"
            icon="pi pi-eye" class="m-1 p-button-success p-button-sm"
            routerLink="/bulk-whatsapp-messages/trackNumbers/{{ row.id }}"></a>
          <button pButton pTooltip="Pause Schedual" (click)="pauseScheduleJob(row.id)"
            *ngIf="row.status == 'pending' || row.status == 'playing'" tooltipPosition="top" type="button"
            icon="pi pi-pause" class="m-1 p-button-secondary p-button-sm"></button>
          <button pButton pTooltip="Play Schedual" (click)="returnPlayScheduleJob(row.id)"
            *ngIf="row.status == 'paused'" tooltipPosition="top" type="button" icon="pi pi-play"
            class="m-1 p-button-help p-button-sm"></button>
          <button pButton pTooltip="Export Numbers" (click)="exportSchedualNumbers(row.id,SchedualJobStatus.all)"
            tooltipPosition="top" type="button" icon="pi pi-file" class="m-1 p-button-primary p-button-sm"></button>
          <button pButton pTooltip="Delete Schedual" (click)="confirm(row.id)" tooltipPosition="top" type="button"
            icon="pi pi-trash" class="m-1 p-button-danger p-button-sm"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <div class="card flex justify-content-center">
    <p-paginator (onPageChange)="onPageChange($event)" [first]="pagination.first" [rows]="pagination.rows"
      [totalRecords]="total" [rowsPerPageOptions]="[15, 50, 100]"></p-paginator>
  </div>

</div>

<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text">
</p-confirmDialog>