<div class="d-flex justify-content-end align-items-center table-buttons-container">
    <div class="m-3">
        <button [disabled]="!createPermission" pButton pRipple label="Add Dislike" class="p-button-success" icon="pi pi-plus" routerLink="../create"></button>
        <p-button class="mb-3 mx-2" icon="pi pi-filter" label="Filter" (click)="filterModal = true;">
        </p-button>
        <p-button [disabled]="!exportPermission" icon="pi pi-file" label="Export as Excel" (click)="export()">
        </p-button>
        <p-button [disabled]="!printPermission" class="mx-1" icon="pi pi-file" label="Export as PDF" (click)="exportAsPDF()" *ngIf="allDislikes.length">
        </p-button>
        <p-button (click)="filterColumns = true" class="mb-3 mx-2" icon="pi pi-sliders-v" label="Select Columns">
        </p-button>
        <p-button [disabled]="!downloadSamplePermission" (click)="displayUploadModal()" class="mb-3 mx-1" icon="pi pi-external-link"
        label="Upload"></p-button>
    </div>
</div>
<div class="card">
    <p-table [value]="dislikes" [paginator]="true" [rows]="PaginationInfo?.per_page"
        [totalRecords]="PaginationInfo?.total" [lazy]="true"
        (onLazyLoad)="sort($event)"
        (onPage)="paginate($event)" [showCurrentPageReport]="true"
        responsiveLayout="scroll"
        currentPageReportTemplate="Showing {{PaginationInfo?.from}} to {{PaginationInfo?.to}} of {{PaginationInfo?.total}} entries">
        <ng-template pTemplate="header">
            <tr>
                <th class="text-center">
                    <p-tableHeaderCheckbox #headerCheckbox (click)="selectAllRows(headerCheckbox)" [pSelectableRow]="dislikes"></p-tableHeaderCheckbox>
                </th>
                <th class="text-center"*ngIf="columns[0].status" pSortableColumn="id">id <p-sortIcon field="id"></p-sortIcon></th>
                <th class="text-center"*ngIf="columns[1].status" pSortableColumn="name">name <p-sortIcon field="name"></p-sortIcon></th>
                <th class="text-center"*ngIf="columns[2].status" pSortableColumn="cid">cid <p-sortIcon field="cid"></p-sortIcon></th>
                <th class="text-center"*ngIf="columns[3].status" pSortableColumn="email">email <p-sortIcon field="email"></p-sortIcon></th>
                <th class="text-center"*ngIf="columns[4].status" pSortableColumn="mobile">mobile <p-sortIcon field="mobile"></p-sortIcon></th>
                <th class="text-center"*ngIf="columns[5].status" pSortableColumn="branch">branch <p-sortIcon field="branch"></p-sortIcon></th>
                <th class="text-center"*ngIf="columns[6].status" pSortableColumn="agent.name">Created by<p-sortIcon field="agent.name"></p-sortIcon> </th>
                <th class="text-center"*ngIf="columns[7].status" pSortableColumn="sent_by">sent_by <p-sortIcon field="sent_by"></p-sortIcon></th>
                <th class="text-center"*ngIf="columns[8].status" pSortableColumn="dislike_meals">dislike_meals <p-sortIcon field="dislike_meals"></p-sortIcon></th>
                <th class="text-center"*ngIf="columns[9].status" pSortableColumn="reasons">reasons <p-sortIcon field="reasons"></p-sortIcon></th>
                <th class="text-center"*ngIf="columns[9].status" pSortableColumn="created_at">created_at <p-sortIcon field="created_at"></p-sortIcon></th>
                <th class="text-center">Actions</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-dislike>
            <tr [pSelectableRow]="dislike">
                <td class="text-center">
                    <p-tableCheckbox #tableCheckbox (click)="getSpecificRows(tableCheckbox)" [value]="dislike"></p-tableCheckbox>
                </td>
                <td class="text-center" *ngIf="columns[0].status">{{dislike.id}}</td>
                <td class="text-center" *ngIf="columns[1].status">{{dislike.name}}</td>
                <td class="text-center" *ngIf="columns[2].status">{{dislike.cid}}</td>
                <td class="text-center" *ngIf="columns[3].status">{{dislike.email}}</td>
                <td class="text-center" *ngIf="columns[4].status">{{dislike.mobile}}</td>
                <td class="text-center" *ngIf="columns[5].status">{{dislike.branch}}</td>
                <td class="text-center" *ngIf="columns[6].status">{{dislike.agent?.name}}</td>
                <td class="text-center" *ngIf="columns[7].status">{{dislike.sent_by}}</td>
                <td class="text-center" *ngIf="columns[8].status">{{dislike.dislike_meals}}</td>
                <td class="text-center" *ngIf="columns[9].status">{{dislike.reasons}}</td>
                <td class="text-center" *ngIf="columns[10].status">{{dislike.created_at | date}}</td>
                <td class="text-center">
                    <button pButton type="button" icon="pi pi-upload" class="m-1 p-button-sm p-button-success"
                    [disabled]="!uploadFilesPermission" (click)="displayUploadFilesModal(dislike.id)"></button>
                    <button pButton type="button" icon="pi pi-eye" (click)="showRow(dislike)"
                        class="m-1 p-button-sm"></button>
                    <button *ngIf="role == 'super_admin' || userId == dislike.agent_id" pButton type="button" icon="pi pi-pencil"
                    [disabled]="!updatePermission"  (click)="updateRow(dislike)" class="m-1 p-button-sm p-button-warning"></button>
                    <button pButton type="button" icon="pi pi-print" class="m-1 p-button-sm p-button-secondary" 
                    [disabled]="!printPermission" (click)="print(dislike)"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>



<p-dialog header="Select Your Columns" [(visible)]="filterColumns" [modal]="true" [style]="{width: '50vw'}"
    [draggable]="false" [resizable]="false">
    <div class="container" #checkboxContainer>
        <div class="field-checkbox my-3" *ngFor="let obj of columns">
            <p-checkbox name="group1" [value]="obj.name" [(ngModel)]="selectedColumns" [inputId]="obj.name"></p-checkbox>
            <label class="mx-3" [for]="obj.name">{{obj.name}}</label>
        </div>
        <div class="field-checkbox my-3">
            <p-checkbox name="group1" #currentCheckbox (click)="selectAllColumns(checkboxContainer,currentCheckbox)"
                value="selectAll" inputId="c100"></p-checkbox>
            <label class="mx-3" for="c100">Select All</label>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <div class="upload-btn-wrapper">
            <button class="btn btn-primary" (click)="filterColumns = false;getFilterColumns()">Apply</button>
        </div>
    </ng-template>
</p-dialog>

<p-dialog header="Please upload a file included all properties" [(visible)]="uploadModal" [modal]="true"
    [style]="{width: '50vw'}" [draggable]="false" [resizable]="false">

    <ng-template pTemplate="footer">
        <div class="upload-btn-wrapper">
            <button class="btn btn-primary" (click)="getSample()">Download Sample</button>
        </div>
        <div class="upload-btn-wrapper">
            <button class="btn btn-primary">Upload a file</button>
            <input type="file" name="myfile" (change)="onFileSelected($event)" />
        </div>
    </ng-template>
</p-dialog>

<p-dialog header="Upload Files" [(visible)]="uploadFilesModal" [modal]="true" [style]="{width: '50vw'}" [draggable]="false"
    [resizable]="false">
    <form [formGroup]="uploadForm" (ngSubmit)='uploadFiles(uploadForm)'>
        <div class="row mx-0">
            <div class="col-12 my-2">
                <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="file_input">
                    Upload Files</label>
                <input (change)="getUploadedFile($event)"
                    class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
                    id="file_input" type="file" accept="*/*" multiple>
            </div>

            <div class="col-12 my-3">
                <button class="btn btn-primary w-100">
                    <span *ngIf="!uploadingStatus">Add Files</span>
                    <span *ngIf="uploadingStatus">Uploading...<i class="fas fa-spinner fa-spin"></i></span>
                </button>
            </div>
        </div>
    </form>
</p-dialog>

<p-dialog header="Filter Dislike Modal" [(visible)]="filterModal" [modal]="true" [style]="{width: '50vw'}"
    [draggable]="false" [resizable]="false">
    <div class="container">
        <form [formGroup]="filterForm" #myForm="ngForm">
            <div class="row mx-0">
                <div class="col-lg-6 col-12 my-2">
                    <label for="">client_number</label>
                    <input type="text" pInputText ngClass="w-100" formControlName='mobile' maxlength="10"
                    oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"/>
                </div>
                <div class="col-lg-6 col-12 my-2">
                    <label for="">client_cid</label>
                    <input type="text" pInputText ngClass="w-100" formControlName='cid' />
                </div>
                <div class="col-lg-6 col-12 my-2">
                    <label for="">email</label>
                    <input type="text" pInputText ngClass="w-100" formControlName='email' />
                </div>
                <div class="col-lg-6 col-12 my-2">
                    <label for="">client_name</label>
                    <input type="text" pInputText ngClass="w-100" formControlName='name' />
                </div>
                <div class="col-lg-6 col-12 my-2">
                    <label for="">Reason</label>
                    <p-dropdown [options]="reasons" optionLabel="reason" optionValue="reason" styleClass="w-100" appendTo="body"
                    placeholder="Select Reason" formControlName='reason'>
                </p-dropdown>
                </div>
                <div class="col-lg-6 col-12 my-2">
                    <label for="">Sent By</label>
                    <p-dropdown [options]="branches" optionLabel="name" optionValue="name" styleClass="w-100"
                        appendTo="body" placeholder="Select Option" formControlName='sent_by'>
                    </p-dropdown>
                </div>
                <div class="col-lg-6 col-12 my-2">
                    <label for="">Meal</label>
                    <p-dropdown [options]="meals" optionLabel="ITEM" optionValue="ITEM" styleClass="w-100" appendTo="body"
                        placeholder="Select Meal" formControlName='dislike_meal'>
                    </p-dropdown>
                </div>
                <div class="col-lg-6 col-12 my-2">
                    <label for="">branch</label>
                    <p-dropdown [options]="branches" optionLabel="name" optionValue="name" formControlName='branch'
                        appendTo="body" styleClass="w-100" placeholder="Select Branch" [filter]="true">
                    </p-dropdown>
                </div>
                <div class="col-12 my-2">
                    <label for="range">Date Range</label>
                    <p-calendar selectionMode="range" [readonlyInput]="true" inputId="range" formControlName="date"
                        ngClass="w-100" appendTo="body">
                    </p-calendar>
                </div>
            </div>
        </form>
    </div>
    <ng-template pTemplate="footer">
        <div class="upload-btn-wrapper d-flex justify-content-between mt-3">
            <div>
                <button class="btn btn-secondary" (click)="resetFields()">
                    Reset Fields
                </button>
            </div>
            <div>
                <button class="btn btn-primary" (click)="applyFilter(filterForm)">
                    Apply Filter
                </button>
                <button class="btn btn-secondary" (click)="resetFilter()">
                    Reset Filter
                </button>
            </div>
        </div>
    </ng-template>
</p-dialog>