<div class="row my-3 animated">
    <div class="col-12">
        <div class="card h-100">
            <div class="card-header d-flex justify-content-between align-items-center">
                <span>Reminder</span>
            </div>
            <div class="card-body ">
                <div class="table table-responsive overflow-auto">
                    <table class="table">
                        <thead class="text-secondary text-center">
                            <th class="py-3">#</th>
                            <th class="py-3">Remind Date</th>
                            <th class="py-3">Note</th>
                            <th class="py-3">Update</th>
                        </thead>
                        <tbody class="text-center">
                            <tr *ngFor="let remind of leads; let i = index"
                                [style.opacity]="remind.reminded ? '0.3' : '1'">
                                <td class="py-3">{{i+1}}</td>
                                <td class="py-3">{{remind.reminder_date}}</td>
                                <td class="py-3">{{remind.reminder_data}}</td>
                                <td class="py-3" *ngIf="remind.reminded">
                                    <p-tag severity="danger" value="Reminded"></p-tag>
                                </td>
                                <td class="py-3" *ngIf="!remind.reminded">
                                    <p-tag class="pointer" severity="success" value="Update Reminder" (click)="update(remind.dataRequest_id)"></p-tag>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>