<div class="row my-3 animated">
    <div class="col-12">
        <div class="card h-100">
            <div class="card-header d-flex justify-content-between align-items-center">
                <span>Reminder</span>
            </div>
            <div class="card-body ">
                <div class="table table-responsive overflow-auto">
                    <table class="table">
                        <thead class="text-secondary text-center">
                            <th class="py-3">#</th>
                            <th class="py-3">Remind Date</th>
                            <th class="py-3">Note</th>
                            <th class="py-3">Update</th>
                            <th class="py-3">Show Analytics</th>
                        </thead>
                        <tbody class="text-center">
                            <tr *ngFor="let remind of reminder; let i = index"
                                [style.opacity]="remind.reminded ? '0.3' : '1'">
                                <td class="py-3">{{i+1}}</td>
                                <td class="py-3" style="width: 130px;">{{remind.reminder_date | date: 'MMM d, y, h:mm:ss a'}}</td>
                                <td class="py-3">{{remind.reminder_data}}</td>
                                <td class="py-3" *ngIf="remind.reminded">
                                    <p-tag severity="danger" value="Reminded"></p-tag>
                                </td>
                                <td class="py-3" *ngIf="!remind.reminded">
                                    <p-tag class="pointer" severity="success" value="Update Reminder" (click)="update(remind.id)"></p-tag>
                                </td>
                                <td class="text-center">
                                    <button pButton type="button" icon="pi pi-eye" (click)="getAnalyticsById(remind.dataRequest_id)"
                                    class="m-1 p-button-sm"></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<p-dialog header="Details Modal" [(visible)]="detailsModal" [modal]="true" [style]="{width: '50vw'}" [draggable]="true"
    [resizable]="true">
    <div class="card">
        <div class="card-header">
            <div class="text-muted d-flex align-items-center">
                <h6 class="m-0" style="width: 200px;">Title</h6>
                <h6 class="m-0">Description</h6>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive overflow-auto">
                <table class="table">
                    <tbody>
                            <tr *ngIf="currentRow?.date">
                                <td width="200">Date</td>
                                <td>{{ currentRow?.date }}</td>
                            </tr>
                            <tr *ngIf="currentRow?.agent">
                                <td width="200">Agent Name</td>
                                <td>{{ currentRow?.agent.name }}</td>
                            </tr>
                            <tr *ngIf="currentRow?.mobile">
                                <td width="200">Customer Mobile</td>
                                <td>{{ currentRow?.mobile }}</td>
                            </tr>
                            <tr *ngIf="currentRow?.customer_name">
                                <td width="200">Customer Name</td>
                                <td>{{ currentRow?.customer_name }}</td>
                            </tr>
                            <tr *ngIf="currentRow?.customer_gender">
                                <td width="200">Customer Gender</td>
                                <td>{{ currentRow?.customer_gender }}</td>
                            </tr>
                            <tr *ngIf="currentRow?.emirate">
                                <td width="200">Emirate</td>
                                <td>{{ currentRow?.emirate?.en_name }}</td>
                            </tr>
                            <tr *ngIf="currentRow?.platform">
                                <td width="200">Platform</td>
                                <td>{{ currentRow?.platform }}</td>
                            </tr>
                            <tr *ngIf="currentRow?.platform_option">
                                <td width="200">Platform Option</td>
                                <td>{{ currentRow?.platform_option }}</td>
                            </tr>
                            <tr *ngIf="currentRow?.customer_status">
                                <td width="200">Customer Status</td>
                                <td>{{ currentRow?.customer_status }}</td>
                            </tr>
                            <tr *ngIf="currentRow?.concern">
                                <td width="200">Concern</td>
                                <td>{{ currentRow?.concern }}</td>
                            </tr>
                            <tr *ngIf="currentRow?.mode">
                                <td width="200">Mode</td>
                                <td>{{ currentRow?.mode }}</td>
                            </tr>
                            <tr *ngIf="currentRow?.mode_reason">
                                <td width="200">Mode Reason</td>
                                <td>{{ currentRow?.mode_reason }}</td>
                            </tr>
                            <tr *ngIf="currentRow?.ask_for">
                                <td width="200">Ask For</td>
                                <td>{{ currentRow?.ask_for }}</td>
                            </tr>
                            <tr *ngIf="currentRow?.ask_for_options">
                                <td width="200">Ask For Options</td>
                                <td>{{ currentRow?.ask_for_options }}</td>
                            </tr>
                            <tr *ngIf="currentRow?.actions">
                                <td width="200">Actions</td>
                                <td>{{ currentRow?.actions }}</td>
                            </tr>
                            <tr *ngIf="currentRow?.notes">
                                <td width="200">Notes</td>
                                <td>{{ currentRow?.notes }}</td>
                            </tr>
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</p-dialog>