<div class="d-flex justify-content-between align-items-center">
    <h2>Mail Service</h2>
    <button class="btn btn-success" (click)="createModal = true">Create Mail</button>
</div>
<hr>
<div class="card">
    <p-table [value]="users" [lazy]="true" [showCurrentPageReport]="true" responsiveLayout="scroll">
        <ng-template pTemplate="header">
            <tr>
                <th class="text-center">
                    Email
                </th>
                <th class="text-center">
                    Models
                </th>
                <th class="text-center">Actions</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
            <tr>
                <td class="text-center">
                    {{ user.email }}
                </td>
                <td class="text-center">
                    <div  *ngFor="let model of user.models;let i = index">
                        <div>
                            {{i+1}}- {{ model }}
                        </div>
                    </div>
                </td>
                <td class="text-center">
                    <button pButton type="button" (click)="displayModal(user.email,user.models)" icon="pi pi-pencil" class="m-1 p-button-sm p-button-warning"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-dialog header="Update Mail Models" [(visible)]="updateModal" [modal]="true" [style]="{width: '50vw'}"
    [draggable]="false" [resizable]="false">
    <div class="container">
            <label for="">Models</label>
            <p-multiSelect [options]="models" appendTo="body"
                defaultLabel="Select Models" styleClass="w-100" display="chip" [(ngModel)]="currentModels">
            </p-multiSelect>
    </div>
    <ng-template pTemplate="footer">
        <button class="btn btn-secondary" (click)="update(currentEmail,currentModels)">
            Update
        </button>
    </ng-template>
</p-dialog>

<p-dialog header="Create Mail Models" [(visible)]="createModal" [modal]="true" [style]="{width: '50vw'}"
    [draggable]="false" [resizable]="false">
    <div class="container">
        <div class="row">
            <div class="col-12 my-3">
                <label for="">Email</label>
                <input type="text" pInputText ngClass="w-100" [(ngModel)]="newEmail"/>
            </div>
            <div class="col-12 my-3">
                <label for="">Models</label>
                <p-multiSelect [options]="models" appendTo="body"
                    defaultLabel="Select Models" styleClass="w-100" display="chip" [(ngModel)]="newModels">
                </p-multiSelect>
            </div>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <button class="btn btn-secondary" (click)="update(newEmail,newModels)">
            Create
        </button>
    </ng-template>
</p-dialog>