<div class="row animated">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="col-md-12">
                    <div class="card card-plain">
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <h4 class="card-title">GiftCode Info</h4>
                            <div>
                                <button class="btn btn-dark" (click)="backDetailsBtn()">Back</button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive overflow-auto">
                                <table class="table">
                                    <thead class="text-muted">
                                        <th class="py-3">Title</th>
                                        <th class="py-3">Description</th>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of giftcode | keyvalue">
                                            <td>{{ item.key }}</td>
                                            <td [ngSwitch]="item.key">
                                                <ng-container *ngSwitchCase="'created_at'">
                                                    {{ giftcode.created_at | date }}
                                                </ng-container>
                                                <ng-container *ngSwitchCase="'updated_at'">
                                                    {{ giftcode.updated_at | date }}
                                                </ng-container>
                                                <ng-container *ngSwitchCase="'expired_at'">
                                                    {{ giftcode.expired_at | date }}
                                                </ng-container>
                                                <ng-container *ngSwitchCase="'programs'">
                                                    <div *ngFor="let program of giftcode.programs">
                                                        {{ program.program_name }}
                                                    </div>
                                                </ng-container>
                                                <ng-container *ngSwitchDefault>
                                                    {{ item.value }}
                                                </ng-container>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>