<div class="container">
    <div class="d-flex justify-content-between align-items-center">
        <h2>Create Analytics</h2>
    </div>
    <hr>
    <form [formGroup]="analysisForm" (ngSubmit)='create(analysisForm)'>
        <div class="row mx-0">
            <div class="col-xl-3 col-lg-4 col-md-6 col-12 my-3">
                <label for="">Phone Number <span class="text-danger">*</span></label>
                <input type="text" pInputText ngClass="w-100" formControlName='mobile' maxlength="10"
                    (blur)="getCustomerCID(Phone_Input)" #Phone_Input (keydown.enter)="$event.preventDefault()"
                    oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" />
                <small class="text-danger ms-1" *ngIf="
                analysisForm.get('mobile')?.hasError('required')">This field is required.</small>
                <small class="text-danger ms-1" *ngIf="analysisForm.get('mobile')?.touched &&
                analysisForm.get('mobile')?.hasError('pattern')">Length must be 10</small>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-12 my-3" *ngIf="cids.length">
                <label for="">CID</label>
                <p-dropdown [options]="cids" formControlName='cid' appendTo="body" (onChange)="getCustomerInfo($event)"
                    styleClass="w-100" placeholder="Select CID" optionLabel="cid" optionValue="cid">
                </p-dropdown>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-12 my-3">
                <label for="">Customer Name</label>
                <input type="text" pInputText ngClass="w-100" formControlName='customer_name' (keydown.enter)="$event.preventDefault()" />
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-12 my-3">
                <label for="">Gender</label>
                <p-dropdown [options]="['male','female']" formControlName='customer_gender' appendTo="body"
                    styleClass="w-100" placeholder="Select Gender">
                </p-dropdown>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-12 my-3" *ngIf="analysisForm.contains('customer_branch') && !this.analysisForm.get('customer_branch')?.disabled">
                <label for="">Customer Branch</label>
                <input type="text" pInputText ngClass="w-100" formControlName='customer_branch' (keydown.enter)="$event.preventDefault()"/>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-12 my-3" *ngIf="analysisForm.contains('emirate_id') && !this.analysisForm.get('emirate_id')?.disabled">
                <label for="">Emirate</label>
                <p-dropdown [options]="emirates" formControlName='emirate_id' appendTo="body"
                    styleClass="w-100" optionValue="id" optionLabel="en_name" placeholder="Select Emirate"
                    [filter]="true">
                </p-dropdown>
            </div>
            <hr>
            <ng-container *ngIf="options.length">
                <ng-container>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-12 my-3">
                        <label for="">{{options[0][0]?.label}}</label>
                        <p-dropdown [options]="options[0]" appendTo="body" (onChange)="storeSelectedOptions($event,0)"
                            formControlName='customer_status' styleClass="w-100" optionValue="name" optionLabel="name"
                            placeholder="Select Option">
                        </p-dropdown>
                    </div>
                </ng-container>
                <ng-container *ngFor="let option of options; let i = index">
                    <div class="col-xl-3 col-lg-4 col-md-6 col-12 my-3" *ngIf="i != 0">
                        <label for="">{{option[0]?.label}}</label>
                        <p-dropdown [options]="option" appendTo="body" (onChange)="storeSelectedOptions($event,i)"
                            styleClass="w-100" optionValue="name" optionLabel="name" placeholder="Select Option">
                        </p-dropdown>
                    </div>
                </ng-container>
            </ng-container>
            <hr>
            <div class="col-12 my-1">
                <label for="">Any Notes</label>
                <textarea pInputTextarea ngClass="w-100" formControlName='notes' (keydown.enter)="$event.preventDefault()"></textarea>
            </div>

            <div class="col-10 my-3">
                <button class="btn btn-primary py-2 w-100" [disabled]="analysisForm.invalid || creatingStatus">
                    <span *ngIf="!creatingStatus">Create</span>
                    <span *ngIf="creatingStatus">Creating...<i class="fas fa-spinner fa-spin"></i></span>
                </button>
            </div>
            <div class="col-2 my-3">
                <button type="button" class="btn btn-danger py-2 w-100" (click)="reminderModal = true;">
                    <span>
                        <i class="far fa-bell mx-2"></i>
                        Add Reminder
                    </span>
                </button>
            </div>
        </div>
    </form>
</div>

<p-dialog header="Reminder Date" [(visible)]="reminderModal" position="bottom" [style]="{ width: '50vw' }"
    [modal]="true" [resizable]="false" [draggable]="false">
    <p-calendar [showIcon]="true" [defaultDate]="defaultReminder" [(ngModel)]="defaultReminder" [minDate]="minReminder" [showTime]="true" [maxDate]="maxReminder"
        appendTo="body"></p-calendar>
    <button class="btn btn-primary mt-2 w-100" (click)="setDefaultReminder()">
        Add Reminder
    </button>
</p-dialog>