.notifications-container {
    position: relative;

    .notification-list {
        overflow: auto;

        .notification-item {
            z-index: 99999;
            position: relative;
            background-color: #fff;
        }

        background-color: #fff;
        border-radius: 5px;
        width: 300px;
        position: absolute;
        top: 110%;
        max-height: 600px;
        z-index: 99999999;

        i {
            background-color: transparent;
            border-right: 1px solid #bbb;
        }

        border-radius: 5px;
        transition: all .5s;

        .item {
            padding: 0px 10px;
        }

        .notification {
            &:hover {
                color: rgb(104, 104, 104);
            }

            padding: 10px 0px;
            border-radius: 5px;
        }

        .isReaded {
            background-color: rgb(240, 240, 240);
            padding: 10px 0px;
        }
    }
}

.overlay {
    background-color: rgb(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 333;
    cursor: auto;
}

#style-3::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar-thumb {
    background-color: #242939;
}

// ==========================================================Notifications=================================================================
.modal-content{
    .notification-date,
    .notification-ago {
        font-size: 14px;
        color: #888;
        margin-bottom: 4px;
    }
    text-align: center;
    
    .fa {
        color: #242939;
        font-size: 90px;
        padding: 30px 0px;
    }
    
    .b1 {
        background-color: #242939;
        box-shadow: 0px 4px #474e65;
        border: solid 1px #474e65;
        font-size: 17px;
    }
    
    .r3 {
        color: #c1c1c1;
        font-weight: 500;
    }
    
    a,
    a:hover {
        text-decoration: none;
    }
}
.no-notification {
    text-align: center;
    padding: 16px;
    font-size: 16px;
    color: #888;
}
// =================================================================
.card-stats .icon-big {
    font-size: 3em;
    min-height: 64px;
}

.nc-icon {
    display: inline-block;
    font: 14px/1 nucleo-icons;
    font-size: inherit;
    speak: none;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.card-stats .card-body .numbers .card-category {
    color: #9a9a9a;
    font-size: 16px;
    line-height: 1.4em;
}

.card-stats .card-body .numbers {
    text-align: right;
    font-size: 2em;
}

.card-title {
    border: none !important;
}

.card-footer {
    padding-top: 0 !important;
    border: none !important;
}

.card-title {
    margin: 0 !important;
}

.card-body {
    padding-bottom: 0 !important;
}

.card {
    border-radius: 12px !important;
    box-shadow: 0 6px 10px -4px #00000026 !important;
    background-color: #fff !important;
    color: #252422 !important;
    margin-bottom: 20px !important;
    position: relative !important;
    border: 0 none !important;
    transition: transform .3s cubic-bezier(.34,2,.6,1),box-shadow .2s ease !important;
}.card-stats .card-footer .stats {
    color: #9a9a9a;
}.card .card-footer .stats i {
    margin-right: 5px;
    position: relative;
    top: 0;
    color: #66615b;
}


.text-danger, a.text-danger:focus, a.text-danger:hover {
    color: #ef8157!important;
}.text-primary, a.text-primary:focus, a.text-primary:hover {
    color: #51cbce!important;
}.text-success, a.text-success:focus, a.text-success:hover {
    color: #6bd098!important;
}.text-warning, a.text-warning:focus, a.text-warning:hover {
    color: #fbc658!important;
}.text-main, a.text-main:focus, a.text-main:hover {
    color: #7a8abb!important;
}

// =======================================================================

.loader-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9;
    // left: 50%;
    // transform: translateX(-50%);
    background-color: rgba(200, 200, 200, 0.373);
}

.i-loader-inf-horizontal-container {
    width: 256px;
    text-align: center;
}

.i-loader-inf-horizontal-container span {
    color: #475161;
    font-family: sans-serif;
    animation: loader-inf-message-pulse 2s infinite;
}

.i-loader-inf-horizontal {
  width: 100%;
  height: 18px;
  background: linear-gradient(#5399ee 0 0) 0/0% no-repeat#ddd;
  border-radius: 4px;
  animation: loader-inf 2s infinite linear;
}

@keyframes loader-inf {
    100% {background-size:100%}
}

@keyframes loader-inf-message-pulse {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.pt-8px {
    padding-top: 8px;
}
// =================================================================
.customerModels .card-stats:hover{
    background-color: rgb(237, 237, 237) !important;
}

.customerModels .card-stats{
    transition: all .8s ease-in-out;
    border: 1px solid #00000010 !important;
    cursor: pointer;
}