<div class="row animated" *ngIf="call">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="col-md-12">
                    <div class="card card-plain">
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <h4 class="card-title">Call Info</h4>
                            <div>
                                <button class="btn btn-dark" (click)="backDetailsBtn()">Back</button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive overflow-auto">
                                <table class="table">
                                    <thead class="text-muted">
                                        <th class="py-3">Title</th>
                                        <th class="py-3">Description</th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Cid</td>
                                            <td>{{call?.cid}}</td>
                                        </tr>
                                        <tr>
                                            <td>remaining days</td>
                                            <td>{{call?.subscription_id}}</td>
                                        </tr>
                                        <tr>
                                            <td>branch</td>
                                            <td>{{call?.branch}}</td>
                                        </tr>
                                        <tr>
                                            <td>customer_name</td>
                                            <td>{{call?.customer_name}}</td>
                                        </tr>
                                        <tr>
                                            <td>customer_phone</td>
                                            <td>{{call?.customer_mobile}}</td>
                                        </tr>
                                        <tr>
                                            <td>customer_mobile</td>
                                            <td>{{call?.customer_phone}}</td>
                                        </tr>
                                        <tr>
                                            <td>plan</td>
                                            <td>{{call?.plan}}</td>
                                        </tr>
                                        <tr>
                                            <td>date</td>
                                            <td>{{call?.date}}</td>
                                        </tr>
                                        <tr>
                                            <td>note</td>
                                            <td>{{call?.note}}</td>
                                        </tr>
                                        <tr>
                                            <td>agent_uploaded</td>
                                            <td>
                                                <span *ngIf="call.agent_uploaded_name">
                                                    {{call?.agent_uploaded_name}}
                                                </span>
                                                <span *ngIf="!call?.agent_uploaded_name">
                                                    None
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>created_at</td>
                                            <td>{{call?.created_at|date}}</td>
                                        </tr>
                                        <tr>
                                            <td>assigned_agent</td>
                                            <td>
                                                <span *ngIf="call?.call_users?.length">
                                                    <small *ngFor="let user of call?.call_users" style="display: block;">
                                                        {{user?.user?.name}}
                                                    </small>
                                                </span>
                                                <span *ngIf="call.call_users.length == 0">NOT ASSIGNED</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Files</td>
                                            <td>
                                                <span *ngIf="files?.length">
                                                    <small *ngFor="let f of files" style="display: block;" class="my-2">
                                                        <span class="mx-2" *ngIf="f?.agent?.name">{{f?.agent?.name}} Upload =></span>
                                                        <span *ngIf="f.type.includes('image')">
                                                            <p-image [src]="'http://lowcalories.ae/'+f?.file" 
                                                            alt="Uploaded Image" width="250" [preview]="true"></p-image>
                                                        </span>
                                                        <span *ngIf="f.type.includes('audio')">
                                                            <audio controls>
                                                                <source [src]="'http://lowcalories.ae/'+f.file" type="audio/mpeg">
                                                            </audio>
                                                        </span>
                                                        <span *ngIf="!f.type.includes('audio')&&!f.type.includes('image')&&!f.type.includes('video')">
                                                            <a target="_blank" [href]="'http://lowcalories.ae/'+f.file" download>{{f.type}}</a>
                                                        </span>
                                                        <span *ngIf="f.type.includes('video')">
                                                            <video width="250" class="m-1" controls>
                                                                <source
                                                                    src="http://lowcalories.ae/{{f?.file}}">
                                                            </video>
                                                        </span>
                                                    </small>
                                                </span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>