<div class="container">
    <div class="d-flex justify-content-between align-items-center">
        <h2>Create Complaint</h2>
    </div>
    <hr>
    <form [formGroup]="insertForm" (ngSubmit)='insertRow(insertForm)'>
        <div class="row mx-0">
            <div class="col-md-6 col-12 my-3">
                <label for="">Client Name</label>
                <input type="text" pInputText ngClass="w-100" formControlName='c_name'/>
                <small class="text-danger ms-1" *ngIf="insertForm.get('c_name')?.touched &&
                insertForm.get('c_name')?.hasError('required')">This field is required.</small>
            </div>
            <div class="col-md-6 col-12 my-3">
                <label for="">Client Mobile</label>
                <input type="text" pInputText ngClass="w-100" formControlName='c_mobile' maxlength="10"
                oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"/>
                <small class="text-danger ms-1" *ngIf="insertForm.get('c_mobile')?.touched &&
                insertForm.get('c_mobile')?.hasError('required')">This field is required.</small>
                <small class="text-danger ms-1" *ngIf="insertForm.get('c_mobile')?.touched &&
                insertForm.get('c_mobile')?.hasError('pattern')">Length must be 10</small>
            </div>
            <div class="col-md-6 col-12 my-3">
                <label for="">Client CID</label>
                <input type="text" pInputText ngClass="w-100" formControlName='cid'/>
                <small class="text-danger ms-1" *ngIf="insertForm.get('cid')?.touched &&
                insertForm.get('cid')?.hasError('required')">This field is required.</small>
            </div>
            <div class="col-md-6 col-12 my-3">
                <label for="">issue_details</label>
                <input type="text" pInputText ngClass="w-100" formControlName='issue_details'/>
                <small class="text-danger ms-1" *ngIf="insertForm.get('issue_details')?.touched &&
                insertForm.get('issue_details')?.hasError('required')">This field is required.</small>
            </div>
            <div class="col-md-6 col-12 my-3">
                <label for="">Action</label>
                <input type="text" pInputText ngClass="w-100" formControlName='action'/>
                <small class="text-danger ms-1" *ngIf="insertForm.get('action')?.touched &&
                insertForm.get('action')?.hasError('required')">This field is required.</small>
            </div>
            <div class="col-md-6 col-12 my-3">
                <label for="">Branches</label>
                <p-dropdown [options]="branches" optionLabel="name" optionValue="name" formControlName='branch' appendTo="body"
                    styleClass="w-100" placeholder="Select Branch" [filter]="true">
                </p-dropdown>
                <small class="text-danger ms-1" *ngIf="insertForm.get('branch')?.touched &&
                insertForm.get('branch')?.hasError('required')">This field is required.</small>
            </div>
            <div class="col-md-6 col-12 my-3">
                <label for="">Status</label>
                <p-dropdown [options]="status" formControlName='status' appendTo="body"
                    styleClass="w-100" placeholder="Select Status" [filter]="true">
                </p-dropdown>
                <small class="text-danger ms-1" *ngIf="insertForm.get('status')?.touched &&
                insertForm.get('status')?.hasError('required')">This field is required.</small>
            </div>
            <div class="col-md-6 col-12 my-3">
                <label for="">Upload Record/File/Video</label>
                <button class="btn btn-primary w-100" style="padding: 12px 0px;" (click)="uploadFile()">Upload</button>
            </div>
            <div class="col-12 my-3">
                <button class="btn btn-primary w-100">Add Complaint</button>
            </div>
        </div>
    </form>
</div>