<div class="card">
  <p-table [value]="agents" [lazy]="true">
    <ng-template pTemplate="caption">
      <div class="d-flex justify-content-between align-items-center mb-3">
        <h5 class="m-0">Agent Table</h5>
        <button pButton type="button" label="Add New Agent" class="m-1 p-button-sm p-button-success"
          routerLink="../add"></button>
      </div>
      <div class="input-group no-border">
        <input type="text" value="" placeholder="Search..." class="form-control" #searchInput
          (keydown)="search(searchInput)">
        <p-dropdown [options]="agentRoles" (onChange)="onAgentRoleSelected(agentRolesDropDown)" #agentRolesDropDown
          appendTo="body" styleClass="w-100" placeholder="Select Role"></p-dropdown>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>team</th>
        <th>Role</th>
        <th>Type</th>
        <th>status</th>
        <!-- <th>permissions</th> -->
        <th>Action</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user let-rowIndex="rowIndex">
      <tr>
        <td>{{rowIndex + 1}}</td>
        <td>{{user.name}}</td>
        <td>{{user.team}}</td>
        <td>
          {{user.role}}
        </td>
        <td>
          <div class="" *ngFor="let role of user.web_role">
            {{role}}
          </div>
        </td>
        <td>{{user.status?user.status:'Offline'}}</td>
        <!-- <td [width]="750">
          <div class="row" *ngIf="user.role_name != 'super_admin'">
            <div class="col-4" *ngFor="let permission of user.permissions">
              {{permission?.permission}}
            </div>
          </div>
        </td> -->
        <td>
          <div *ngIf="user.role_name != 'super_admin'">
            <button pButton type="button" icon="pi pi-eye" (click)="showRow(user.permissions)"
              class="m-1 p-button-sm"></button>
            <button pButton type="button" icon="pi pi-plus" (click)="getCurrentAgent(user)"
              class="m-1 p-button-sm p-button-success"></button>
            <button pButton type="button" icon="pi pi-pencil" (click)="updateAgent(user)"
              class="m-1 p-button-sm p-button-warning"></button>
            <button pButton type="button" icon="pi pi-trash" (click)="confirm(user?.id)"
              class="m-1 p-button-danger p-button-sm"></button>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-dialog header="Add User Role Modal" [(visible)]="addRoleModal" [modal]="true" [style]="{width: '50vw'}"
  [draggable]="false" [resizable]="false">
  <div class="container">
    <!-- <p-dropdown [options]="roles" optionLabel="name" appendTo="body" #RoleDropDown
      styleClass="w-100" placeholder="Select Role" [filter]="true">
    </p-dropdown> -->
    <p-multiSelect [options]="roles" appendTo="body" optionLabel="name" #multieSelectRoles defaultLabel="Select Roles"
      styleClass="w-100" display="chip">
    </p-multiSelect>
  </div>
  <ng-template pTemplate="footer">
    <div class="upload-btn-wrapper">
      <button class="btn btn-primary" (click)="addRole(multieSelectRoles)">Add Role</button>
    </div>
  </ng-template>
</p-dialog>

<p-dialog header="Permission Modal" [(visible)]="detailsModal" [modal]="true" [style]="{width: '50vw'}"
  [draggable]="true" [resizable]="true">
  <div class="card">
    <div class="card-header">
      <div class="text-muted d-flex align-items-center">
        <h6 class="m-0" style="width: 350px;">Title</h6>
        <h6 class="m-0" style="width: 300px;">Description</h6>
        <!-- <h6 class="m-0">Permission Name</h6> -->
      </div>
    </div>
    <div class="card-body">
      <div class="table-responsive overflow-auto">
        <table class="table" *ngIf="currentRow">
          <tbody>
            <tr *ngFor="let action of currentRow | keyvalue">
              <!-- <td width="400">
                              <span>
                                {{user?.permission.split("_")[1] | titlecase}}
                              </span>
                              <div class="text-muted">
                                Updated at => {{user?.updated_at | date}}
                              </div>
                            </td>
                            <td width="300">{{ user?.permission.split("_")[0] | titlecase }}</td>
                            <td>{{ user?.permission }}</td> -->


              <td width="400">
                <span>
                  {{action.key}}
                </span>
              </td>
              <td>
                {{action.value}}
              </td>

            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</p-dialog>

<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text">
</p-confirmDialog>