<div class="d-flex justify-content-between align-items-center">
    <div class="m-3">
        <p-button class="mb-3 mx-2" icon="pi pi-filter" label="Filter V1" (click)="filterModal1 = true;">
        </p-button>
        <p-button [disabled]="!exportPermission" class="mb-3 mx-2" icon="pi pi-file" label="Export V1"
            (click)="export1()">
        </p-button>
    </div>
    <div class="m-3">
        <button [disabled]="!createPermission" pButton pRipple label="Create" class="p-button-success mx-1"
            icon="pi pi-plus" routerLink="../createV2"></button>
        <p-button class="mb-3 mx-2" icon="pi pi-filter" label="Filter V2" (click)="filterModal = true;">
        </p-button>
        <p-button [disabled]="!exportPermission" class="mb-3 mx-2" icon="pi pi-file" label="Export V2"
            (click)="export()">
        </p-button>
    </div>
</div>

<div class="card">
    <p-table [value]="analytics" [paginator]="true" [rows]="PaginationInfo?.per_page"
        [totalRecords]="PaginationInfo?.total" [lazy]="true" (onPage)="paginate($event)" [showCurrentPageReport]="true"
        responsiveLayout="scroll"
        currentPageReportTemplate="Showing {{PaginationInfo?.from}} to {{PaginationInfo?.to}} of {{PaginationInfo?.total}} entries">
        <ng-template pTemplate="header">
            <tr>
                <th class="text-center">Date</th>
                <th class="text-center">Agent</th>
                <th class="text-center">Customer Mobile</th>
                <th class="text-center">Customer Name</th>
                <th class="text-center">Customer Gender</th>
                <th class="text-center">Reminder</th>
                <th class="text-center">Actions</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-analysis>
            <tr>
                <td class="text-center">{{analysis?.date}}</td>
                <td class="text-center">{{analysis?.agent?.name}}</td>
                <td class="text-center">{{analysis?.mobile}}</td>
                <td class="text-center">{{analysis?.customer_name}}</td>
                <td class="text-center">{{analysis?.customer_gender}}</td>
                <td class="text-center">
                    <p-tag *ngIf="analysis?.reminders_count" severity="success"
                        [value]="analysis?.reminders_count+' Reminder'"></p-tag>
                </td>
                <td class="text-center">
                    <button [disabled]="!uploadFilesPermission" pButton type="button" icon="pi pi-upload"
                        class="m-1 p-button-sm p-button-success"
                        (click)="displayUploadFilesModal(analysis.id)"></button>
                    <button pButton type="button" icon="pi pi-pencil" [disabled]="!updatePermission"
                        (click)="updateRow(analysis)" class="m-1 p-button-sm p-button-warning"></button>
                    <button pButton type="button" icon="pi pi-eye" (click)="showRow(analysis)"
                        class="m-1 p-button-sm"></button>
                    <button pButton type="button" icon="pi pi-trash" [disabled]="!deletePermission"
                        (click)="confirm(analysis?.id)" class="m-1 p-button-danger p-button-sm"></button>
                </td>

            </tr>
        </ng-template>
    </p-table>
</div>

<p-dialog header="Filter Modal" [(visible)]="filterModal" [modal]="true" [style]="{width: '50vw'}" [draggable]="false"
    [resizable]="false">
    <div class="container">
        <form [formGroup]="filterForm" #myForm="ngForm">
            <div class="row mx-0">
                <div class="col-xl-4 col-lg-4 col-md-6 col-12 my-1" *ngIf="superAdminPermission">
                    <label for="">Team</label>
                    <p-dropdown [options]="teams" formControlName="team" placeholder="Select Team" styleClass="w-100"
                        appendTo="body">
                    </p-dropdown>
                </div>
                <!-- <div class="col-xl-4 col-lg-4 col-md-6 col-12 my-1" *ngIf="superAdminPermission">
                    <label for="">Agent</label>
                    <p-dropdown [options]="agents" formControlName="agent_id" placeholder="Select Agent"
                        styleClass="w-100" appendTo="body" optionLabel="label" optionValue="value" [group]="true"
                        [filter]="true">
                        <ng-template let-group pTemplate="group">
                            <div class="flex align-items-center">
                                <span>{{ group.label }}</span>
                            </div>
                        </ng-template>
                    </p-dropdown>
                </div> -->
                <div class="col-xl-4 col-lg-4 col-md-6 col-12 my-1" *ngIf="superAdminPermission">
                    <label for="">Agent</label>
                    <p-dropdown [options]="agents" formControlName="agent_id" placeholder="Select Agent"
                        styleClass="w-100" appendTo="body" optionValue="id" optionLabel="name" [filter]="true">
                    </p-dropdown>
                </div>
                <div class="col-md-4 col-12 my-1">
                    <label for="">Phone Number <span class="text-danger">*</span></label>
                    <input type="text" pInputText ngClass="w-100" formControlName='mobile' maxlength="10"
                        (blur)="getCustomerCID(Phone_Input)" #Phone_Input
                        oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" />
                </div>
                <div class="col-md-4 col-12 my-1" *ngIf="cids.length">
                    <label for="">CID</label>
                    <p-dropdown [options]="cids" formControlName='cid' appendTo="body"
                        (onChange)="getCustomerInfo($event)" styleClass="w-100" placeholder="Select CID"
                        optionLabel="cid" optionValue="cid">
                    </p-dropdown>
                </div>
                <div class="col-md-4 col-12 my-1" *ngIf="cids.length == 0">
                    <label for="">Customer cid</label>
                    <input type="text" pInputText ngClass="w-100" formControlName='cid' />
                </div>
                <div class="col-md-4 col-12 my-1">
                    <label for="">Customer Name</label>
                    <input type="text" pInputText ngClass="w-100" formControlName='customer_name' />
                </div>
                <div class="col-md-4 col-12 my-1">
                    <label for="">Gender</label>
                    <p-dropdown [options]="['male','female']" formControlName='customer_gender' appendTo="body"
                        styleClass="w-100" placeholder="Select Gender">
                    </p-dropdown>
                </div>
                <!-- <div class="col-md-4 col-12 my-1">
                    <label for="">Emirate</label>
                    <p-dropdown [options]="emirates" formControlName='emirate_id' appendTo="body" styleClass="w-100"
                        optionValue="id" optionLabel="en_name" placeholder="Select Emirate" [filter]="true">
                    </p-dropdown>
                </div> -->
                <ng-container *ngIf="options.length">
                    <ng-container *ngFor="let option of options; let i = index">
                        <div class="col-md-4 col-12 my-1">
                            <label for="">{{option[0]?.label}}</label>
                            <p-dropdown [options]="option" appendTo="body" (onChange)="storeSelectedOptions($event,i)"
                                styleClass="w-100" optionValue="name" optionLabel="name" placeholder="Select Option">
                            </p-dropdown>
                        </div>
                    </ng-container>
                </ng-container>


                <ng-container *ngIf="allAnalyticOptions">
                    <ng-container *ngFor="let keyValuePair of allAnalyticOptions | keyvalue; let i = index">
                        <div class="col-md-4 col-12 my-1">
                            <label for="">{{keyValuePair.key}}</label>
                            <p-dropdown [options]="getObjectKeyValues(keyValuePair.key)" appendTo="body"
                                formControlName='{{keyValuePair.key}}' styleClass="w-100" optionValue="name"
                                optionLabel="name" placeholder="Select Option">
                            </p-dropdown>
                        </div>
                    </ng-container>
                </ng-container>
            </div>
        </form>
    </div>
    <ng-template pTemplate="footer">
        <div class="upload-btn-wrapper d-flex justify-content-between mt-3">
            <div>
                <button class="btn btn-secondary" (click)="resetFields()">
                    Reset Fields
                </button>
            </div>
            <div>
                <button class="btn btn-primary" (click)="applyFilter(filterForm)">
                    Apply Filter
                </button>
                <button class="btn btn-secondary" (click)="resetFilter()">
                    Reset Filter
                </button>
            </div>
        </div>
    </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text">
</p-confirmDialog>


<p-dialog header="Details Modal" [(visible)]="detailsModal" [modal]="true" [style]="{width: '50vw'}" [draggable]="true"
    [resizable]="true">
    <div class="card">
        <div class="card-header">
            <div class="text-muted d-flex align-items-center">
                <h6 class="m-0" style="width: 200px;">Title</h6>
                <h6 class="m-0">Description</h6>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive overflow-auto">
                <table class="table">
                    <tbody>
                        <tr *ngIf="currentRow?.date">
                            <td width="200">Date</td>
                            <td>{{ currentRow?.date }}</td>
                        </tr>
                        <tr *ngIf="currentRow?.agent">
                            <td width="200">Agent Name</td>
                            <td>{{ currentRow?.agent.name }}</td>
                        </tr>
                        <tr *ngIf="currentRow?.mobile">
                            <td width="200">Customer Mobile</td>
                            <td>{{ currentRow?.mobile }}</td>
                        </tr>
                        <tr *ngIf="currentRow?.customer_name">
                            <td width="200">Customer Name</td>
                            <td>{{ currentRow?.customer_name }}</td>
                        </tr>
                        <tr *ngIf="currentRow?.cid">
                            <td [width]="200">
                                Customer cid
                            </td>
                            <td>{{ currentRow?.cid }}</td>
                        </tr>
                        <tr *ngIf="currentRow?.customer_gender">
                            <td width="200">Customer Gender</td>
                            <td>{{ currentRow?.customer_gender }}</td>
                        </tr>
                        <tr *ngIf="currentRow?.emirate">
                            <td width="200">Emirate</td>
                            <td>{{ currentRow?.emirate?.en_name }}</td>
                        </tr>
                        <tr *ngIf="currentRow?.platform">
                            <td width="200">Platform</td>
                            <td>{{ currentRow?.platform }}</td>
                        </tr>
                        <tr *ngIf="currentRow?.platform_option">
                            <td width="200">Platform Option</td>
                            <td>{{ currentRow?.platform_option }}</td>
                        </tr>
                        <tr *ngIf="currentRow?.customer_status">
                            <td width="200">Customer Status</td>
                            <td>{{ currentRow?.customer_status }}</td>
                        </tr>
                        <tr *ngIf="currentRow?.customer_branch">
                            <td [width]="200">
                                Customer Branch
                            </td>
                            <td>{{ currentRow?.customer_branch }}</td>
                        </tr>
                        <tr *ngIf="currentRow?.concern">
                            <td width="200">Concern</td>
                            <td>{{ currentRow?.concern }}</td>
                        </tr>
                        <tr *ngIf="currentRow?.mode">
                            <td width="200">Mode</td>
                            <td>{{ currentRow?.mode }}</td>
                        </tr>
                        <tr *ngIf="currentRow?.mode_reason">
                            <td width="200">Mode Reason</td>
                            <td>{{ currentRow?.mode_reason }}</td>
                        </tr>
                        <tr *ngIf="currentRow?.ask_for">
                            <td width="200">Ask For</td>
                            <td>{{ currentRow?.ask_for }}</td>
                        </tr>
                        <tr *ngIf="currentRow?.ask_for_options">
                            <td width="200">Ask For Options</td>
                            <td>{{ currentRow?.ask_for_options }}</td>
                        </tr>
                        <tr *ngIf="currentRow?.actions">
                            <td width="200">Actions</td>
                            <td>{{ currentRow?.actions }}</td>
                        </tr>
                        <tr *ngIf="currentRow?.notes">
                            <td width="200">Notes</td>
                            <td>{{ currentRow?.notes }}</td>
                        </tr>



                        <!-- <tr>
                            <td [width]="200">
                                Date
                            </td>
                            <td>{{ currentRow?.date }}</td>
                        </tr> -->
                        <!-- <tr>
                            <td [width]="200">
                                Agent
                            </td>
                            <td>{{ currentRow?.agent?.name }}</td>
                        </tr> -->
                        <!-- <tr>
                            <td [width]="200">
                                Customer Mobile
                            </td>
                            <td>{{ currentRow?.mobile }}</td>
                        </tr> -->


                        <!-- <tr>
                            <td [width]="200">
                                Customer Name
                            </td>
                            <td>{{ currentRow?.customer_name }}</td>
                        </tr> -->
                        <!-- <tr>
                            <td [width]="200">
                                Gender
                            </td>
                            <td>{{ currentRow?.customer_gender }}</td>
                        </tr> -->
                        <!-- <tr>
                            <td [width]="200">
                                Notes
                            </td>
                            <td>{{ currentRow?.notes }}</td>
                        </tr> -->
                        <tr *ngFor="let item of currentRow?.data_options">
                            <td [width]="200">
                                {{ item.label }}
                            </td>
                            <td>{{ item.name }}</td>
                        </tr>
                        <ng-container *ngIf="currentRow?.files&&currentRow?.files.length">
                            <tr *ngFor="let item of currentRow?.files">
                                <td [width]="200">
                                    Files
                                </td>
                                <td class="d-flex justify-content-between align-items-center">
                                    <span *ngIf="item.type.includes('image')">
                                        <p-image [src]="'http://api.lowcalories.ae/'+item?.file" alt="Uploaded Image"
                                            width="50" [preview]="true">
                                        </p-image>
                                    </span>
                                    <span *ngIf="item.type.includes('audio')">
                                        <audio controls>
                                            <source [src]="'http://api.lowcalories.ae/'+item.file" type="audio/mpeg">
                                        </audio>
                                    </span>
                                    <span
                                        *ngIf="!item.type.includes('audio')&&!item.type.includes('image')&&!item.type.includes('video')">
                                        <a target="_blank" [href]="'http://api.lowcalories.ae/'+item.file"
                                            download>{{item.type}}</a>
                                    </span>
                                    <span *ngIf="item.type.includes('video')">
                                        <video width="250" class="m-1" controls>
                                            <source src="http://api.lowcalories.ae/{{item?.file}}">
                                        </video>
                                    </span>
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</p-dialog>

<div class="loader-container" *ngIf="isLoading || isLoadingFilter || isLoadingAgent">
    <div class="i-loader-inf-horizontal-container">
        <div class="i-loader-inf-horizontal"></div>
        <div class="pt-8px">
            <span>Processing data</span>
        </div>
    </div>
</div>

<p-dialog header="Filter Old Senario Modal" [(visible)]="filterModal1" [modal]="true" [style]="{width: '50vw'}"
    [draggable]="false" [resizable]="false">
    <div class="container">
        <form [formGroup]="filterForm1" #myForm="ngForm">
            <div class="row mx-0">
                <div class="col-xl-4 col-lg-4 col-md-6 col-12 my-3" *ngIf="superAdminPermission">
                    <label for="">Team</label>
                    <p-dropdown [options]="analyticOptions1?.teams" formControlName="team" placeholder="Select Team"
                        styleClass="w-100" appendTo="body">
                    </p-dropdown>
                </div>
                <!-- <div class="col-xl-4 col-lg-4 col-md-6 col-12 my-3" *ngIf="superAdminPermission">
                    <label for="">Agent</label>
                    <p-dropdown [options]="agents" formControlName="agent_id" placeholder="Select Agent"
                        styleClass="w-100" appendTo="body" optionLabel="label" optionValue="value" [group]="true"
                        [filter]="true">
                        <ng-template let-group pTemplate="group">
                            <div class="flex align-items-center">
                                <span>{{ group.label }}</span>
                            </div>
                        </ng-template>
                    </p-dropdown>
                </div> -->
                <div class="col-xl-4 col-lg-4 col-md-6 col-12 my-3" *ngIf="superAdminPermission">
                    <label for="">Agent</label>
                    <p-dropdown [options]="agents" formControlName="agent_id" placeholder="Select Agent"
                        styleClass="w-100" appendTo="body" optionValue="id" optionLabel="name" [filter]="true">
                    </p-dropdown>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-12 my-3">
                    <label for="">Phone Number</label>
                    <input type="text" pInputText ngClass="w-100" formControlName='mobile' maxlength="10"
                        oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" />
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-12 my-3">
                    <label for="">Customer Name</label>
                    <input type="text" pInputText ngClass="w-100" formControlName='customer_name' />
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-12 my-3">
                    <label for="">Gender</label>
                    <p-dropdown [options]="['male','female']" formControlName='customer_gender' appendTo="body"
                        styleClass="w-100" placeholder="Select Gender">
                    </p-dropdown>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-12 my-3">
                    <label for="">Emirate</label>
                    <p-dropdown [options]="analyticOptions1?.emirates" formControlName='emirate_id' appendTo="body"
                        styleClass="w-100" optionValue="id" optionLabel="en_name" placeholder="Select Emirate"
                        [filter]="true">
                    </p-dropdown>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-12 my-3">
                    <label for="">Platform</label>
                    <p-dropdown [options]="analyticOptions1?.platforms" formControlName='platform' appendTo="body"
                        optionLabel="name" optionValue="name" styleClass="w-100" placeholder="Select Platform">
                    </p-dropdown>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-12 my-3" *ngIf="platformOptions.length">
                    <label for="">Platform Option</label>
                    <p-dropdown [options]="platformOptions" formControlName='platform_option' appendTo="body"
                        optionLabel="option" optionValue="option" styleClass="w-100" placeholder="Select Option">
                    </p-dropdown>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-12 my-3">
                    <label for="">Customer Status</label>
                    <p-dropdown [options]="analyticOptions1?.customer_status" formControlName='customer_status'
                        appendTo="body" optionLabel="name" optionValue="name" styleClass="w-100"
                        placeholder="Select Status">
                    </p-dropdown>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-12 my-3"
                    *ngIf="filterForm1?.get('customer_status')?.value?.toLowerCase() != 'exist customer' && filterForm1?.get('customer_status')?.value != undefined">
                    <label for="">Concern</label>
                    <p-dropdown [options]="analyticOptions1?.concerns" formControlName='concern' appendTo="body"
                        optionLabel="name" optionValue="name" styleClass="w-100" placeholder="Select Status">
                    </p-dropdown>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-12 my-3"
                    *ngIf="filterForm1?.get('customer_status')?.value?.toLowerCase() != 'exist customer'&& filterForm1?.get('customer_status')?.value != undefined">
                    <label for="">mode</label>
                    <p-dropdown [options]="analyticOptions1?.mode" formControlName='mode' appendTo="body"
                        optionLabel="name" optionValue="name" styleClass="w-100" placeholder="Select Status">
                    </p-dropdown>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-12 my-3"
                    *ngIf="modeReasons.length && filterForm1?.get('customer_status')?.value?.toLowerCase() != 'exist customer'&& filterForm1?.get('customer_status')?.value != undefined">
                    <label for="">Mode Reason</label>
                    <p-dropdown [options]="modeReasons" formControlName='mode_reason' appendTo="body" optionLabel="name"
                        optionValue="name" styleClass="w-100" placeholder="Select Reason">
                    </p-dropdown>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-12 my-3"
                    *ngIf="filterForm1?.get('customer_status')?.value?.toLowerCase() == 'exist customer'">
                    <label for="">Ask For</label>
                    <p-dropdown [options]="['complaint','refund','update']" formControlName='ask_for' appendTo="body"
                        styleClass="w-100" placeholder="Select Ask">
                    </p-dropdown>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-12 my-3"
                    *ngIf="filterForm1?.get('customer_status')?.value?.toLowerCase() == 'exist customer'">
                    <label for="">Ask Reasons</label>
                    <p-multiSelect [options]="askReasons" appendTo="body" defaultLabel="Select Ask Reason"
                        styleClass="w-100" display="chip" formControlName='ask_for_options'></p-multiSelect>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-12 my-3"
                    *ngIf="filterForm1?.get('customer_status')?.value?.toLowerCase() == 'exist customer'">
                    <label for="">Ask Actions</label>
                    <p-multiSelect [options]="askActions" appendTo="body" defaultLabel="Select Ask Action"
                        styleClass="w-100" display="chip" formControlName='actions'></p-multiSelect>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-12 my-3">
                    <label for="range">Date Range</label>
                    <p-calendar selectionMode="range" [readonlyInput]="true" inputId="range" formControlName="date"
                        ngClass="w-100" appendTo="body">
                    </p-calendar>
                </div>
            </div>
        </form>
    </div>
    <ng-template pTemplate="footer">
        <div class="upload-btn-wrapper d-flex justify-content-between mt-3">
            <div>
                <button class="btn btn-secondary" (click)="resetFields1()">
                    Reset Fields
                </button>
            </div>
            <div>
                <button class="btn btn-primary" (click)="applyFilter1(filterForm1)">
                    Apply Filter
                </button>
                <button class="btn btn-secondary" (click)="resetFilter1()">
                    Reset Filter
                </button>
            </div>
        </div>
    </ng-template>
</p-dialog>

<p-dialog header="Upload Files" [(visible)]="uploadFilesModal" [modal]="true" [style]="{width: '50vw'}"
    [draggable]="false" [resizable]="false">
    <form [formGroup]="uploadForm" (ngSubmit)='uploadFiles(uploadForm)'>
        <div class="row mx-0">
            <div class="col-12 my-2">
                <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="file_input">
                    Upload Files</label>
                <input (change)="getUploadedFile($event)"
                    class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
                    id="file_input" type="file" accept="*/*" multiple>
            </div>

            <div class="col-12 my-3">
                <button class="btn btn-primary w-100">
                    <span *ngIf="!uploadingStatus">Add Files</span>
                    <span *ngIf="uploadingStatus">Uploading...<i class="fas fa-spinner fa-spin"></i></span>
                </button>
            </div>
        </div>
    </form>
</p-dialog>