<div class="d-flex justify-content-end align-items-center table-buttons-container">
    <div class="m-3">
        <button [disabled]="!createLeadsPermission" pButton pRipple label="Create Lead" class="p-button-success mx-1" icon="pi pi-plus" routerLink="../create"></button>
        <p-button class="mb-3 mx-2" icon="pi pi-filter" label="Filter" (click)="filterModal = true;getAllQuestions();this.getAgents();">
        </p-button>
        <p-button [disabled]="!exportPermission" class="mb-3 mx-2" icon="pi pi-file" label="Export" (click)="export()">
        </p-button>
    </div>
</div>

<div class="card">
    <p-table [value]="leads" [paginator]="true" [rows]="PaginationInfo?.per_page" [totalRecords]="PaginationInfo?.total"
        [lazy]="true" (onPage)="paginate($event)" [showCurrentPageReport]="true" responsiveLayout="scroll" (onLazyLoad)="sort($event)"
        currentPageReportTemplate="Showing {{PaginationInfo?.from}} to {{PaginationInfo?.to}} of {{PaginationInfo?.total}} entries">
        <ng-template pTemplate="header">
            <tr>
                <th class="text-center" pSortableColumn="created_at">Date <p-sortIcon field="created_at"></p-sortIcon></th>
                <th class="text-center" pSortableColumn="customer_name">Name <p-sortIcon field="customer_name"></p-sortIcon></th>
                <th class="text-center" pSortableColumn="customer_mobile">Mobile  <p-sortIcon field="customer_mobile"></p-sortIcon></th>
                <th class="text-center" pSortableColumn="customer_email">Email  <p-sortIcon field="customer_email"></p-sortIcon></th>
                <th class="text-center" pSortableColumn="status">Status  <p-sortIcon field="status"></p-sortIcon></th>
                <th class="text-center" pSortableColumn="platforms">Platform  <p-sortIcon field="platforms"></p-sortIcon></th>
                <th class="text-center" pSortableColumn="type">Type  <p-sortIcon field="type"></p-sortIcon></th>
                <th class="text-center" pSortableColumn="lead_users">Agent Assigned  <p-sortIcon field="lead_users"></p-sortIcon></th>
                <th class="text-center" pSortableColumn="user_created[name]">Created By  <p-sortIcon field="user_created[name]"></p-sortIcon></th>
                <th class="text-center">Actions</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-lead>
            <tr>
                <td class="text-center">{{lead?.created_at | date}}</td>
                <td class="text-center">{{lead?.customer_name}}</td>
                <td class="text-center">{{lead?.customer_mobile}}</td>
                <td class="text-center">{{lead?.customer_email}}</td>
                <td class="text-center">{{lead?.status}}</td>
                <td class="text-center">{{lead?.platforms}}</td>
                <td class="text-center">{{lead?.type}}</td>
                <td class="text-center">
                    <div *ngFor="let user of lead?.lead_users">
                        {{user.user.name}}
                    </div>
                </td>
                <td class="text-center">{{lead?.user_created.name}}</td>
                <td class="text-center">
                    <button pButton type="button" icon="pi pi-eye" (click)="showRow(lead)"
                    class="m-1 p-button-sm"></button>
                    <button  [disabled]="!updatePermission" pButton type="button" icon="pi pi-pencil" (click)="displayUpdateModal(lead)"
                        class="m-1 p-button-sm p-button-warning"></button>
                    <button pButton type="button" icon="pi pi-check-square" (click)="answerLead(lead?.id)"
                    [disabled]="!answerPermission"  class="m-1 p-button-sm p-button-success"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-dialog header="Filter Leads Modal" [(visible)]="filterModal" [modal]="true" [style]="{width: '50vw'}"
    [draggable]="false" [resizable]="false">
    <div class="container">
        <form [formGroup]="filterForm" #myForm="ngForm">
            <div class="row mx-0">
                <div class="col-lg-6 col-12 my-2">
                    <label for="">Questions</label>
                    <p-dropdown [options]="questions" optionLabel="question" optionValue="id" styleClass="w-100"
                        appendTo="body" placeholder="Select Question" (onChange)="onSelectQuestion($event)" formControlName='lead_question_id'>
                    </p-dropdown>
                </div>
                <div class="col-lg-6 col-12 my-2">
                    <label for="">Answers</label>
                    <p-dropdown [options]="answers" optionLabel="type_value" optionValue="id" styleClass="w-100"
                        appendTo="body" placeholder="Select Answer" formControlName='lead_answer_id'>
                    </p-dropdown>
                </div>
                <div class="col-lg-6 col-12 my-2">
                    <label for="">Lead Assigned</label>
                    <p-dropdown [options]="agents" optionLabel="name" optionValue="id" styleClass="w-100"
                        appendTo="body" placeholder="Select Agent" formControlName='assigned_id'>
                    </p-dropdown>
                </div>
                <div class="col-lg-6 col-12 my-2">
                    <label for="">client_number</label>
                    <input type="text" pInputText ngClass="w-100" formControlName='customer_mobile' maxlength="10"
                    oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"/>
                </div>
                <div class="col-lg-6 col-12 my-2">
                    <label for="">client_name</label>
                    <input type="text" pInputText ngClass="w-100" formControlName='customer_name' />
                </div>
                <div class="col-lg-6 col-12 my-2">
                    <label for="">client_email</label>
                    <input type="email" pInputText ngClass="w-100" formControlName='customer_email' />
                </div>
                <div class="col-lg-6 col-12 my-2">
                    <label for="">Assigned</label>
                    <p-dropdown [options]="assigned" optionLabel="name" optionValue="value" styleClass="w-100"
                    appendTo="body" placeholder="Select Assigned Status" formControlName='assigned'>
                    </p-dropdown>
                </div>
                <div class="col-lg-6 col-12 my-2">
                    <label for="">Replied</label>
                    <p-dropdown [options]="replied" optionLabel="name" optionValue="value" styleClass="w-100"
                    appendTo="body" placeholder="Select Replied Status" formControlName='replied'>
                    </p-dropdown>
                </div>
                <div class="col-12 my-2">
                    <label for="range">Date Range</label>
                    <p-calendar selectionMode="range" [readonlyInput]="true" inputId="range" formControlName="date"
                        ngClass="w-100" appendTo="body">
                    </p-calendar>
                </div>
            </div>
        </form>
    </div>
    <ng-template pTemplate="footer">
        <div class="upload-btn-wrapper d-flex justify-content-between mt-3">
            <div>
                <button class="btn btn-secondary" (click)="resetFields()">
                    Reset Fields
                </button>
            </div>
            <div>
                <button class="btn btn-primary" (click)="applyFilter(filterForm)">
                    Apply Filter
                </button>
                <button class="btn btn-secondary" (click)="resetFilter()">
                    Reset Filter
                </button>
            </div>
        </div>
    </ng-template>
</p-dialog>

<p-dialog header="Update Lead Status Modal" [(visible)]="updateModal" [modal]="true" [style]="{width: '50vw'}"
    [draggable]="false" [resizable]="false">
    <div class="container">
        <div class="row">
            <div class="col-12 my-2">
                <label for="">Status</label>
                <p-dropdown [options]="status" appendTo="body" styleClass="w-100" [(ngModel)]="currentEditStatus" placeholder="Select Status">
                </p-dropdown>
            </div>
            <div class="col-12 my-2" *ngIf="currentEditStatus == 'lost'">
                <label for="">reason</label>
                <p-multiSelect [options]="reasons" appendTo="body" optionLabel="name" optionValue="name" 
                defaultLabel="Select Reasons" styleClass="w-100" display="chip" [(ngModel)]="currentEditReason">
                </p-multiSelect>
            </div>
            <div class="col-12 my-2">
                <textarea pInputTextarea ngClass="w-100" #textareaNotes placeholder="Write a comment"></textarea>
            </div>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <div>
            <button class="btn btn-primary" (click)="updateRow(currentEditStatus,currentEditReason,textareaNotes)" 
                [disabled]="(currentEditStatus == 'lost' && !currentEditReason) ||  (currentEditStatus != 'lost' && !currentEditStatus)">
                Update Status
            </button>
        </div>
    </ng-template>
</p-dialog>