<div class="d-flex justify-content-end align-items-center">
    <div class="mb-3">
        <p-button class="mb-3 mx-2" icon="pi pi-filter" label="Filter" (click)="filterModal = true;getAllQuestions();this.getAgents();">
        </p-button>
    </div>
</div>
<div class="card">
    <p-table [value]="leads" [paginator]="true" [rows]="PaginationInfo?.per_page" [totalRecords]="PaginationInfo?.total"
        [lazy]="true" (onPage)="paginate($event)" [showCurrentPageReport]="true" responsiveLayout="scroll"
        currentPageReportTemplate="Showing {{PaginationInfo?.from}} to {{PaginationInfo?.to}} of {{PaginationInfo?.total}} entries">
        <ng-template pTemplate="header">
            <tr>
                <!-- <th class="text-center">Date</th> -->
                <th class="text-center">Name</th>
                <th class="text-center">Mobile</th>
                <th class="text-center">Email</th>
                <th class="text-center">Actions</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-lead>
            <tr>
                <!-- <td class="text-center">{{lead?.created_at | date}}</td> -->
                <td class="text-center">{{lead?.customer_name}}</td>
                <td class="text-center">{{lead?.customer_mobile}}</td>
                <td class="text-center">{{lead?.customer_email}}</td>
                <td class="text-center">
                    <button pButton type="button" icon="pi pi-eye" (click)="showRow(lead?.id)"
                        class="m-1 p-button-sm"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-dialog header="Filter Leads Modal" [(visible)]="filterModal" [modal]="true" [style]="{width: '50vw'}"
    [draggable]="false" [resizable]="false">
    <div class="container">
        <div class="row mx-0">
            <div class="col-md-6 my-3">
                <label for="">Questions</label>
                <p-dropdown #filter1 [options]="questions" optionLabel="question" optionValue="id" styleClass="w-100"
                    appendTo="body" placeholder="Select Question" (onChange)="onSelectQuestion($event)">
                </p-dropdown>
            </div>
            <div class="col-md-6 my-3">
                <label for="">Answers</label>
                <p-dropdown #filter7 [options]="answers" optionLabel="type_value" optionValue="id" styleClass="w-100"
                    appendTo="body" placeholder="Select Answer">
                </p-dropdown>
            </div>
            <div class="col-md-6 my-3">
                <label for="">Lead Assigned</label>
                <p-dropdown #filter2 [options]="agents" optionLabel="name" optionValue="id" styleClass="w-100"
                    appendTo="body" placeholder="Select Agent">
                </p-dropdown>
            </div>
            <div class="col-md-6 my-3">
                <label for="">customer_name</label>
                <input type="text" pInputText ngClass="w-100"  #filter4 />
            </div>
            <div class="col-md-6 my-3">
                <label for="">customer_mobile</label>
                <input type="text" pInputText ngClass="w-100" #filter5 />
            </div>
            <div class="col-md-6 my-3">
                <label for="">customer_email</label>
                <input type="text" pInputText ngClass="w-100" #filter6 />
            </div>
            <div class="col-md-6 my-3">
                <label for="range">Date Range</label>
                <p-calendar [(ngModel)]="rangeDates" selectionMode="range" [readonlyInput]="true" inputId="range"
                #filter3 ngClass="w-100" appendTo="body">
            </p-calendar>
        </div>
        <div class="col-md-6 my-3">
            <label for="">Assigned</label>
            <p-dropdown #filter8 [options]="assigned" optionLabel="name" optionValue="value" styleClass="w-100"
            appendTo="body" placeholder="Select Assigned Status">
            </p-dropdown>
        </div>
        <div class="col-md-6 my-3">
            <label for="">Replied</label>
            <p-dropdown #filter9 [options]="replied" optionLabel="name" optionValue="value" styleClass="w-100"
            appendTo="body" placeholder="Select Replied Status">
            </p-dropdown>
        </div>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <div class="upload-btn-wrapper">
            <button class="btn btn-primary" (click)="filter(filter1,filter2,filter3,filter4,filter5,filter6,filter7,filter8,filter9);filterModal = false;">
                Apply Filter
            </button>
            <button class="btn btn-secondary" (click)="resetFilter(filter1,filter2,filter3,filter4,filter5,filter6,filter7,filter8,filter9)">
                Reset Filter
            </button>
        </div>
    </ng-template>
</p-dialog>