<div class="row">
  <div class="col-xl-3 col-lg-6 col-md-6 my-2">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="fa fa-star text-warning"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Total Leads</p>
              <p class="card-title">{{totalLeads}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <hr>
        <div class="stats">
          <i class="fas fa-sync-alt"></i> Update Now
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-6 col-md-6 my-2">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="fas fa-headset text-success"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Total Calls</p>
              <p class="card-title">{{reminded}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fas fa-sync-alt"></i> Update Now
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-6 col-md-6 my-2">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="fas fa-user-tag text-main"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Total Targets</p>
              <p class="card-title">{{oldLeads}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fas fa-sync-alt"></i> Update Now
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-6 col-md-6 my-2">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="far fa-comment-dots text-danger"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Reminder Messages</p>
              <p class="card-title">{{leadsMessages}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fas fa-sync-alt"></i> Update Now
        </div>
      </div>
    </div>
  </div>


</div>

<div *ngIf="isSuperAdmin">
  <form [formGroup]='staticsForm' (ngSubmit)='getStatics(staticsForm)'>
    <div class="row">
      <div class="col-md-4 my-2" *ngFor="let label of labels | keyvalue; let i = index">
        <label>
          {{i+1}}-{{label.key}}
        </label>
        <p-dropdown [options]="label.value" styleClass="w-100" placeholder="Select Filter" optionLabel="name"
          appendTo="body" [filter]="true" (onShow)="loadDropDown(label.key)" [formControlName]="label.key">
        </p-dropdown>
      </div>
    </div>
    <div class="d-flex justify-content-between">
      <button class="btn btn-secondary px-4" type="button" (click)="reset()">
        <b>Reset Fields</b>
      </button>
      <button class="btn btn-success px-4">
        <b>Get Statics</b>
      </button>
    </div>
  </form>
</div>

<div class="row mt-4" *ngIf="displayChart">
  <div class="col-xl-3 col-lg-6 col-md-6 my-2" *ngFor="let static of statics">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning text-secondary">
              <i class="fas fa-chart-pie"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">{{static.name}}</p>
              <p class="card-title">Total {{static.count}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <hr>
        <div class="stats">
          <i class="fa fa-star text-warning"></i> {{static.label}}
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12 my-2">
    <div class="card ">
      <div class="card-header ">
        <h5 class="card-title">Data Analytics</h5>
        <p class="card-category">24 Hours Statistics</p>
      </div>
      <div class="card-body ">
        <div class="chart-container">
          <canvas id="MyChart">{{ chart }}</canvas>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-history"></i> Updated 0 minutes ago
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="col-xl-6 my-2">
    <div class="card ">
      <div class="card-header ">
        <h5 class="card-title">Company Social Media</h5>
        <p class="card-category">Followers</p>
      </div>
      <div class="card-body ">
        <div class="chart-container">
          <canvas id="MyChart2">{{ chart2 }}</canvas>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-history"></i> Updated 2 hours ago
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-6 my-2">
    <div class="card ">
      <div class="card-header ">
        <h5 class="card-title">Departments</h5>
        <p class="card-category">Performance</p>
      </div>
      <div class="card-body ">
        <div class="chart-container">
          <canvas id="MyChart3">{{ chart3 }}</canvas>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-history"></i> Updated 30 minutes ago
        </div>
      </div>
    </div>
  </div> -->
</div>


<div class="loader-container" *ngIf="isLoading">
  <div class="i-loader-inf-horizontal-container">
    <div class="i-loader-inf-horizontal"></div>
    <div class="pt-8px">
      <span>Processing data</span>
    </div>
  </div>
</div>