<div class="d-flex justify-content-end align-items-center">
    <div class="mb-3">
        <button pButton pRipple label="Create Refund" class="p-button-success mx-1" icon="pi pi-plus"
            routerLink="../create"></button>
        <p-button class="mb-3 mx-1" icon="pi pi-filter" label="Filter" (click)="filterModal = true;">
        </p-button>
        <p-button class="mx-1" icon="pi pi-file" label="Export as Excel" (click)="export()">
        </p-button>
        <p-button class="mx-1" icon="pi pi-file" label="Export as PDF" (click)="exportAsPDF()"
            *ngIf="allRefunds.length">
        </p-button>
        <p-button (click)="filterColumns = true" class="mb-3 mx-2" icon="pi pi-sliders-v" label="Select Columns">
        </p-button>
    </div>
</div>

<div class="card">
    <p-table [value]="refunds" [paginator]="true" [rows]="PaginationInfo?.per_page"
        [totalRecords]="PaginationInfo?.total" [lazy]="true" (onPage)="paginate($event)" [showCurrentPageReport]="true"
        responsiveLayout="scroll"
        currentPageReportTemplate="Showing {{PaginationInfo?.from}} to {{PaginationInfo?.to}} of {{PaginationInfo?.total}} entries">
        <ng-template pTemplate="header">
            <tr>
                <th class="text-center">
                    Select Columns
                </th>
                <th class="text-center" *ngIf="columns[0].status">id</th>
                <th class="text-center" *ngIf="columns[1].status">account_hold_name</th>
                <th class="text-center" *ngIf="columns[2].status">address</th>
                <th class="text-center" *ngIf="columns[3].status">agent_id</th>
                <th class="text-center" *ngIf="columns[4].status">agent_name</th>
                <th class="text-center" *ngIf="columns[5].status">amount_paid</th>
                <th class="text-center" *ngIf="columns[6].status">bank_account_number</th>
                <th class="text-center" *ngIf="columns[7].status">bank_name</th>
                <th class="text-center" *ngIf="columns[8].status">branch</th>
                <th class="text-center" *ngIf="columns[9].status">cid</th>
                <th class="text-center" *ngIf="columns[10].status">created_at</th>
                <th class="text-center" *ngIf="columns[11].status">delivery_branch</th>
                <th class="text-center" *ngIf="columns[12].status">email</th>
                <th class="text-center" *ngIf="columns[13].status">iban</th>
                <th class="text-center" *ngIf="columns[14].status">mobile</th>
                <th class="text-center" *ngIf="columns[15].status">name</th>
                <th class="text-center" *ngIf="columns[16].status">payment_method</th>
                <th class="text-center" *ngIf="columns[17].status">reason</th>
                <th class="text-center" *ngIf="columns[18].status">remaining_days</th>
                <th class="text-center" *ngIf="columns[19].status">subscription_plan</th>
                <th class="text-center">Actions</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-refund>
            <tr>
                <td class="text-center">
                    <input type="checkbox" #areaIdInput (click)="getSpecificRows(areaIdInput)" [value]="refund.id">
                </td>
                <td class="text-center" *ngIf="columns[0].status">{{refund.id}}</td>
                <td class="text-center" *ngIf="columns[1].status">{{refund.account_hold_name}}</td>
                <td class="text-center" *ngIf="columns[2].status">{{refund.address}}</td>
                <td class="text-center" *ngIf="columns[3].status">{{refund.agent_id}}</td>
                <td class="text-center" *ngIf="columns[4].status">{{refund.agent_name}}</td>
                <td class="text-center" *ngIf="columns[5].status">{{refund.amount_paid}}</td>
                <td class="text-center" *ngIf="columns[6].status">{{refund.bank_account_number}}</td>
                <td class="text-center" *ngIf="columns[7].status">{{refund.bank_name}}</td>
                <td class="text-center" *ngIf="columns[8].status">{{refund.branch}}</td>
                <td class="text-center" *ngIf="columns[9].status">{{refund.cid}}</td>
                <td class="text-center" *ngIf="columns[10].status">{{refund.created_at}}</td>
                <td class="text-center" *ngIf="columns[11].status">{{refund.delivery_branch}}</td>
                <td class="text-center" *ngIf="columns[12].status">{{refund.email}}</td>
                <td class="text-center" *ngIf="columns[13].status">{{refund.iban}}</td>
                <td class="text-center" *ngIf="columns[14].status">{{refund.mobile}}</td>
                <td class="text-center" *ngIf="columns[15].status">{{refund.name}}</td>
                <td class="text-center" *ngIf="columns[16].status">{{refund.payment_method}}</td>
                <td class="text-center" *ngIf="columns[17].status">{{refund.reason}}</td>
                <td class="text-center" *ngIf="columns[18].status">{{refund.remaining_days}}</td>
                <td class="text-center" *ngIf="columns[19].status">{{refund.subscription_plan}}</td>
                <td class="text-center">
                    <button pButton type="button" icon="pi pi-upload" class="m-1 p-button-sm p-button-success"
                        (click)="displayReportModal(refund.id)" *ngIf="role == 'super_admin' || role == 'accounting'"></button>
                    <button pButton type="button" icon="pi pi-eye" (click)="showRow(refund)"
                        class="m-1 p-button-sm"></button>
                    <button pButton type="button" icon="pi pi-print" class="m-1 p-button-sm p-button-secondary"
                        (click)="print(refund)"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-dialog header="Filter Refund Modal" [(visible)]="filterModal" [modal]="true" [style]="{width: '50vw'}"
    [draggable]="false" [resizable]="false">
    <div class="container">
        <form [formGroup]="filterForm" #myForm="ngForm">
            <div class="row mx-0">
                <div class="col-lg-6 col-12 my-2">
                    <label for="">cid</label>
                    <input type="text" pInputText ngClass="w-100" formControlName='cid' />
                </div>
                <div class="col-lg-6 col-12 my-2">
                    <label for="">mobile</label>
                    <input type="text" pInputText ngClass="w-100" formControlName='mobile' />
                </div>
                <div class="col-lg-6 col-12 my-2">
                    <label for="">Delivery Branch</label>
                    <p-dropdown [options]="branches" optionLabel="name" optionValue="name"
                        formControlName='delivery_branch' appendTo="body" styleClass="w-100" placeholder="Select Branch"
                        [filter]="true">
                    </p-dropdown>
                </div>
                <div class="col-lg-6 col-12 my-2">
                    <label for="">Paid Branch</label>
                    <p-dropdown [options]="branches" optionLabel="name" optionValue="name" formControlName='branch'
                        appendTo="body" styleClass="w-100" placeholder="Select Branch" [filter]="true">
                    </p-dropdown>
                </div>
                <div class="col-lg-6 col-12 my-2">
                    <label for="">Agent</label>
                    <p-dropdown [options]="agents" optionLabel="name" optionValue="id" formControlName='agent_id'
                        appendTo="body" styleClass="w-100" placeholder="Select Agent" [filter]="true">
                    </p-dropdown>
                </div>
                <div class="col-lg-6 col-12 my-2">
                    <label for="">Reasons</label>
                    <p-dropdown [options]="reasons" optionLabel="reason" optionValue="reason" formControlName='reason'
                        appendTo="body" styleClass="w-100" placeholder="Select Reason" [filter]="true">
                    </p-dropdown>
                </div>
                <!-- <div class="col-lg-6 col-12 my-2">
                    <label for="">name</label>
                    <input type="text" pInputText ngClass="w-100" formControlName='name' />
                </div>
                <div class="col-lg-6 col-12 my-2">
                    <label for="">email</label>
                    <input type="text" pInputText ngClass="w-100" formControlName='email' />
                </div> -->

                <!-- <div class="col-lg-6 col-12 my-2">
                    <label for="">subscription_plan</label>
                    <input type="text" pInputText ngClass="w-100" formControlName='subscription_plan' />
                </div>
                <div class="col-lg-6 col-12 my-2">
                    <label for="">remaining_days</label>
                    <input type="text" pInputText ngClass="w-100" formControlName='remaining_days' />
                </div>
                <div class="col-lg-6 col-12 my-2">
                    <label for="">payment_method</label>
                    <input type="text" pInputText ngClass="w-100" formControlName='payment_method' />
                </div> -->

                <!-- <div class="col-lg-6 col-12 my-2">
                    <label for="">address</label>
                    <input type="text" pInputText ngClass="w-100" formControlName='address' />
                </div>
                <div class="col-lg-6 col-12 my-2">
                    <label for="">bank_name</label>
                    <input type="text" pInputText ngClass="w-100" formControlName='bank_name' />
                </div>
                <div class="col-lg-6 col-12 my-2">
                    <label for="">iban</label>
                    <input type="text" pInputText ngClass="w-100" formControlName='iban' />
                </div>
                <div class="col-lg-6 col-12 my-2">
                    <label for="">bank_account_number</label>
                    <input type="text" pInputText ngClass="w-100" formControlName='bank_account_number' />
                </div>
                <div class="col-lg-6 col-12 my-2">
                    <label for="">account_hold_name</label>
                    <input type="text" pInputText ngClass="w-100" formControlName='account_hold_name' />
                </div> -->

            </div>
        </form>
    </div>
    <ng-template pTemplate="footer">
        <div class="upload-btn-wrapper d-flex justify-content-between mt-3">
            <div>
                <button class="btn btn-secondary" (click)="resetFields()">
                    Reset Fields
                </button>
            </div>
            <div>
                <button class="btn btn-primary" (click)="insertRow(filterForm)">
                    Apply Filter
                </button>
                <button class="btn btn-secondary" (click)="resetFilter()">
                    Reset Filter
                </button>
            </div>
        </div>
    </ng-template>
</p-dialog>

<p-dialog header="Select Your Columns" [(visible)]="filterColumns" [modal]="true" [style]="{width: '50vw'}"
    [draggable]="false" [resizable]="false">
    <div class="container" #checkboxContainer>
        <div class="field-checkbox my-3" *ngFor="let obj of columns">
            <p-checkbox name="group1" [value]="obj.name" [(ngModel)]="selectedColumns" [inputId]="obj.name">
            </p-checkbox>
            <label class="mx-3" [for]="obj.name">{{obj.name}}</label>
        </div>
        <div class="field-checkbox my-3">
            <p-checkbox name="group1" #currentCheckbox (click)="selectAllColumns(checkboxContainer,currentCheckbox)"
                value="selectAll" inputId="c100"></p-checkbox>
            <label class="mx-3" for="c100">Select All</label>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <div class="upload-btn-wrapper">
            <button class="btn btn-primary" (click)="filterColumns = false;getFilterColumns()">Apply</button>
        </div>
    </ng-template>
</p-dialog>

<p-dialog header="Upload Report" [(visible)]="reportModal" [modal]="true" [style]="{width: '50vw'}" [draggable]="false"
    [resizable]="false">
    <form [formGroup]="reportForm" (ngSubmit)='insertReport(reportForm)'>
        <div class="row mx-0">
            <div class="col-12 my-2">
                <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="file_input">Upload
                    Image</label>
                <input (change)="getUploadedFile($event)"
                    class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
                    id="file_input" type="file" accept="image/*">
            </div>
            <div class="col-12 my-2">
                <label for="">Note</label>
                <textarea pInputTextarea ngClass="w-100" formControlName='notes'></textarea>
            </div>

            <div class="col-12 my-3">
                <button class="btn btn-primary w-100">
                    <span *ngIf="!uploadingStatus">Add Report</span>
                    <span *ngIf="uploadingStatus">Uploading...<i class="fas fa-spinner fa-spin"></i></span>
                </button>
            </div>
        </div>
    </form>
</p-dialog>