<div class="row animated">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="col-md-12">
                    <div class="card card-plain">
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <h4 class="card-title">Complaint Info</h4>
                            <div>
                                <button class="btn btn-dark" (click)="backDetailsBtn()">Back</button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive overflow-auto">
                                <table class="table">
                                    <thead class="text-muted">
                                        <th class="py-3">Title</th>
                                        <th class="py-3">Description</th>
                                    </thead>
                                    <tbody>
                                        <tr *ngIf="isSuperAdmin">
                                            <td>Date</td>
                                            <td>{{complaint?.date | date}}</td>
                                        </tr>
                                        <tr>
                                            <td>client_number</td>
                                            <td>{{complaint?.c_mobile}}</td>
                                        </tr>
                                        <tr>
                                            <td>client_cid</td>
                                            <td>{{complaint?.cid}}</td>
                                        </tr>
                                        <tr>
                                            <td>client_name</td>
                                            <td>{{complaint?.c_name}}</td>
                                        </tr>
                                        <tr>
                                            <td>agent</td>
                                            <td>{{complaint?.agent_name}}</td>
                                        </tr>
                                        <tr>
                                            <td>branch</td>
                                            <td>{{complaint?.branch}}</td>
                                        </tr>
                                        <tr>
                                            <td>action</td>
                                            <td>{{complaint?.action}}</td>
                                        </tr>
                                        <tr>
                                            <td>status</td>
                                            <td>{{complaint?.status}}</td>
                                        </tr>
                                        <tr>
                                            <td>issue_details</td>
                                            <td>{{complaint?.issue_details}}</td>
                                        </tr>
                                        <tr>
                                            <td>feedback_type</td>
                                            <td>{{complaint?.feedback_type}}</td>
                                        </tr>
                                        <tr>
                                            <td>order_type</td>
                                            <td>{{complaint?.order_type}}</td>
                                        </tr>
                                        <tr>
                                            <td>issue_category</td>
                                            <td>{{complaint?.issue_category}}</td>
                                        </tr>
                                        <tr *ngIf="complaint?.reason">
                                            <td>reason</td>
                                            <td>{{complaint?.reason}}</td>
                                        </tr>
                                        <tr>
                                            <td>Files</td>
                                            <td>
                                                <span *ngIf="files?.length">
                                                    <small *ngFor="let f of files" style="display: block;" class="my-2">
                                                        <span *ngIf="f.type.includes('image')">
                                                            <p-image [src]="'http://api.lowcalories.ae/'+f?.file"
                                                                alt="Uploaded Image" width="250" [preview]="true">
                                                            </p-image>
                                                        </span>
                                                        <span *ngIf="f.type.includes('audio')">
                                                            <audio controls>
                                                                <source [src]="'http://api.lowcalories.ae/'+f.file"
                                                                    type="audio/mpeg">
                                                            </audio>
                                                        </span>
                                                        <span
                                                            *ngIf="!f.type.includes('audio')&&!f.type.includes('image')&&!f.type.includes('video')">
                                                            <a target="_blank"
                                                                [href]="'http://api.lowcalories.ae/'+f.file"
                                                                download>{{f.type}}</a>
                                                        </span>
                                                        <span *ngIf="f.type.includes('video')">
                                                            <video width="250" class="m-1" controls>
                                                                <source src="http://api.lowcalories.ae/{{f?.file}}">
                                                            </video>
                                                        </span>
                                                    </small>
                                                </span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>