#invoice{
    padding: 5px 10px;
}

.invoice {
    position: relative;
    // min-height: 680px;
    /* padding: 15px */
    background-color: #F2F3F8;
}

.invoice header {
    padding: 10px 0;
    margin-bottom: 20px;
    border-bottom: 1px solid #3989c6
}

.invoice .company-details {
    text-align: right
}

.invoice .company-details .name {
    margin-top: 0;
    margin-bottom: 0
}

.invoice .contacts {
    margin-bottom: 20px
}

.invoice .invoice-to {
    text-align: right
}

.invoice .invoice-to .to {
    margin-top: 0;
    margin-bottom: 0
}

.invoice .invoice-details {
    text-align: left
}

.invoice .invoice-details .invoice-id {
    margin-top: 0;
    color: #3989c6
}

/* .invoice main {
    padding-bottom: 50px
} */

/* table */
.invoice table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 20px
}

.invoice table td,.invoice table th {
    padding: 15px;
    background: #eee;
    border-bottom: 1px solid #fff
}

.invoice table th {
    white-space: nowrap;
    font-weight: 400;
    font-size: 16px
}

.invoice table td h3 {
    margin: 0;
    font-weight: 400;
    color: #3989c6;
    font-size: 1.2em
}

.invoice table .qty,.invoice table .total,.invoice table .unit {
    font-size: 1.2em
}

.invoice table .no {
    color: #fff;
    font-size: 1.6em;
    background: #3989c6
}

.invoice table .unit {
    background: #ddd
}

.invoice table .total {
    background: #3989c6;
    color: #fff
}

.invoice table tbody tr:last-child td {
    border: none
}

@media print {
    .invoice {
        font-size: 11px!important;
        overflow: hidden!important
    }
    .hidden-print {
        display: none !important;
    }
    main{
        flex-direction: column;
    }
}
@media screen and (max-width:1360px) {
    main{
        flex-direction: column;
    }
}

#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}
#customers tr:nth-child(even){background-color: #f2f2f2;}
#customers tr:hover {background-color: #ddd;}
#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #3989C6;
  color: white;
}

#customers tr td:first-child {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #3989C6;
  color: white;
}