<section>
    <div class="d-flex justify-content-between align-items-center">
        <h2>Subscription Details</h2>
        <div>
            <button *ngIf="sub?.created_date && sub.created_date > '2023-07-29'" [disabled]="!printPermission" class="btn text-white mx-1 btn-success"
                (click)="printAccountantTaxInvoice(sub)">Print Accountant Tax Invoice</button>
                <button [disabled]="!printPermission" class="btn text-white mx-1 btn-success"
                (click)="printTaxInvoice(sub)">Print Tax Invoice</button>
            <button [disabled]="!printPermission" class="btn text-white mx-1 btn-success"
                (click)="printPage()">Print Invoice Details</button>
            <button class="btn btn-dark mx-1" (click)="backDetailsBtn()">Back</button>
        </div>
    </div>
    <hr>
    <div id="invoice">
        <div class="invoice overflow-auto" *ngIf="sub">
            <div>
                <main class="d-flex flex-wraps">
                    <table cellspacing="0" cellpadding="0" style="text-align: center">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th colspan="6"><i>Subscription Deatils</i></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="no">01</td>
                                <td class="text-center">
                                    <h3>INVOICE NO</h3>
                                </td>
                                <td colspan="6" class="text-right" style="padding-right: 50px;">
                                    <span>{{ sub.invoice_no }}</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="no">02</td>
                                <td class="text-center">
                                    <h3>PROGRAM</h3>
                                </td>
                                <td style="font-size: 14px;">
                                    <span> {{sub.subscriptions_note.split('-')[1]}}
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        {{sub.full_plan_name.split('-')[0] + ""}}
                                        &#160;&#160;&#160;&#160;&#160;
                                        {{sub.full_plan_name.split('-')[2] + ""}}
                                        &#160;&#160;&#160;&#160;&#160;
                                        {{sub.full_plan_name.split('-')[3]}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="no">03</td>
                                <td class="text-center">
                                    <h3>PLAN TITLE</h3>
                                </td>
                                <td colspan="6" class="text-right" style="padding-right: 50px;font-size: 15px;">
                                    <span>{{ sub.subscriptions_note }}</span>                                    
                                </td>
                            </tr>
                            <tr>
                                <td class="no">04</td>
                                <td class="text-center">
                                    <h3>MEAL TYPES</h3>
                                </td>
                                <td colspan="6" class="text-right" style="padding-right: 50px;font-size: 15px;">
                                    <span>{{ replaceMeals(sub.dislike).join(" - ") }}</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="no">05</td>
                                <td class="text-center">
                                    <h3>Need Cutlery?</h3>
                                </td>
                                <td colspan="6" class="text-right" style="padding-right: 50px;font-size: 15px;">
                                    <span>{{ sub.cutlery == 'checked' ? "yes" : "no" }}</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="no">06</td>
                                <td class="text-center">
                                    <h3>Dislike Meals</h3>
                                </td>
                                <td colspan="6" class="text-right" style="padding-right: 50px;font-size: 15px;">
                                    <span>{{ sub.dis_like_user }}</span>
                                </td>
                            </tr>
                            <tr *ngIf="sub.agent">
                                <td class="no">07</td>
                                <td class="text-center">
                                    <h3>Agent</h3>
                                </td>
                                <td colspan="6" class="text-right" style="padding-right: 50px;font-size: 15px;">
                                    <span>{{ sub.agent.name }}</span>
                                </td>
                            </tr>
                            <tr *ngIf="sub.program_id == 50 || sub.program_id < 15">
                                <td class="no">{{sub.agent? '08': '07'}}</td>
                                <td class="text-center">
                                    <h3>Confirmed Terms</h3>
                                </td>
                                <td colspan="6" class="text-right" style="padding-right: 50px;font-size: 15px;">
                                    <span>YES</span>
                                </td>
                            </tr>
                            <!-- <tr>
                                <td class="no">05</td>
                                <td class="text-center">
                                    <h3>TOTAL</h3>
                                </td>
                                <td colspan="6" class="text-right" style="padding-right: 50px;">
                                    <span>1,200.00 <sub>AED</sub></span>
                                </td>
                            </tr>
                            <tr>
                                <td class="no">06</td>
                                <td class="text-center">
                                    <h3>DISCOUNT</h3>
                                </td>
                                <td colspan="6" class="text-right" style="padding-right: 50px;">
                                    <span>0%</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="no">07</td>
                                <td class="text-center">
                                    <h3>GRAND TOTAL</h3>
                                </td>
                                <td colspan="6" class="text-right" style="padding-right: 50px;">
                                    <span>1,200.00 <sub>AED</sub></span>
                                </td>
                            </tr> -->
                        </tbody>
                    </table>
    
                    <table cellspacing="0" cellpadding="0" style="text-align: center">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th colspan="4"><i>Personal Deatils</i></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="no">01</td>
                                <td class="text-center">
                                    <h3>First Name</h3>
                                </td>
                                <td >
                                    <span>{{ sub.user.first_name }}</span>
                                </td>
                                <td class="text-center">
                                    <h3>Last Name</h3>
                                </td>
                                <td >
                                    <span>{{ sub.user.last_name }}</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="no">02</td>
                                <td class="text-center">
                                    <h3>Gender</h3>
                                </td>
                                <td>
                                    <span>{{ sub.user.gender }}</span>
                                </td>
                                <td class="text-center">
                                    <h3>Birth Date</h3>
                                </td>
                                <td>
                                    <span>{{ sub.user.birthday }}</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="no">03</td>
                                <td class="text-center">
                                    <h3>Height</h3>
                                </td>
                                <td>
                                    <span>{{ sub.user.height }}</span>
                                </td>
                                <td class="text-center">
                                    <h3>Weight</h3>
                                </td>
                                <td>
                                    <span>{{ sub.user.Weight }}</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="no">04</td>
                                <td class="text-center">
                                    <h3>Email</h3>
                                </td>
                                <td style="word-break: break-all;">
                                    <span>{{ sub.user.email }}</span>
                                </td>
                                <td class="text-center">
                                    <h3>Land Line</h3>
                                </td>
                                <td >
                                    <span>{{ sub.user.land_line }}</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="no">05</td>
                                <td class="text-center">
                                    <h3>Mobile Number</h3>
                                </td>
                                <td >
                                    <span>{{ sub.user.phone_number }}</span>
                                </td>
                                <td class="text-center">
                                    <h3>Second Mobile Number</h3>
                                </td>
                                <td >
                                    <span>{{ sub.user.second_phone_number }}</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="no">06</td>
                                <td class="text-center">
                                    <h3>Note</h3>
                                </td>
                                <td colspan="3">
                                    <span>{{ sub.note }}</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
    
                    <table cellspacing="0" cellpadding="0" style="text-align: center">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th colspan="4"><i>Delivery Deatils</i></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="no">01</td>
                                <td class="text-center">
                                    <h3>Start Date</h3>
                                </td>
                                <td colspan="3">
                                    <span>{{ sub.delivery_starting_day }}</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="no">02</td>
                                <td class="text-center">
                                    <h3>Emirate</h3>
                                </td>
                                <td >
                                    <span>{{ sub.location.emirate.en_name }}</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="no">03</td>
                                <td class="text-center">
                                    <h3>Land mark</h3>
                                </td>
                                <td colspan="3">
                                    <span>{{ sub.location.landmark }}</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="no">04</td>
                                <td class="text-center">
                                    <h3>Villa / Flat</h3>
                                </td>
                                <td colspan="3">
                                    <span>{{ sub.location.property_number }}</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="no">05</td>
                                <td class="text-center">
                                    <h3>Area</h3>
                                </td>
                                <td colspan="3">
                                    <span>{{ sub.location.area_id }}</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="no">06</td>
                                <td class="text-center">
                                    <h3>Delivery days</h3>
                                </td>
                                <td colspan="3" style="line-break: auto;">
                                    <span style="word-break: break-all;">{{ sub.days_of_week }}</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </main>
            </div>
        </div>
    </div>
    
    <div class="row animated" *ngIf="sub">
        <!-- <div class="col-md-12 my-2">
            <div class="card">
                <div class="card-body">
                    <div class="col-md-12">
                        <div class="card card-plain">
                            <div class="card-header d-flex justify-content-between align-items-center">
                                <h4 class="card-title">Client Info</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive overflow-auto">
                                    <table class="table">
                                        <thead class="text-muted">
                                            <th class="py-3">Title</th>
                                            <th class="py-3">Description</th>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>First Name</td>
                                                <td>{{ sub.user.first_name }}</td>
                                            </tr>
                                            <tr>
                                                <td>Last Name</td>
                                                <td>{{ sub.user.last_name }}</td>
                                            </tr>
                                            <tr>
                                                <td>Gender</td>
                                                <td>{{ sub.user.gender }}</td>
                                            </tr>
                                            <tr>
                                                <td>Birthday</td>
                                                <td>{{ sub.user.birthday }}</td>
                                            </tr>
                                            <tr>
                                                <td>Height</td>
                                                <td>{{ sub.user.height }}</td>
                                            </tr>
                                            <tr>
                                                <td>Weight</td>
                                                <td>{{ sub.user.Weight }}</td>
                                            </tr>
                                            <tr>
                                                <td>Email</td>
                                                <td>{{ sub.user.email }}</td>
                                            </tr>
                                            <tr>
                                                <td>Land Line</td>
                                                <td>{{ sub.user.land_line }}</td>
                                            </tr>
                                            <tr>
                                                <td>Phone Number</td>
                                                <td>{{ sub.user.phone_number }}</td>
                                            </tr>
                                            <tr>
                                                <td>Second Phone Number</td>
                                                <td>{{ sub.user.second_phone_number }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

        <!-- <div class="col-md-12 my-2">
            <div class="card">
                <div class="card-body">
                    <div class="col-md-12">
                        <div class="card card-plain">
                            <div class="card-header d-flex justify-content-between align-items-center">
                                <h4 class="card-title">Subscription Info</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive overflow-auto">
                                    <table class="table">
                                        <thead class="text-muted">
                                            <th class="py-3">Title</th>
                                            <th class="py-3">Description</th>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Invoice Number</td>
                                                <td>{{ sub.invoice_no }}</td>
                                            </tr>
                                            <tr>
                                                <td>Program</td>
                                                <td>
                                                    {{sub.subscriptions_note.split('-')[1]}}
                                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                    {{sub.full_plan_name.split('-')[0] + ""}}
                                                    &#160;&#160;&#160;&#160;&#160;
                                                    {{sub.full_plan_name.split('-')[2] + ""}}
                                                    &#160;&#160;&#160;&#160;&#160;
                                                    {{sub.full_plan_name.split('-')[3]}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Plan Title</td>
                                                <td>{{ sub.subscriptions_note }}</td>
                                            </tr>
                                            <tr>
                                                <td>Meal Types</td>
                                                <td>{{ replaceMeals(sub.dislike).join(" - ") }}</td>
                                            </tr>
                                            <tr>
                                                <td>Need Cutlery?</td>
                                                <td>{{ sub.cutlery == 'checked' ? "yes" : "no" }}</td>
                                            </tr>
                                            <tr *ngIf="sub.program_id == 50 || sub.program_id < 15">
                                                <td>Confirmed Terms</td>
                                                <td>yes</td>
                                            </tr>
                                            <tr *ngIf="sub.agent">
                                                <td>Agent</td>
                                                <td>{{ sub.agent.name }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

        <div class="col-md-12 my-2">
            <div class="card">
                <div class="card-body">
                    <div class="col-md-12">
                        <div class="card card-plain">
                            <div class="card-header d-flex justify-content-between align-items-center">
                                <h4 class="card-title">Payment Info</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive overflow-auto">
                                    <table class="table">
                                        <thead class="text-muted">
                                            <th class="py-3">Description</th>
                                            <th class="py-3">Amount</th>
                                        </thead>
                                        <tbody *ngIf="sub.version == 'v4' ; else elseBlock">
                                            <tr>
                                                <td>TOTAL PRICE WITHOUT VAT ({{sub.subscriptions_note}})</td>
                                                <td>{{ sub.total_price_without_vat.toFixed(3) }}</td>
                                            </tr>
                                            <tr>
                                                <td>DISCOUNT <sup
                                                        *ngIf="sub?.codes && sub?.codes?.type == 'percentage'">({{sub?.codes?.percentage}}%)</sup>
                                                </td>
                                                <td class="text-danger">-{{ sub.discount_amount.toFixed(3) }}</td>
                                            </tr>
                                            <tr>
                                                <td>NET TOTAL WITHOUT VAT</td>
                                                <td>{{ sub.total_after_discount.toFixed(3) }}</td>
                                            </tr>
                                            <tr>
                                                <td>VAT</td>
                                                <td>{{ sub.vat_amount.toFixed(3) }}</td>
                                            </tr>
                                            <tr>
                                                <td>NET TOTAL WITH VAT</td>
                                                <td>{{ sub.total_with_vat.toFixed(3) }}</td>
                                            </tr>
                                            <tr>
                                                <td>REFUNDABLE SECURITY AMOUNT (BAG)</td>
                                                <td>{{ sub.refundable_security_amount }}</td>
                                            </tr>
                                            <tr style="border-top:2px solid">
                                                <td>GRAND TOTAL</td>
                                                <td class="text-success">{{ sub.grand_total }}</td>
                                            </tr>

                                        </tbody>
                                        <ng-template #elseBlock>
                                            <tbody>
                                                <tr>
                                                    <td>TOTAL PRICE WITHOUT VAT ({{sub.subscriptions_note}})</td>
                                                    <td>{{ sub.total_price_without_vat.toFixed(3) }}</td>
                                                </tr>
                                                <tr>
                                                    <td>VAT</td>
                                                    <td>{{ sub.vat_amount.toFixed(3) }}</td>
                                                </tr>
                                                <tr>
                                                    <td>NET TOTAL WITH VAT</td>
                                                    <td>{{ sub.total_with_vat.toFixed(3) }}</td>
                                                </tr>

                                                <tr>
                                                    <td>DISCOUNT <sup
                                                            *ngIf="sub?.codes && sub?.codes?.type == 'percentage'">({{sub.codes.percentage}}%)</sup>
                                                    </td>
                                                    <td class="text-danger">-{{ sub.discount_amount.toFixed(3) }}</td>
                                                </tr>
                                                <tr>
                                                    <td>NET TOTAL AFTER DISCOUNT</td>
                                                    <td>{{ sub.total_after_discount.toFixed(3) }}</td>
                                                </tr>

                                                <tr>
                                                    <td>REFUNDABLE SECURITY AMOUNT (BAG)</td>
                                                    <td>{{ sub.refundable_security_amount }}</td>
                                                </tr>
                                                <tr style="border-top:2px solid">
                                                    <td>GRAND TOTAL</td>
                                                    <td class="text-success">{{ sub.grand_total }}</td>
                                                </tr>
                                            </tbody>
                                        </ng-template>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="col-md-12 my-2">
            <div class="card">
                <div class="card-body">
                    <div class="col-md-12">
                        <div class="card card-plain">
                            <div class="card-header d-flex justify-content-between align-items-center">
                                <h4 class="card-title">Delivery Info</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive overflow-auto">
                                    <table class="table">
                                        <thead class="text-muted">
                                            <th class="py-3">Title</th>
                                            <th class="py-3">Description</th>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Start Date</td>
                                                <td>{{ sub.delivery_starting_day }}</td>
                                            </tr>
                                            <tr>
                                                <td>Emirate</td>
                                                <td>{{ sub.location.emirate.en_name }}</td>
                                            </tr>
                                            <tr>
                                                <td>Land Mark</td>
                                                <td>{{ sub.location.landmark }}</td>
                                            </tr>
                                            <tr>
                                                <td>Area</td>
                                                <td>{{ sub.location.area_id }}</td>
                                            </tr>
                                            <tr>
                                                <td>Villa/Flat</td>
                                                <td>{{ sub.location.property_number }}</td>
                                            </tr>
                                            <tr>
                                                <td>Delivery Days</td>
                                                <td>{{ sub.days_of_week }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

        <div class="col-md-12 my-2" *ngIf="sub.branch_paid_on">
            <div class="card">
                <div class="card-body">
                    <div class="col-md-12">
                        <div class="card card-plain">
                            <div class="card-header d-flex justify-content-between align-items-center">
                                <h4 class="card-title">Exchange Info</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive overflow-auto">
                                    <table class="table">
                                        <thead class="text-muted">
                                            <th class="py-3">Title</th>
                                            <th class="py-3">Description</th>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>EXCHANGE INVOICE BRANCH</td>
                                                <td>{{ sub.branch_paid_on }}</td>
                                            </tr>
                                            <tr
                                                *ngIf="sub?.branch_invoice_image && !endsWithPDF(sub.branch_invoice_image)">
                                                <td>EXCHANGE INVOICE IMAGE</td>
                                                <td>
                                                    <p-image [src]="sub.branch_invoice_image" alt="Invoice" width="250"
                                                        [preview]="true"></p-image>
                                                </td>
                                            </tr>
                                            <tr
                                                *ngIf="sub?.branch_invoice_image && endsWithPDF(sub.branch_invoice_image)">
                                                <td>EXCHANGE INVOICE IMAGE</td>
                                                <td>
                                                    <a target="_blank" [href]="sub.branch_invoice_image"
                                                        download>{{sub.branch_invoice_image}}</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12 my-2" *ngIf="sub.subscription_days.length">
            <div class="card">
                <p-table [value]="sub.subscription_days" rowGroupMode="rowspan" groupRowsBy="date" sortField="date" sortMode="single" styleClass="p-datatable-gridlines">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Date / Day</th>
                            <th  *ngFor="let m of sub.subscription_days[0].day_meals">{{convertMealNames(m.meal.type)}}</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-subDay let-rowgroup="rowgroup" let-rowspan="rowspan">
                        <tr>
                            <td *ngIf="rowgroup" [attr.rowspan]="rowspan">
                                <span class="font-bold ml-2">{{subDay.date}} <br> {{subDay.day}}</span>
                            </td>
                            <td *ngFor="let m of subDay.day_meals">
                                <img alt="Meal Image" [src]="m.meal.image" width="32" />
                                 <span class="text-danger mx-1">{{m.meal.name}} </span>
                                 <br>
                                 <span>({{m.meal.max_meal}} {{m.meal.meal_unit}})</span>
                                 <span *ngIf="m.meal.max_side"> / </span>
                                 <span *ngIf="m.meal.max_side">({{m.meal.max_side}} {{m.meal.side_unit}})</span>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>

</section>