<div class="row animated">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="col-md-12">
                    <div class="card card-plain">
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <h4 class="card-title">Dislike Info</h4>
                            <div>
                                <button class="btn btn-dark" (click)="backDetailsBtn()">Back</button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive overflow-auto">
                                <table class="table">
                                    <thead class="text-muted">
                                        <th class="py-3">Title</th>
                                        <th class="py-3">Description</th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Created By</td>
                                            <td>{{dislike?.agent.name}}</td>
                                        </tr>
                                        <tr>
                                            <td>Name</td>
                                            <td>{{dislike?.name}}</td>
                                        </tr>
                                        <tr>
                                            <td>Email</td>
                                            <td>{{dislike?.email}}</td>
                                        </tr>
                                        <tr>
                                            <td>Mobile</td>
                                            <td>
                                                <span *ngFor="let mob of dislike?.mobile;let i = index">
                                                    <span *ngIf="mob">{{mob}}<br></span>
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Sent by</td>
                                            <td>{{dislike?.sent_by}}</td>
                                        </tr>
                                        <tr>
                                            <td>Branch</td>
                                            <td>{{dislike?.branch}}</td>
                                        </tr>
                                        <tr>
                                            <td>Date Issue</td>
                                            <td>{{dislike?.created_at | date}}</td>
                                        </tr>
                                        <tr>
                                            <td>Reasons</td>
                                            <td>
                                                <span *ngFor="let reason of dislike?.reasons;let i = index">
                                                    <i class="fas fa-info-circle mx-2 text-muted"></i> {{reason}} <br>
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Dislike Meals</td>
                                            <td>
                                                <span *ngFor="let meal of dislike?.dislike_meals;let i = index">
                                                    <i class="fas fa-utensils mx-2 text-muted"></i> {{meal}} <br>
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Files</td>
                                            <td>
                                                <span *ngIf="files?.length">
                                                    <small *ngFor="let f of files" style="display: block;" class="my-2">
                                                        <span *ngIf="f.type.includes('image')">
                                                            <p-image [src]="'http://api.lowcalories.ae/'+f?.file"
                                                                alt="Uploaded Image" width="250" [preview]="true">
                                                            </p-image>
                                                        </span>
                                                        <span *ngIf="f.type.includes('audio')">
                                                            <audio controls>
                                                                <source [src]="'http://api.lowcalories.ae/'+f.file"
                                                                    type="audio/mpeg">
                                                            </audio>
                                                        </span>
                                                        <span
                                                            *ngIf="!f.type.includes('audio')&&!f.type.includes('image')&&!f.type.includes('video')">
                                                            <a target="_blank"
                                                                [href]="'http://api.lowcalories.ae/'+f.file"
                                                                download>{{f.type}}</a>
                                                        </span>
                                                        <span *ngIf="f.type.includes('video')">
                                                            <video width="250" class="m-1" controls>
                                                                <source src="http://api.lowcalories.ae/{{f?.file}}">
                                                            </video>
                                                        </span>
                                                    </small>
                                                </span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>