<div class="container">
    <div class="d-flex justify-content-between align-items-center">
        <h2>Create Payment Branch</h2>
    </div>
    <hr>
    <form [formGroup]="paymentForm" (ngSubmit)='createPaymentLink(paymentForm)'>
        <div class="row mx-0">
            <div class="col-xl-3 col-lg-4 col-md-6 col-12 my-3">
                <label for="">First Name</label>
                <input type="text" pInputText ngClass="w-100" formControlName='first_name' />
                <small class="text-danger ms-1" *ngIf="paymentForm.get('first_name')?.touched &&
                paymentForm.get('first_name')?.hasError('required')">This field is required.</small>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-12 my-3">
                <label for="">Last Name</label>
                <input type="text" pInputText ngClass="w-100" formControlName='last_name' />
                <small class="text-danger ms-1" *ngIf="paymentForm.get('last_name')?.touched &&
                paymentForm.get('last_name')?.hasError('required')">This field is required.</small>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-12 my-3">
                <label for="">Phone Number</label>
                <input type="text" pInputText ngClass="w-100" formControlName='phone_number' maxlength="10"
                (blur)="getEmailByMobile(paymentForm.get('phone_number')?.value)"   
                oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" />
                <small class="text-danger ms-1" *ngIf="paymentForm.get('phone_number')?.touched &&
                paymentForm.get('phone_number')?.hasError('required')">This field is required.</small>
                <small class="text-danger ms-1" *ngIf="paymentForm.get('phone_number')?.touched &&
                paymentForm.get('phone_number')?.hasError('pattern')">Length must be 10</small>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-12 my-3">
                <label for="">Email</label>
                <input type="text" pInputText ngClass="w-100" formControlName='email' />
                <small class="text-danger ms-1" *ngIf="paymentForm.get('email')?.touched &&
                paymentForm.get('email')?.hasError('required')">This field is required.</small>
                <small class="text-danger ms-1" *ngIf="paymentForm.get('email')?.touched &&
                paymentForm.get('email')?.hasError('email')">Email is not valid.</small>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-12 my-3">
                <label for="">Height</label>
                <input type="text" pInputText ngClass="w-100" formControlName='height'  maxlength="3"
                oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"/>
                <small class="text-danger ms-1" *ngIf="paymentForm.get('height')?.touched &&
                paymentForm.get('height')?.hasError('required')">This field is required.</small>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-12 my-3">
                <label for="">Weight</label>
                <input type="text" pInputText ngClass="w-100" formControlName='Weight'  maxlength="3"
                oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"/>
                <small class="text-danger ms-1" *ngIf="paymentForm.get('Weight')?.touched &&
                paymentForm.get('Weight')?.hasError('required')">This field is required.</small>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-12 my-3">
                <label for="">Birthday</label>
                <p-calendar [readonlyInput]="true" ngClass="w-100" appendTo="body" formControlName='birthday'>
                </p-calendar>
                <small class="text-danger ms-1" *ngIf="paymentForm.get('birthday')?.touched &&
                paymentForm.get('birthday')?.hasError('required')">This field is required.</small>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-12 my-3">
                <label for="">Gender</label>
                <p-dropdown [options]="gender" formControlName='gender' appendTo="body" styleClass="w-100"
                    placeholder="Select Gender">
                </p-dropdown>
                <small class="text-danger ms-1" *ngIf="paymentForm.get('gender')?.touched &&
                paymentForm.get('gender')?.hasError('required')">This field is required.</small>
            </div>
            <hr>
            <div class="col-12 my-3"  [class.col-md-6]="paymentForm.get('program_type')?.value">
                <label for="">SELECT YOUR PROGRAM TYPE</label>
                <div class="d-flex flex-wrap">
                    <div class="flex align-items-center m-3" *ngFor="let obj of paymentDetails?.Programs | keyvalue">
                        <p-radioButton formControlName="program_type" [value]="obj.key" [inputId]="obj.key">
                        </p-radioButton>
                        <label class="mx-1" [for]="obj.key">{{obj.key | titlecase}}</label>
                    </div>
                </div>
                <small class="text-danger ms-1" *ngIf="paymentForm.get('program_type')?.touched &&
                paymentForm.get('program_type')?.hasError('required')">This field is required.</small>
            </div>
            <div class="col-md-6 col-12 my-3" *ngIf="paymentForm.get('program_type')?.value">
                <label for="">SELECT YOUR PROGRAM</label>
                <p-dropdown [options]="plans" formControlName='program' appendTo="body" optionLabel="name"
                    styleClass="w-100" placeholder="Select Program">
                </p-dropdown>
                <small class="text-danger ms-1" *ngIf="paymentForm.get('program_id')?.touched &&
                paymentForm.get('program_id')?.hasError('required')">This field is required.</small>
            </div>
            <div class="col-12 my-3" *ngIf="isCustom && paymentForm.get('program_id')?.value">
                <label for="">SELECT NUMBER OF DAYS</label>
                <p-dropdown [options]="numberOfDays" formControlName='subscription_days' appendTo="body"
                    styleClass="w-100" placeholder="Select Number Of Days">
                </p-dropdown>
                <small class="text-danger ms-1" *ngIf="paymentForm.get('subscription_days')?.touched &&
            paymentForm.get('subscription_days')?.hasError('required')">This field is required.</small>
            </div>
            <hr>
            <div class="col-12 my-3" *ngIf="mealTypes.length">
                <label for="">Type Meals</label>
                <div class="d-flex flex-wrap">
                    <div class="field-checkbox m-3" *ngFor="let meal of mealTypes">
                        <p-checkbox name="group1" [value]="meal" [inputId]="meal" #checkbox
                            (onChange)="onCheckboxChange($event,'meal_types',meal)">
                        </p-checkbox>
                        <label class="mx-1" [for]="meal">{{meal}}</label>
                    </div>
                </div>
                <small class="text-danger ms-1" *ngIf="paymentForm.get('meal_types')?.touched &&
                paymentForm.get('meal_types')?.hasError('required')">This field is required.</small>
            </div>
            <div class="col-12 my-3" *ngIf="snackTypes.length">
                <label for="">Type Snack</label>
                <div class="d-flex flex-wrap">
                    <div class="field-checkbox m-3" *ngFor="let meal of snackTypes">
                        <p-checkbox name="group1" [value]="meal" [inputId]="meal" #checkbox
                            (onChange)="onCheckboxChange($event,'snack_types',meal)">
                        </p-checkbox>
                        <label class="mx-1" [for]="meal">{{meal}}</label>
                    </div>
                </div>
                <small class="text-danger ms-1" *ngIf="paymentForm.get('snack_types')?.touched &&
            paymentForm.get('snack_types')?.hasError('required')">This field is required.</small>
            </div>
            <hr *ngIf="mealTypes.length">
            <div class="col-12 my-3" *ngIf="!isCustom">
                <label for="">DAYS OF PLAN</label>
                <div class="d-flex flex-wrap">
                    <div class="flex align-items-center m-3">
                        <p-radioButton formControlName="subscription_days" [value]="7" inputId="subscription_days_7">
                        </p-radioButton>
                        <label class="mx-1" for="subscription_days_7">7 Days</label>
                    </div>
                    <div class="flex align-items-center m-3">
                        <p-radioButton formControlName="subscription_days" [value]="14" inputId="subscription_days_14">
                        </p-radioButton>
                        <label class="mx-1" for="subscription_days_14">14 Days</label>
                    </div>
                    <div class="flex align-items-center m-3">
                        <p-radioButton formControlName="subscription_days" [value]="21" inputId="subscription_days_21">
                        </p-radioButton>
                        <label class="mx-1" for="subscription_days_21">21 Days</label>
                    </div>
                    <div class="flex align-items-center m-3">
                        <p-radioButton formControlName="subscription_days" [value]="28" inputId="subscription_days_28">
                        </p-radioButton>
                        <label class="mx-1" for="subscription_days_28">28 Days</label>
                    </div>
                </div>
            </div>
            <hr *ngIf="!isCustom">
            <div class="col-12 my-3">
                <label for="">Days Of Delivery</label>
                <div class="d-flex flex-wrap">
                    <div class="field-checkbox m-3" *ngFor="let day of days">
                        <p-checkbox [value]="day.value" [inputId]="day.name" #checkbox #deliveryDaysBox
                            (onChange)="onCheckboxChange($event,'delivery_days',day.value)">
                        </p-checkbox>
                        <label class="mx-1" [for]="day.name">{{day.name}}</label>
                    </div>
                </div>
                <small class="text-danger ms-1" *ngIf="paymentForm.get('delivery_days')?.touched &&
                paymentForm.get('delivery_days')?.hasError('required')">This field is required.</small>
            </div>
            <hr>
            <div class="col-12 my-3">
                <label for="">DISLIKES</label>
                <div class="d-flex flex-wrap">
                    <div class="field-checkbox m-3" *ngFor="let meal of paymentDetails?.disLikes">
                        <p-checkbox [name]="meal.name" [value]="meal.name" [inputId]="meal.name" #checkbox
                            (onChange)="onCheckboxChange($event,'dislike',meal.name)">
                        </p-checkbox>
                        <label class="mx-1" [for]="meal.name">{{meal.name}}</label>
                    </div>
                </div>
                <small class="text-danger ms-1" *ngIf="paymentForm.get('dislike')?.touched &&
                paymentForm.get('dislike')?.hasError('required')">This field is required.</small>
            </div>
            <hr>
            <div class="col-md-6 col-12 my-3">
                <label for="">SAFTY BAG?</label>
                <div class="d-flex flex-wrap">
                    <div class="flex align-items-center m-3">
                        <p-radioButton formControlName="bag" value="yes" inputId="BAG_YES">
                        </p-radioButton>
                        <label class="mx-1" for="BAG_YES">YES</label>
                    </div>
                    <div class="flex align-items-center m-3">
                        <p-radioButton formControlName="bag" value="no" inputId="BAG_NO">
                        </p-radioButton>
                        <label class="mx-1" for="BAG_NO">NO</label>
                    </div>
                </div>
                <small class="text-danger ms-1" *ngIf="paymentForm.get('bag')?.touched &&
                paymentForm.get('bag')?.hasError('required')">This field is required.</small>
            </div>
            <div class="col-md-6 col-12 my-3">
                <label for="">NEED CUTLERY?</label>
                <div class="d-flex flex-wrap">
                    <div class="flex align-items-center m-3">
                        <p-radioButton formControlName="cutlery" value="yes" inputId="CUTLERY_YES">
                        </p-radioButton>
                        <label class="mx-1" for="CUTLERY_YES">YES</label>
                    </div>
                    <div class="flex align-items-center m-3">
                        <p-radioButton formControlName="cutlery" value="no" inputId="CUTLERY_NO">
                        </p-radioButton>
                        <label class="mx-1" for="CUTLERY_NO">NO</label>
                    </div>
                </div>
                <small class="text-danger ms-1" *ngIf="paymentForm.get('cutlery')?.touched &&
                paymentForm.get('cutlery')?.hasError('required')">This field is required.</small>
            </div>
            <hr>
            <div class="col-xl-3 col-md-6 col-12 my-3">
                <label for="">Emirates</label>
                <p-dropdown [options]="paymentDetails?.emirates == undefined ?[]:paymentDetails.emirates"
                    formControlName='emirate_id' appendTo="body" styleClass="w-100" placeholder="Select Emirate"
                    optionValue="id" optionLabel="en_name" [filter]="true">
                </p-dropdown>
                <small class="text-danger ms-1" *ngIf="paymentForm.get('emirate_id')?.touched &&
                paymentForm.get('emirate_id')?.hasError('required')">This field is required.</small>
            </div>
            <div class="col-xl-3 col-md-6 col-12 my-3">
                <label for="">Address</label>
                <input type="text" pInputText ngClass="w-100" formControlName='address' />
                <small class="text-danger ms-1" *ngIf="paymentForm.get('address')?.touched &&
                paymentForm.get('address')?.hasError('required')">This field is required.</small>
            </div>
            <div class="col-xl-3 col-md-6 col-12 my-3">
                <label for="">Codes</label>
                <p-dropdown [options]="paymentDetails?.GiftCodes == undefined ?[]:paymentDetails.GiftCodes"
                    formControlName='code_id' appendTo="body" styleClass="w-100" placeholder="Select Code"
                    optionLabel="code" optionValue="id" [filter]="true">
                </p-dropdown>
                <small class="text-danger ms-1" *ngIf="paymentForm.get('code_id')?.touched &&
                paymentForm.get('code_id')?.hasError('required')">This field is required.</small>
            </div>
            <div class="col-xl-3 col-md-6 col-12 my-3">
                <label for="">Start Date</label>
                <p-calendar [readonlyInput]="true" ngClass="w-100" appendTo="body" formControlName='start_date'>
                </p-calendar>
                <small class="text-danger ms-1" *ngIf="paymentForm.get('start_date')?.touched &&
                paymentForm.get('start_date')?.hasError('required')">This field is required.</small>
            </div>
            <div class="col-12 my-3">
                <button class="btn btn-primary w-100" [disabled]="paymentForm.invalid || creatingStatus">
                    <span *ngIf="!creatingStatus">Print Invoice</span>
                    <span *ngIf="creatingStatus">Printing...<i class="fas fa-spinner fa-spin"></i></span>
                </button>
            </div>
        </div>
    </form>
</div>