<div class="d-flex justify-content-end align-items-center">
    <div class="mb-3">
        <button pButton pRipple label="Add Target" class="p-button-success mx-1" icon="pi pi-plus"
            routerLink="../create"></button>
        <p-button class="mb-3 mx-1" icon="pi pi-filter" label="Filter" (click)="filterModal = true;">
        </p-button>
        <p-button class="mx-1" icon="pi pi-file" label="Export as Excel" (click)="export()">
        </p-button>
        <p-button class="mx-1" icon="pi pi-file" label="Export as PDF" (click)="exportAsPDF()" *ngIf="allTargets.length">
        </p-button>
        <p-button (click)="filterColumns = true" class="mb-3 mx-2" icon="pi pi-sliders-v" label="Select Columns">
        </p-button>
    </div>
</div>

<div class="card">
    <p-table [value]="targets" [paginator]="true" [rows]="PaginationInfo?.per_page"
        [totalRecords]="PaginationInfo?.total" [lazy]="true" (onPage)="paginate($event)" [showCurrentPageReport]="true"
        responsiveLayout="scroll"
        currentPageReportTemplate="Showing {{PaginationInfo?.from}} to {{PaginationInfo?.to}} of {{PaginationInfo?.total}} entries">
        <ng-template pTemplate="header">
            <tr>
                <th class="text-center">
                    Select Columns
                </th>
                <th class="text-center"*ngIf="columns[0].status">id</th>
                <th class="text-center"*ngIf="columns[1].status">team</th>
                <th class="text-center"*ngIf="columns[2].status">type</th>
                <th class="text-center"*ngIf="columns[3].status">agent_id</th>
                <th class="text-center"*ngIf="columns[4].status">agent_name</th>
                <th class="text-center"*ngIf="columns[5].status">date</th>
                <th class="text-center"*ngIf="columns[6].status">client_number</th>
                <th class="text-center"*ngIf="columns[7].status">client_cid</th>
                <th class="text-center"*ngIf="columns[8].status">branch</th>
                <th class="text-center"*ngIf="columns[9].status">customer_type</th>
                <th class="text-center"*ngIf="columns[10].status">paid_by</th>
                <th class="text-center"*ngIf="columns[11].status">status</th>
                <th class="text-center"*ngIf="columns[12].status">invoice_number</th>
                <th class="text-center"*ngIf="columns[13].status">created_at</th>
                <th class="text-center">Percent</th>
                <th class="text-center">Actions</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-agent>
            <tr>
                <td class="text-center">
                    <input type="checkbox" #areaIdInput (click)="getSpecificRows(areaIdInput)" [value]="agent.id">
                </td>
                <td class="text-center" *ngIf="columns[0].status">{{agent.id}}</td>
                <td class="text-center" *ngIf="columns[1].status">{{agent.team}}</td>
                <td class="text-center" *ngIf="columns[2].status">{{agent.type}}</td>
                <td class="text-center" *ngIf="columns[3].status">{{agent.agent_id}}</td>
                <td class="text-center" *ngIf="columns[4].status">{{agent.agent.name}}</td>
                <td class="text-center" *ngIf="columns[5].status">{{agent.date}}</td>
                <td class="text-center" *ngIf="columns[6].status">{{agent.client_number}}</td>
                <td class="text-center" *ngIf="columns[7].status">{{agent.client_cid}}</td>
                <td class="text-center" *ngIf="columns[8].status">{{agent.branch}}</td>
                <td class="text-center" *ngIf="columns[9].status">{{agent.customer_type}}</td>
                <td class="text-center" *ngIf="columns[10].status">{{agent.paid_by}}</td>
                <td class="text-center" *ngIf="columns[11].status">{{agent.status}}</td>
                <td class="text-center" *ngIf="columns[12].status">{{agent.invoice_number}}</td>
                <td class="text-center" *ngIf="columns[13].status">{{agent.created_at}}</td>
                <td class="text-center">100%</td>
                <td class="text-center">
                    <button pButton type="button" icon="pi pi-eye" (click)="showRow(agent)"
                        class="m-1 p-button-sm"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-dialog header="Filter Targets Modal" [(visible)]="filterModal" [modal]="true" [style]="{width: '50vw'}"
    [draggable]="false" [resizable]="false">
    <div class="container">
        <form [formGroup]="filterForm" #myForm="ngForm">
            <div class="row mx-0">
                <div class="col-lg-6 col-12 my-2">
                    <label for="">client_number</label>
                    <input type="text" pInputText ngClass="w-100" formControlName='client_number' />
                </div>
                <div class="col-lg-6 col-12 my-2">
                    <label for="">client_cid</label>
                    <input type="text" pInputText ngClass="w-100" formControlName='client_cid' />
                </div>
                <div class="col-lg-6 col-12 my-2">
                    <label for="">Invoice Number</label>
                    <input type="text" pInputText ngClass="w-100" formControlName='invoice_number' />
                </div>
                <div class="col-lg-6 col-12 my-2">
                    <label for="">Agent</label>
                    <p-dropdown [options]="agents" optionLabel="name" optionValue="id" formControlName='agent_id'
                        appendTo="body" styleClass="w-100" placeholder="Select Agent" [filter]="true">
                    </p-dropdown>
                </div>
                <div class="col-lg-6 col-12 my-2">
                    <label for="">Paid by</label>
                    <p-dropdown [options]="paid_by" formControlName='paid_by' optionLabel="name" optionValue="name"
                        styleClass="w-100" placeholder="Select Method" appendTo="body" [filter]="true">
                    </p-dropdown>
                </div>
                <div class="col-lg-6 col-12 my-2">
                    <label for="">Teams</label>
                    <p-dropdown [options]="teams" formControlName='team' optionLabel="name" optionValue="name"
                        styleClass="w-100" placeholder="Select Team" appendTo="body" [filter]="true">
                    </p-dropdown>
                </div>
                <div class="col-lg-6 col-12 my-2">
                    <label for="">Customer types</label>
                    <p-dropdown [options]="customer_types" formControlName='customer_types' optionLabel="name"
                        optionValue="name" styleClass="w-100" placeholder="Select Customer Type" appendTo="body"
                        [filter]="true">
                    </p-dropdown>
                </div>
                <div class="col-lg-6 col-12 my-2">
                    <label for="">Status</label>
                    <p-dropdown [options]="status" formControlName='status' optionLabel="name" optionValue="name"
                        styleClass="w-100" placeholder="Select Status" appendTo="body" [filter]="true">
                    </p-dropdown>
                </div>
                <div class="col-lg-6 col-12 my-2">
                    <label for="">Type</label>
                    <p-dropdown [options]="types" optionLabel="name" formControlName='type' appendTo="body"
                        optionValue="name" styleClass="w-100" placeholder="Select Type" [filter]="true">
                    </p-dropdown>
                </div>
                <div class="col-lg-6 col-12 my-2">
                    <label for="range">Date Range</label>
                    <p-calendar selectionMode="range" [readonlyInput]="true" inputId="range" formControlName="date"
                        ngClass="w-100" appendTo="body">
                    </p-calendar>
                </div>
            </div>
        </form>
    </div>
    <ng-template pTemplate="footer">
        <div class="upload-btn-wrapper d-flex justify-content-between mt-3">
            <div>
                <button class="btn btn-secondary" (click)="resetFields()">
                    Reset Fields
                </button>
            </div>
            <div>
                <button class="btn btn-primary" (click)="insertRow(filterForm)">
                    Apply Filter
                </button>
                <button class="btn btn-secondary" (click)="resetFilter()">
                    Reset Filter
                </button>
            </div>
        </div>
    </ng-template>
</p-dialog>


<p-dialog header="Select Your Columns" [(visible)]="filterColumns" [modal]="true" [style]="{width: '50vw'}"
    [draggable]="false" [resizable]="false">
    <div class="container" #checkboxContainer>
        <div class="field-checkbox my-3" *ngFor="let obj of columns">
            <p-checkbox name="group1" [value]="obj.name" [(ngModel)]="selectedColumns" [inputId]="obj.name"></p-checkbox>
            <label class="mx-3" [for]="obj.name">{{obj.name}}</label>
        </div>
        <div class="field-checkbox my-3">
            <p-checkbox name="group1" #currentCheckbox (click)="selectAllColumns(checkboxContainer,currentCheckbox)"
                value="selectAll" inputId="c100"></p-checkbox>
            <label class="mx-3" for="c100">Select All</label>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <div class="upload-btn-wrapper">
            <button class="btn btn-primary" (click)="filterColumns = false;getFilterColumns()">Apply</button>
        </div>
    </ng-template>
</p-dialog>