<div class="d-flex justify-content-between align-items-center">
    <div>
        <h3>Analytics Manager</h3>
    </div>
    <div class="m-3">
        <button pButton pRipple label="Create New Analtic" class="p-button-success mx-1" icon="pi pi-plus"
            (click)="createNodeModal = true;"></button>
        <button pButton pRipple label="Create Node Children" class="p-button-success mx-1" icon="pi pi-plus"
            (click)="createModal = true;"></button>
        <button pButton pRipple label="Update Label" class="p-button-secondary mx-1" icon="pi pi-plus"
            (click)="createLabelModal = true"></button>
        <button pButton pRipple label="Delete Bulk" class="p-button-danger mx-1" icon="pi pi-trash"
            (click)="deleteBulk()"></button>
    </div>
</div>

<div *ngIf="items.length">
    <p-breadcrumb class="max-w-full" [model]="items" (onItemClick)="getIndex($event.item)"></p-breadcrumb>
</div>

<div class="card my-3">
    <p-table [value]="analytics">
        <ng-template pTemplate="header">
            <tr>
                <th class="text-center">
                    <p-tableHeaderCheckbox #headerCheckbox (click)="selectAllRows(headerCheckbox)"
                        [pSelectableRow]="analytics"></p-tableHeaderCheckbox>
                </th>
                <!-- <th class="text-center">#</th> -->
                <th class="text-center">Label</th>
                <th class="text-center">Name</th>
                <th class="text-center">Actions</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-analysis>
            <tr>
                <td class="text-center">
                    <p-tableCheckbox #tableCheckbox (click)="getSpecificRows(tableCheckbox)" [value]="analysis">
                    </p-tableCheckbox>
                </td>
                <!-- <td class="text-center">{{analysis?.id}}</td> -->
                <td class="text-center">{{analysis?.label}}</td>
                <td class="text-center">{{analysis?.name}}</td>
                <td class="text-center">
                    <button pButton icon="pi pi-share-alt" class="m-1 p-button-secondary p-button-sm p-button"
                        (click)="getChildren(analysis)"></button>
                    <button pButton type="button" icon="pi pi-pencil" (click)="updateRow(analysis)"
                        class="m-1 p-button-sm p-button-warning"></button>
                    <button pButton type="button" icon="pi pi-trash" (click)="confirm(analysis)"
                        class="m-1 p-button-danger p-button-sm"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-dialog header="Create Children Of Nodes Modal" [(visible)]="createModal" [modal]="true" [style]="{width: '75vw'}"
    [draggable]="true" [resizable]="true">
    <div class="row mx-0">
        <div class="col-12 my-3">
            <label for="">Analytic Name</label>
            <div class="card flex justify-content-center">
                <p-treeSelect class="w-full md:w-20rem" [(ngModel)]="selectedNode" [filter]="true" appendTo="body" 
                    styleClass="w-100" [options]="dropDownAnalytics" [metaKeySelection]="false" selectionMode="signle"
                    placeholder="Select Item" (onNodeSelect)="nodeSelect($event)" [showClear]="true">
                </p-treeSelect>
            </div>
        </div>
        <div class="col-12 my-3">
            <button class="btn btn-primary py-2 w-100" *ngIf="creatingStatus">
                <span>Creating...<i class="fas fa-spinner fa-spin"></i></span>
            </button>
            <button class="btn btn-primary w-100" *ngIf="!creatingStatus" (click)="createNodeChildren()">Create</button>
        </div>
    </div>
</p-dialog>

<p-dialog header="Create New Analtic Modal" [(visible)]="createNodeModal" [modal]="true" [style]="{width: '50vw'}"
    [draggable]="true" [resizable]="true">
    <div class="row mx-0">
        <div class="col-12 my-3">
            <label for="">Analytic Name</label>
            <p-chips [(ngModel)]="selectedNames" ngClass="w-100"></p-chips>
        </div>
        <div class="col-12 my-3">
            <button class="btn btn-primary py-2 w-100" *ngIf="creatingStatus">
                <span>Creating...<i class="fas fa-spinner fa-spin"></i></span>
            </button>
            <button class="btn btn-primary w-100" *ngIf="!creatingStatus" (click)="createNode()">Create</button>
        </div>
    </div>
</p-dialog>


<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text">
</p-confirmDialog>

<p-dialog header="Update Name Modal" [(visible)]="updateModal" [modal]="true" [style]="{width: '50vw'}"
    [draggable]="false" [resizable]="false">
    <div class="row mx-0">
        <div class="col-12 my-3">
            <label for="">Analytic Name</label>
            <input type="text" pInputText ngClass="w-100" [(ngModel)]="selectedName" />
        </div>
        <div class="col-12 my-3">
            <button class="btn btn-primary w-100" (click)="UpdateName()">Update</button>
        </div>
    </div>
</p-dialog>

<p-dialog header="Create Label Modal" [(visible)]="createLabelModal" [modal]="true" [style]="{width: '50vw'}"
    [draggable]="false" [resizable]="false">
    <div class="row mx-0">
        <div class="col-12 my-3">
            <label for="">Analytic Label</label>
            <input type="text" pInputText ngClass="w-100" [(ngModel)]="selectedlabelText" />
            <hr>
            <p-dropdown [options]="labelsAsSelectItems" styleClass="w-100" placeholder="Select Label" appendTo="body"
                [filter]="true" [(ngModel)]="selectedLabel">
            </p-dropdown>
        </div>
        <div class="col-12 my-3">
            <button class="btn btn-primary w-100" (click)="createLabel()">Create Label</button>
        </div>
    </div>
</p-dialog>

<div class="loader-container" *ngIf="isLoading">
    <div class="i-loader-inf-horizontal-container">
        <div class="i-loader-inf-horizontal"></div>
        <div class="pt-8px">
            <span>Processing data</span>
        </div>
    </div>
</div>