<div class="d-flex justify-content-end align-items-center">
    <div class="m-3">
        <!-- <p-button [disabled]="!exportPermission" class="mx-1" icon="pi pi-file" label="Export as Excel"
            (click)="export()"></p-button> -->
        <p-button (click)="filterColumns = true" class="mb-3 mx-2" icon="pi pi-sliders-v" label="Select Columns">
        </p-button>
    </div>
</div>

<div class="card">
    <p-table [value]="subscriptions" [paginator]="true" [rows]="PaginationInfo?.per_page"
        [totalRecords]="PaginationInfo?.total" [lazy]="true" (onLazyLoad)="sort($event)" (onPage)="paginate($event)"
        [showCurrentPageReport]="true" responsiveLayout="scroll" 
        currentPageReportTemplate="Showing {{PaginationInfo?.from}} to {{PaginationInfo?.to}} of {{PaginationInfo?.total}} entries">
        <ng-template pTemplate="caption">
            <h5 class="mb-4">Table Filters</h5>
            <form [formGroup]="filterForm" (ngSubmit)='filter(filterForm)'>
                <div class="row mx-0">
                    <div class="col-xl-3 col-lg-6 col-md-6 col-12 my-2">
                        <label for="">Invoice_no</label>
                        <input type="text" pInputText ngClass="w-100" formControlName='Invoice_no' />
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 col-12 my-2">
                        <label for="">Mobile Number</label>
                        <input type="text" pInputText ngClass="w-100" formControlName='Mobile_no' />
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 col-12 my-2">
                        <label for="">Plan</label>
                        <input type="text" pInputText ngClass="w-100" formControlName='plan' />
                    </div>
                    <!-- <div class="col-xl-3 col-lg-6 col-md-6 col-12 my-2">
                        <label for="">Code</label>
                        <input type="text" pInputText ngClass="w-100" formControlName='code' />
                    </div> -->
                    <div class="col-xl-3 col-lg-6 col-md-6 col-12 my-2">
                        <label for="">Version</label>
                        <p-dropdown [options]="versions" optionLabel="label" optionValue="value"
                            formControlName='version' appendTo="body" styleClass="w-100" placeholder="Select Version"
                            [filter]="true">
                        </p-dropdown>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 col-12 my-2">
                        <label for="">Mode</label>
                        <p-dropdown [options]="modes" optionLabel="label" optionValue="value" formControlName='mode'
                            appendTo="body" styleClass="w-100" placeholder="Select Mode" [filter]="true">
                        </p-dropdown>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 col-12 my-2">
                        <label for="">Company</label>
                        <p-dropdown [options]="companies" optionLabel="label" optionValue="value"
                            formControlName='company' appendTo="body" styleClass="w-100" placeholder="Select Company"
                            [filter]="true">
                        </p-dropdown>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 col-12 my-2">
                        <label for="">Payment</label>
                        <p-dropdown [options]="payments" optionLabel="label" optionValue="value"
                            formControlName='program_id' appendTo="body" styleClass="w-100"
                            placeholder="Select Payment Method" [filter]="true">
                        </p-dropdown>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 col-12 my-2">
                        <label for="">Agent</label>
                        <p-dropdown [options]="agents" optionLabel="name" optionValue="agent_id" formControlName='agent_id'
                            appendTo="body" styleClass="w-100" placeholder="Select Agent" [filter]="true">
                        </p-dropdown>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 col-12 my-2">
                        <label for="">Emirate</label>
                        <p-dropdown [options]="emirates" optionLabel="en_name" optionValue="en_name"
                            formControlName='emirate' appendTo="body" styleClass="w-100" placeholder="Select Emirate"
                            [filter]="true">
                        </p-dropdown>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 col-12 my-2">
                        <label for="">Branch</label>
                        <p-dropdown [options]="branches" optionLabel="name" optionValue="id" formControlName='branch_id'
                            appendTo="body" styleClass="w-100" placeholder="Select Branch" [filter]="true">
                        </p-dropdown>
                    </div>
                    <!-- <div class="col-xl-3 col-lg-6 col-md-6 col-12 my-2">
                        <label for="">Discount</label>
                        <p-dropdown [options]="getUniquePercentages(this.giftCodes)" formControlName='discount'
                            appendTo="body" styleClass="w-100" placeholder="Select Discount Code" [filter]="true">
                        </p-dropdown>
                    </div> -->
                    <!-- <div class="col-xl-3 col-lg-6 col-md-6 col-12 my-2">
                        <label for="">GiftCode</label>
                        <p-multiSelect [options]="giftCodes" appendTo="body" optionLabel="code" optionValue="id" formControlName='code_ids'
                        defaultLabel="Select GiftCodes" styleClass="w-100" display="chip" [filter]="true">
                        </p-multiSelect>
                    </div> -->

                    <div class="col-xl-3 col-lg-6 col-md-6 col-12 my-2">
                        <label for="">Discount</label>
                        <p-dropdown [options]="getUniquePercentages(this.giftCodes)" placeholder="Select Discount Code" [filter]="true"
                         optionGroupLabel="label" optionGroupChildren="items" [group]="true" formControlName='discount'>
                        </p-dropdown>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 col-12 my-2">
                        <label for="">GiftCode</label>
                        <p-dropdown [options]="giftCodes" placeholder="Select a GiftCode" optionLabel="code" [filter]="true"
                         optionGroupLabel="label" optionGroupChildren="items" [group]="true" formControlName='code'>
                        </p-dropdown>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 col-12 my-2">
                        <label for="range">Date Range</label>
                        <p-calendar selectionMode="range" [readonlyInput]="true" inputId="range" formControlName="date"
                            ngClass="w-100" appendTo="body">
                        </p-calendar>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 col-12 my-2">
                        <label for="range">Start Day</label>
                        <p-calendar [readonlyInput]="true" formControlName="delivery_starting_day" ngClass="w-100"
                            appendTo="body">
                        </p-calendar>
                    </div>
                    <div class="col-12 my-2">
                        <div class="upload-btn-wrapper d-flex justify-content-between mt-3">
                            <div>
                                <p-button type="button" (click)="resetFields()"
                                    styleClass="p-button-raised p-button-secondary mx-2" label="Reset Fields"
                                    icon="pi pi-refresh"></p-button>
                            </div>
                            <div>
                                <p-button type="button" (click)="resetFilter()"
                                    styleClass="p-button-raised p-button-secondary mx-2" label="Reset"
                                    icon="pi pi-filter-slash"></p-button>
                                <p-button type="submit" styleClass="p-button-raised p-button-success mx-2"
                                    label="Apply Filter" icon="pi pi-filter"></p-button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th class="text-center">
                    <p-tableHeaderCheckbox #headerCheckbox (click)="selectAllRows(headerCheckbox)"
                        [pSelectableRow]="subscriptions"></p-tableHeaderCheckbox>
                </th>
                <th class="text-center">Actions</th>
                <ng-container *ngFor="let column of columns; let i = index">
                    <th class="text-center" *ngIf="column.status" [pSortableColumn]="column.sortKey">
                        {{ column.name }}
                        <p-sortIcon [field]="column.sortKey"></p-sortIcon>
                    </th>
                </ng-container>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-sub>
            <tr [pSelectableRow]="sub">
                <td class="text-center">
                    <p-tableCheckbox #tableCheckbox (click)="getSpecificRows(tableCheckbox)" [value]="sub">
                    </p-tableCheckbox>
                </td>
                <td class="text-center">
                    <button pButton type="button" icon="pi pi-eye" (click)="showRow(sub)"
                        class="m-1 p-button-sm"></button>
                    <button *ngIf="!sub.cids"
                     [disabled]="!updatePermission" pButton type="button" icon="pi pi-pencil" (click)="displayUpdateModal(sub)"
                        class="m-1 p-button-sm p-button-warning"></button>
                    <button pButton type="button" icon="pi pi-print" class="m-1 p-button-sm p-button-secondary"
                        [disabled]="!printPermission" (click)="print(sub)"></button>
                </td>
                <ng-container *ngFor="let column of columns">
                    <td class="text-center" *ngIf="column.status">
                        <div [ngSwitch]="column.name.toLowerCase()">
                            <div *ngSwitchCase="'agent'">
                                {{ sub[column.key]? sub[column.key]?.name:"ONLINE" }}
                            </div>
                            <div *ngSwitchCase="'client name'">
                                {{ sub[column.key]?.first_name +' '+ sub[column.key]?.last_name }}
                            </div>
                            <div *ngSwitchCase="'mobile'">
                                {{ sub[column.key]?.phone_number }}
                            </div>
                            <div *ngSwitchCase="'emirate'">
                                {{ sub[column.key]?.emirate?.en_name }}
                            </div>
                            <div *ngSwitchCase="'area'">
                                {{ sub[column.key]?.area_id }}
                            </div>
                            <div *ngSwitchCase="'code'">
                                <div [ngSwitch]="sub[column.key]">
                                    <div *ngSwitchCase="null">
                                        <span class="text-danger">No Code</span>
                                    </div>
                                    <div *ngSwitchDefault>
                                        {{sub[column.key]?.code}}
                                    </div>
                                </div>
                            </div>
                            <div *ngSwitchCase="'discount'">
                                <div [ngSwitch]="sub[column.key]?.type.toLowerCase()">
                                    <div *ngSwitchCase="'value'">
                                        {{sub[column.key]?.value+" AED"}}
                                    </div>
                                    <div *ngSwitchCase="'percentage'">
                                        {{sub[column.key]?.percentage + "%"}}
                                    </div>
                                    <div *ngSwitchCase="null">
                                        <span class="text-danger">No Discount</span>
                                    </div>
                                    <div *ngSwitchDefault>
                                        {{sub[column.key]?.percentage + "%"}}
                                    </div>
                                </div>
                            </div>
                            <div *ngSwitchCase="'mode'">
                                <p-tag [severity]="getSeverity(sub[column.key])" [value]="getMode(sub[column.key])">
                                </p-tag>
                            </div>
                            <div *ngSwitchDefault>
                                {{ sub[column.key] }}
                            </div>
                        </div>

                    </td>
                </ng-container>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-dialog header="Select Your Columns" [(visible)]="filterColumns" [modal]="true" [style]="{width: '50vw'}"
    [draggable]="false" [resizable]="false">
    <div class="container" #checkboxContainer>
        <div class="field-checkbox my-3" *ngFor="let obj of columns">
            <p-checkbox name="group1" [value]="obj.name" [(ngModel)]="selectedColumns" [inputId]="obj.name">
            </p-checkbox>
            <label class="mx-3" [for]="obj.name">{{obj.name}}</label>
        </div>
        <div class="field-checkbox my-3">
            <p-checkbox name="group1" #currentCheckbox (click)="selectAllColumns(checkboxContainer,currentCheckbox)"
                value="selectAll" inputId="c100"></p-checkbox>
            <label class="mx-3" for="c100">Select All</label>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <div class="upload-btn-wrapper">
            <button class="btn btn-primary" (click)="filterColumns = false;getFilterColumns()">Apply</button>
        </div>
    </ng-template>
</p-dialog>

<p-dialog header="Update Complaint Status Modal" [(visible)]="updateModal" [modal]="true" [style]="{width: '50vw'}"
    [draggable]="false" [resizable]="false">
    <div class="container">
        <div class="row">
            <div class="col-12 my-2">
                <label for="">CID</label>
                <input type="text" pInputText ngClass="w-100" #CID_UPDATE_INPUT 
                oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"/>
            </div>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <div>
            <button class="btn btn-primary" (click)="updateRow(CID_UPDATE_INPUT)">
                Update
            </button>
        </div>
    </ng-template>
</p-dialog>