<div class="row animated">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="col-md-12">
                    <div class="card card-plain">
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <h4 class="card-title">Refund Info</h4>
                            <div>
                                <button class="btn btn-dark" (click)="backDetailsBtn()">Back</button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive overflow-auto">
                                <table class="table">
                                    <thead class="text-muted">
                                        <th class="py-3">Title</th>
                                        <th class="py-3">Description</th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Date</td>
                                            <td>{{refund?.created_at | date}}</td>
                                        </tr>
                                        <tr>
                                            <td>agent_name</td>
                                            <td>{{refund?.agent_name}}</td>
                                        </tr>
                                        <tr>
                                            <td>name</td>
                                            <td>{{refund?.name}}</td>
                                        </tr>
                                        <tr>
                                            <td>email</td>
                                            <td>{{refund?.email}}</td>
                                        </tr>
                                        <tr>
                                            <td>mobile</td>
                                            <td>{{refund?.mobile}}</td>
                                        </tr>
                                        <tr>
                                            <td>branch</td>
                                            <td>{{refund?.branch}}</td>
                                        </tr>
                                        <tr>
                                            <td>delivery_branch</td>
                                            <td>{{refund?.delivery_branch}}</td>
                                        </tr>
                                        <tr>
                                            <td>subscription_plan</td>
                                            <td>{{refund?.subscription_plan}}</td>
                                        </tr>
                                        <tr>
                                            <td>remaining_days</td>
                                            <td>{{refund?.remaining_days}}</td>
                                        </tr>
                                        <tr>
                                            <td>payment_method</td>
                                            <td>{{refund?.payment_method}}</td>
                                        </tr>
                                        <tr>
                                            <td>cid</td>
                                            <td>{{refund?.cid}}</td>
                                        </tr>
                                        <tr>
                                            <td>address</td>
                                            <td>{{refund?.address}}</td>
                                        </tr>
                                        <tr>
                                            <td>bank_name</td>
                                            <td>{{refund?.bank_name}}</td>
                                        </tr>
                                        <tr>
                                            <td>iban</td>
                                            <td>{{refund?.iban}}</td>
                                        </tr>
                                        <tr>
                                            <td>bank_account_number</td>
                                            <td>{{refund?.bank_account_number}}</td>
                                        </tr>
                                        <tr>
                                            <td>account_hold_name</td>
                                            <td>{{refund?.account_hold_name}}</td>
                                        </tr>
                                        <tr>
                                            <td>amount_paid</td>
                                            <td>{{refund?.amount_paid}}</td>
                                        </tr>
                                        <tr>
                                            <td>reason</td>
                                            <td>{{refund?.reason}}</td>
                                        </tr>
                                        <tr>
                                            <td>notes</td>
                                            <td>{{refund?.notes}}</td>
                                        </tr>
                                        <tr *ngIf="refund?.file">
                                            <td>Uploaded Image</td>
                                            <td>
                                                <p-image [src]="'http://api.lowcalories.ae/'+refund?.file"
                                                    alt="Report Image" width="250" [preview]="true"></p-image>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Files</td>
                                            <td>
                                                <span *ngIf="files?.length">
                                                    <small *ngFor="let f of files" style="display: block;" class="my-2">
                                                        <span *ngIf="f.type.includes('image')">
                                                            <p-image [src]="'http://api.lowcalories.ae/'+f?.file"
                                                                alt="Uploaded Image" width="250" [preview]="true">
                                                            </p-image>
                                                        </span>
                                                        <span *ngIf="f.type.includes('audio')">
                                                            <audio controls>
                                                                <source [src]="'http://api.lowcalories.ae/'+f.file"
                                                                    type="audio/mpeg">
                                                            </audio>
                                                        </span>
                                                        <span
                                                            *ngIf="!f.type.includes('audio')&&!f.type.includes('image')&&!f.type.includes('video')">
                                                            <a target="_blank"
                                                                [href]="'http://api.lowcalories.ae/'+f.file"
                                                                download>{{f.type}}</a>
                                                        </span>
                                                        <span *ngIf="f.type.includes('video')">
                                                            <video width="250" class="m-1" controls>
                                                                <source src="http://api.lowcalories.ae/{{f?.file}}">
                                                            </video>
                                                        </span>
                                                    </small>
                                                </span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>