<div class="d-flex justify-content-end align-items-center  table-buttons-container">
    <div class="m-3">
        <button [disabled]="!createPermission" pButton pRipple label="Add Complaint" class="p-button-success mx-1" icon="pi pi-plus"
            routerLink="../create"></button>
        <p-button class="mb-3 mx-1" icon="pi pi-filter" label="Filter" (click)="filterModal = true;">
        </p-button>
        <p-button [disabled]="!exportPermission" class="mx-1" icon="pi pi-file" label="Export as Excel" (click)="export()">
        </p-button>
        <p-button [disabled]="!printPermission" class="mx-1" icon="pi pi-file" label="Export as PDF" *ngIf="allComplaints.length"
            (click)="exportAsPDF()">
        </p-button>
        <p-button (click)="filterColumns = true" class="mb-3 mx-2" icon="pi pi-sliders-v" label="Select Columns">
        </p-button>
        <p-button [disabled]="!downloadSamplePermission" (click)="displayUploadModal()" class="mb-3 mx-1" icon="pi pi-external-link"
        label="Upload"></p-button>
    </div>
</div>

<div class="card">
    <p-table [value]="complaints" [paginator]="true" [rows]="PaginationInfo?.per_page"
        [totalRecords]="PaginationInfo?.total" [lazy]="true"
        (onLazyLoad)="sort($event)"
        (onPage)="paginate($event)" [showCurrentPageReport]="true"
        responsiveLayout="scroll"
        currentPageReportTemplate="Showing {{PaginationInfo?.from}} to {{PaginationInfo?.to}} of {{PaginationInfo?.total}} entries">
        <ng-template pTemplate="header">
            <tr>
                <th class="text-center">
                    <p-tableHeaderCheckbox #headerCheckbox (click)="selectAllRows(headerCheckbox)" [pSelectableRow]="complaints"></p-tableHeaderCheckbox>
                </th>
                <th class="text-center"*ngIf="columns[0].status" pSortableColumn="id">id <p-sortIcon field="id"></p-sortIcon></th>
                <th class="text-center"*ngIf="columns[1].status" pSortableColumn="action">action <p-sortIcon field="action"></p-sortIcon></th>
                <th class="text-center"*ngIf="columns[2].status" pSortableColumn="agent_name">agent_name <p-sortIcon field="agent_name"></p-sortIcon></th>
                <th class="text-center"*ngIf="columns[3].status" pSortableColumn="branch">branch <p-sortIcon field="branch"></p-sortIcon></th>
                <th class="text-center"*ngIf="columns[4].status" pSortableColumn="c_mobile">c_mobile <p-sortIcon field="c_mobile"></p-sortIcon></th>
                <th class="text-center"*ngIf="columns[5].status" pSortableColumn="c_name">c_name <p-sortIcon field="c_name"></p-sortIcon></th>
                <th class="text-center"*ngIf="columns[6].status" pSortableColumn="cid">cid <p-sortIcon field="cid"></p-sortIcon></th>
                <th class="text-center"*ngIf="columns[7].status" pSortableColumn="created_at">created_at <p-sortIcon field="created_at"></p-sortIcon></th>
                <th class="text-center"*ngIf="columns[8].status" pSortableColumn="date">date <p-sortIcon field="date"></p-sortIcon></th>
                <th class="text-center"*ngIf="columns[9].status" pSortableColumn="issue_details">issue_details <p-sortIcon field="issue_details"></p-sortIcon></th>
                <th class="text-center"*ngIf="columns[10].status" pSortableColumn="status">status <p-sortIcon field="status"></p-sortIcon></th>
                <th class="text-center"*ngIf="columns[11].status" pSortableColumn="feedback_type">feedback_type <p-sortIcon field="feedback_type"></p-sortIcon></th>
                <th class="text-center"*ngIf="columns[12].status" pSortableColumn="order_type">order_type <p-sortIcon field="order_type"></p-sortIcon></th>
                <th class="text-center"*ngIf="columns[13].status" pSortableColumn="issue_category">issue_category <p-sortIcon field="issue_category"></p-sortIcon></th>
                <th class="text-center">Actions</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-complaint>
            <tr [pSelectableRow]="complaint">
                <td class="text-center">
                    <p-tableCheckbox #tableCheckbox (click)="getSpecificRows(tableCheckbox)" [value]="complaint"></p-tableCheckbox>
                </td>
                <td class="text-center" *ngIf="columns[0].status">{{complaint.id}}</td>
                <td class="text-center" *ngIf="columns[1].status">{{complaint.action}}</td>
                <td class="text-center" *ngIf="columns[2].status">{{complaint.agent_name}}</td>
                <td class="text-center" *ngIf="columns[3].status">{{complaint.branch}}</td>
                <td class="text-center" *ngIf="columns[4].status">{{complaint.c_mobile}}</td>
                <td class="text-center" *ngIf="columns[5].status">{{complaint.c_name}}</td>
                <td class="text-center" *ngIf="columns[6].status">{{complaint.cid}}</td>
                <td class="text-center" *ngIf="columns[7].status">{{complaint.created_at | date}}</td>
                <td class="text-center" *ngIf="columns[8].status">{{complaint.date}}</td>
                <td class="text-center" *ngIf="columns[9].status">{{complaint.issue_details}}</td>
                <td class="text-center" *ngIf="columns[10].status">{{complaint.status}}</td>
                <td class="text-center" *ngIf="columns[11].status">{{complaint.feedback_type}}</td>
                <td class="text-center" *ngIf="columns[12].status">{{complaint.order_type}}</td>
                <td class="text-center" *ngIf="columns[13].status">{{complaint.issue_category}}</td>
                <td class="text-center">
                    <button  [disabled]="!updatePermission" pButton type="button" icon="pi pi-sync" (click)="displayUpdateModal(complaint)"
                    class="m-1 p-button-sm p-button-help"></button>
                    
                    <button  [disabled]="!uploadFilesPermission" pButton type="button" icon="pi pi-upload" class="m-1 p-button-sm p-button-success"
                    (click)="displayUploadFilesModal(complaint.id)"></button>
                    <button pButton type="button" icon="pi pi-eye" (click)="showRow(complaint)"
                        class="m-1 p-button-sm"></button>
                    <button  [disabled]="!fullUpdatePermission" pButton type="button" icon="pi pi-pencil" (click)="fullUpdateRow(complaint)"
                        class="m-1 p-button-sm p-button-warning"></button>
                    <button  [disabled]="!printPermission" pButton type="button" icon="pi pi-print" class="m-1 p-button-sm p-button-secondary" (click)="print(complaint)"></button>
                    <button pButton type="button" icon="pi pi-trash" [disabled]="!deletePermission"
                    (click)="confirm(complaint?.id)" class="m-1 p-button-danger p-button-sm"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-dialog header="Filter Complaints Modal" [(visible)]="filterModal" [modal]="true" [style]="{width: '50vw'}"
    [draggable]="false" [resizable]="false">
    <div class="container">
        <form [formGroup]="filterForm" #myForm="ngForm">
            <div class="row mx-0">
                <div class="col-lg-6 col-12 my-2">
                    <label for="">client_number</label>
                    <input type="text" pInputText ngClass="w-100" formControlName='c_mobile' maxlength="10"
                    oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"/>
                </div>
                <div class="col-lg-6 col-12 my-2">
                    <label for="">client_cid</label>
                    <input type="text" pInputText ngClass="w-100" formControlName='cid' />
                </div>
                <div class="col-lg-6 col-12 my-2">
                    <label for="">client_name</label>
                    <input type="text" pInputText ngClass="w-100" formControlName='c_name' />
                </div>
                <div class="col-lg-6 col-12 my-2">
                    <label for="">Agent</label>
                    <p-dropdown [options]="agents" optionLabel="name" optionValue="name" formControlName='agent_name'
                        appendTo="body" styleClass="w-100" placeholder="Select Agent" [filter]="true">
                    </p-dropdown>
                </div>
                <div class="col-lg-6 col-12 my-2">
                    <label for="">feedback_type</label>
                    <p-dropdown [options]="feedback_type" formControlName='feedback_type'
                        appendTo="body" styleClass="w-100" placeholder="Select feedback type">
                    </p-dropdown>
                </div>
                <div class="col-lg-6 col-12 my-2">
                    <label for="">order_type</label>
                    <p-dropdown [options]="order_type" formControlName='order_type'
                        appendTo="body" styleClass="w-100" placeholder="Select order type">
                    </p-dropdown>
                </div>
                <div class="col-lg-6 col-12 my-2">
                    <label for="">issue_category</label>
                    <p-dropdown [options]="issue_category" formControlName='issue_category'
                        appendTo="body" styleClass="w-100" placeholder="Select category">
                    </p-dropdown>
                </div>
                <div class="col-lg-6 col-12 my-2">
                    <label for="">branch</label>
                    <p-dropdown [options]="branches" optionLabel="name" optionValue="name" formControlName='branch'
                        appendTo="body" styleClass="w-100" placeholder="Select Branch" [filter]="true">
                    </p-dropdown>
                </div>
                <div class="col-lg-6 col-12 my-2">
                    <label for="">Status</label>
                    <p-dropdown [options]="status" formControlName='status' appendTo="body" styleClass="w-100"
                        placeholder="Select Status" [filter]="true">
                    </p-dropdown>
                </div>
                <div class="col-lg-6 col-12 my-2">
                    <label for="range">Date Range</label>
                    <p-calendar selectionMode="range" [readonlyInput]="true" inputId="range" formControlName="date"
                        ngClass="w-100" appendTo="body">
                    </p-calendar>
                </div>
            </div>
        </form>
    </div>
    <ng-template pTemplate="footer">
        <div class="upload-btn-wrapper d-flex justify-content-between mt-3">
            <div>
                <button class="btn btn-secondary" (click)="resetFields()">
                    Reset Fields
                </button>
            </div>
            <div>
                <button class="btn btn-primary" (click)="applyFilter(filterForm)">
                    Apply Filter
                </button>
                <button class="btn btn-secondary" (click)="resetFilter()">
                    Reset Filter
                </button>
            </div>
        </div>
    </ng-template>
</p-dialog>

<p-dialog header="Update Complaint Status Modal" [(visible)]="updateModal" [modal]="true" [style]="{width: '50vw'}"
    [draggable]="false" [resizable]="false">
    <div class="container">
        <div class="row">
            <div class="col-12 my-2">
                <label for="">Status</label>
                <p-dropdown [options]="status" appendTo="body" styleClass="w-100" [(ngModel)]="currentEditStatus">
                </p-dropdown>
            </div>
            <div class="col-12 my-2">
                <label for="">reason</label>
                <textarea pInputTextarea ngClass="w-100" [(ngModel)]="currentEditReason"></textarea>
            </div>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <div>
            <button class="btn btn-primary" (click)="updateRow(currentEditStatus,currentEditReason)" [disabled]="!currentEditReason">
                Update Status
            </button>
        </div>
    </ng-template>
</p-dialog>


<p-dialog header="Select Your Columns" [(visible)]="filterColumns" [modal]="true" [style]="{width: '50vw'}"
    [draggable]="false" [resizable]="false">
    <div class="container" #checkboxContainer>
        <div class="field-checkbox my-3" *ngFor="let obj of columns">
            <p-checkbox name="group1" [value]="obj.name" [(ngModel)]="selectedColumns" [inputId]="obj.name"></p-checkbox>
            <label class="mx-3" [for]="obj.name">{{obj.name}}</label>
        </div>
        <div class="field-checkbox my-3">
            <p-checkbox name="group1" #currentCheckbox (click)="selectAllColumns(checkboxContainer,currentCheckbox)"
                value="selectAll" inputId="c100"></p-checkbox>
            <label class="mx-3" for="c100">Select All</label>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <div class="upload-btn-wrapper">
            <button class="btn btn-primary" (click)="filterColumns = false;getFilterColumns()">Apply</button>
        </div>
    </ng-template>
</p-dialog>

<p-dialog header="Please upload a file included all properties" [(visible)]="uploadModal" [modal]="true"
    [style]="{width: '50vw'}" [draggable]="false" [resizable]="false">

    <ng-template pTemplate="footer">
        <div class="upload-btn-wrapper">
            <button class="btn btn-primary" (click)="getSample()">Download Sample</button>
        </div>
        <div class="upload-btn-wrapper">
            <button class="btn btn-primary">Upload a file</button>
            <input type="file" name="myfile" (change)="onFileSelected($event)" />
        </div>
    </ng-template>
</p-dialog>

<p-dialog header="Upload Files" [(visible)]="uploadFilesModal" [modal]="true" [style]="{width: '50vw'}" [draggable]="false"
    [resizable]="false">
    <form [formGroup]="uploadForm" (ngSubmit)='uploadFiles(uploadForm)'>
        <div class="row mx-0">
            <div class="col-12 my-2">
                <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="file_input">
                    Upload Files</label>
                <input (change)="getUploadedFile($event)"
                    class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
                    id="file_input" type="file" accept="*/*" multiple>
            </div>

            <div class="col-12 my-3">
                <button class="btn btn-primary w-100">
                    <span *ngIf="!uploadingStatus">Add Files</span>
                    <span *ngIf="uploadingStatus">Uploading...<i class="fas fa-spinner fa-spin"></i></span>
                </button>
            </div>
        </div>
    </form>
</p-dialog>

<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text">
</p-confirmDialog>