<div class="d-flex justify-content-end align-items-center">
    <div class="mb-3">
        <button pButton pRipple label="Add Complaint" class="p-button-success mx-1" icon="pi pi-plus"
            routerLink="../create"></button>
        <p-button class="mb-3 mx-1" icon="pi pi-filter" label="Filter" (click)="filterModal = true;">
        </p-button>
        <p-button class="mx-1" icon="pi pi-file" label="Export as Excel" (click)="export()">
        </p-button>
        <p-button class="mx-1" icon="pi pi-file" label="Export as PDF" *ngIf="allComplaints.length"
            (click)="exportAsPDF()">
        </p-button>
        <p-button (click)="filterColumns = true" class="mb-3 mx-2" icon="pi pi-sliders-v" label="Select Columns">
        </p-button>
    </div>
</div>

<div class="card">
    <p-table [value]="complaints" [paginator]="true" [rows]="PaginationInfo?.per_page"
        [totalRecords]="PaginationInfo?.total" [lazy]="true" (onPage)="paginate($event)" [showCurrentPageReport]="true"
        responsiveLayout="scroll"
        currentPageReportTemplate="Showing {{PaginationInfo?.from}} to {{PaginationInfo?.to}} of {{PaginationInfo?.total}} entries">
        <ng-template pTemplate="header">
            <tr>
                <th class="text-center">
                    Select Columns
                </th>
                <th class="text-center"*ngIf="columns[0].status">id</th>
                <th class="text-center"*ngIf="columns[1].status">action</th>
                <th class="text-center"*ngIf="columns[2].status">agent_name</th>
                <th class="text-center"*ngIf="columns[3].status">branch</th>
                <th class="text-center"*ngIf="columns[4].status">c_mobile</th>
                <th class="text-center"*ngIf="columns[5].status">c_name</th>
                <th class="text-center"*ngIf="columns[6].status">cid</th>
                <th class="text-center"*ngIf="columns[7].status">created_at</th>
                <th class="text-center"*ngIf="columns[8].status">date</th>
                <th class="text-center"*ngIf="columns[9].status">issue_details</th>
                <th class="text-center"*ngIf="columns[10].status">status</th>
                <th class="text-center">Actions</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-complaint>
            <tr>
                <td class="text-center">
                    <input type="checkbox" #areaIdInput (click)="getSpecificRows(areaIdInput)" [value]="complaint.id">
                </td>
                <td class="text-center" *ngIf="columns[0].status">{{complaint.id}}</td>
                <td class="text-center" *ngIf="columns[1].status">{{complaint.action}}</td>
                <td class="text-center" *ngIf="columns[2].status">{{complaint.agent_name}}</td>
                <td class="text-center" *ngIf="columns[3].status">{{complaint.branch}}</td>
                <td class="text-center" *ngIf="columns[4].status">{{complaint.c_mobile}}</td>
                <td class="text-center" *ngIf="columns[5].status">{{complaint.c_name}}</td>
                <td class="text-center" *ngIf="columns[6].status">{{complaint.cid}}</td>
                <td class="text-center" *ngIf="columns[7].status">{{complaint.created_at | date}}</td>
                <td class="text-center" *ngIf="columns[8].status">{{complaint.date}}</td>
                <td class="text-center" *ngIf="columns[9].status">{{complaint.issue_details}}</td>
                <td class="text-center" *ngIf="columns[10].status">{{complaint.status}}</td>
                <td class="text-center">
                    <button pButton type="button" icon="pi pi-eye" (click)="showRow(complaint)"
                        class="m-1 p-button-sm"></button>
                    <button pButton type="button" icon="pi pi-pencil" (click)="displayUpdateModal(complaint)"
                        class="m-1 p-button-sm p-button-warning"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-dialog header="Filter Complaints Modal" [(visible)]="filterModal" [modal]="true" [style]="{width: '50vw'}"
    [draggable]="false" [resizable]="false">
    <div class="container">
        <form [formGroup]="filterForm" #myForm="ngForm">
            <div class="row mx-0">
                <div class="col-lg-6 col-12 my-2">
                    <label for="">client_number</label>
                    <input type="text" pInputText ngClass="w-100" formControlName='c_mobile' maxlength="10"
                    oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"/>
                </div>
                <div class="col-lg-6 col-12 my-2">
                    <label for="">client_cid</label>
                    <input type="text" pInputText ngClass="w-100" formControlName='cid' />
                </div>
                <div class="col-lg-6 col-12 my-2">
                    <label for="">client_name</label>
                    <input type="text" pInputText ngClass="w-100" formControlName='c_name' />
                </div>
                <div class="col-lg-6 col-12 my-2">
                    <label for="">Agent</label>
                    <p-dropdown [options]="agents" optionLabel="name" optionValue="name" formControlName='agent_name'
                        appendTo="body" styleClass="w-100" placeholder="Select Agent" [filter]="true">
                    </p-dropdown>
                </div>
                <div class="col-lg-6 col-12 my-2">
                    <label for="">branch</label>
                    <p-dropdown [options]="branches" optionLabel="name" optionValue="name" formControlName='branch'
                        appendTo="body" styleClass="w-100" placeholder="Select Branch" [filter]="true">
                    </p-dropdown>
                </div>
                <div class="col-lg-6 col-12 my-2">
                    <label for="">Status</label>
                    <p-dropdown [options]="status" formControlName='status' appendTo="body" styleClass="w-100"
                        placeholder="Select Status" [filter]="true">
                    </p-dropdown>
                </div>
                <div class="col-12 my-2">
                    <label for="range">Date Range</label>
                    <p-calendar selectionMode="range" [readonlyInput]="true" inputId="range" formControlName="date"
                        ngClass="w-100" appendTo="body">
                    </p-calendar>
                </div>
            </div>
        </form>
    </div>
    <ng-template pTemplate="footer">
        <div class="upload-btn-wrapper d-flex justify-content-between mt-3">
            <div>
                <button class="btn btn-secondary" (click)="resetFields()">
                    Reset Fields
                </button>
            </div>
            <div>
                <button class="btn btn-primary" (click)="applyFilter(filterForm)">
                    Apply Filter
                </button>
                <button class="btn btn-secondary" (click)="resetFilter()">
                    Reset Filter
                </button>
            </div>
        </div>
    </ng-template>
</p-dialog>

<p-dialog header="Update Complaint Status Modal" [(visible)]="updateModal" [modal]="true" [style]="{width: '50vw'}"
    [draggable]="false" [resizable]="false">
    <div class="container">
        <div class="row">
            <div class="col-12 my-2">
                <label for="">Status</label>
                <p-dropdown [options]="status" appendTo="body" styleClass="w-100" [(ngModel)]="currentEditStatus">
                </p-dropdown>
            </div>
            <div class="col-12 my-2">
                <label for="">reason</label>
                <textarea pInputTextarea ngClass="w-100" [(ngModel)]="currentEditReason"></textarea>
            </div>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <div>
            <button class="btn btn-primary" (click)="updateRow(currentEditStatus,currentEditReason)" [disabled]="!currentEditReason">
                Update Status
            </button>
        </div>
    </ng-template>
</p-dialog>


<p-dialog header="Select Your Columns" [(visible)]="filterColumns" [modal]="true" [style]="{width: '50vw'}"
    [draggable]="false" [resizable]="false">
    <div class="container" #checkboxContainer>
        <div class="field-checkbox my-3" *ngFor="let obj of columns">
            <p-checkbox name="group1" [value]="obj.name" [(ngModel)]="selectedColumns" [inputId]="obj.name"></p-checkbox>
            <label class="mx-3" [for]="obj.name">{{obj.name}}</label>
        </div>
        <div class="field-checkbox my-3">
            <p-checkbox name="group1" #currentCheckbox (click)="selectAllColumns(checkboxContainer,currentCheckbox)"
                value="selectAll" inputId="c100"></p-checkbox>
            <label class="mx-3" for="c100">Select All</label>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <div class="upload-btn-wrapper">
            <button class="btn btn-primary" (click)="filterColumns = false;getFilterColumns()">Apply</button>
        </div>
    </ng-template>
</p-dialog>