<section>
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <h2>Customer Plans Inquiry</h2>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6 my-2" *ngIf="!searchByCID">
                <div class="form-group">
                    <label for="">Customer Phone</label>
                    <input type="text" pInputText placeholder="Enter Customer Phone" maxlength="10" [(ngModel)]="phone"
                        oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
                        class="p-inputtext p-component p-element w-100" #PHONE_INPUT (keydown.enter)="getCustomerCIDS();blur(PHONE_INPUT)"
                        (blur)="getCustomerCIDS()">
                </div>
            </div>
            <div class="col-md-6 my-2" *ngIf="!searchByCID">
                <div class="form-group">
                    <label for="">Customer CID</label>
                    <p-dropdown [options]="CIDs" styleClass="w-100" placeholder="Select CID" appendTo="body"
                        [(ngModel)]="cid" optionValue="cid" optionLabel="cid" (onChange)="reset();getCustomerInfo()">
                    </p-dropdown>
                </div>
            </div>
            <div class="col-12 my-2" *ngIf="searchByCID">
                <div class="form-group">
                    <label for="">Customer CID</label>
                    <input type="text" pInputText placeholder="Enter Customer CID" maxlength="10" [(ngModel)]="cid"
                        oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
                        class="p-inputtext p-component p-element w-100" #CID_INPUT (keydown.enter)="getCustomerInfo();blur(CID_INPUT)"
                        (blur)="getCustomerInfo()">
                </div>
            </div>
            <div class="col-12 my-2">
                <div class="form-group">
                    <div class="d-flex justify-content-between">
                        <button class="btn btn-secondary px-4 mx-2" (click)="toggleSearch()">
                            <b>{{toggleBtnName}}</b>
                        </button>
                        <!-- <button class="btn btn-success px-4 mx-2" [disabled]="cid == '' || cid == null"
                        (click)="getCustomerInfo()">
                        <b>Get Customer Plans</b>
                    </button> -->
                    </div>
                </div>
            </div>
        </div>
        <hr *ngIf="customerInfo">
        <div class="card" *ngIf="customerInfo">
            <div class="card-body">
                <div class="table-responsive overflow-auto">
                    <table class="table">
                        <thead class="text-muted">
                            <th class="py-3">Customer Info</th>
                            <th class="py-3">Description</th>
                            <th class="py-3">Plan Info</th>
                            <th class="py-3">Description</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>CID</td>
                                <td>{{customerInfo?.cid}}</td>
                              
                                <td>Plan</td>
                                <td>{{customerInfo?.planTitle}}</td>
                            </tr>
                            <tr>
                                <td>Name</td>
                                <td>{{customerInfo?.customerName}}</td>
                            
                             <td>Status</td>
                             <td>
                                 <p-tag [severity]="getSeverity(customerInfo?.status)" [value]="customerInfo?.status">
                                 </p-tag>
                             </td>
                            </tr>
                            <tr>
                                <td>Addreess</td>
                                <td>{{customerInfo?.deliveryAddress}}</td>
                                <td>Remaining Days</td>
                                <td>{{customerInfo?.remainingDays}}</td>
                            </tr>
                            <tr>
                                <td>Email</td>
                                <td>{{customerInfo?.email}}</td>
                                <td>Delivery Branch</td>
                                <td>{{customerInfo?.deliveryBranch}}</td>
                            </tr>
                            <tr>
                                <td>Phone</td>
                                <td>{{customerInfo?.customerPhone}}</td>
                                <td>Start Date</td>
                                <td>{{customerInfo?.startDate | date:'dd/MM/yyyy hh:mm a'}}</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>Last Delivery</td>
                                <td>{{customerInfo?.lastDeliveryDate | date:'dd/MM/yyyy hh:mm a'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-12 my-2 d-flex justify-content-end">
                        <div class="form-group mx-2">
                            <div class="text-end">
                                <button class="btn btn-secondary px-4" (click)="logsModal = true;getLogs()">
                                    <b>Show Logs</b>
                                </button>
                            </div>
                        </div>
                        <div class="form-group mx-2" *ngIf="customerInfo.invoices.length">
                            <div class="text-end">
                                <a style="color: #fff;text-decoration: none;" href="https://thelowcalories.com:91/Home/inv?CID={{customerInfo.cid}}" target="_blank">
                                    <button class="btn btn-warning px-4 text-white">
                                        <b>Show Invoice</b>
                                    </button>
                                    </a>
                            </div>
                        </div>
                        <div class="form-group mx-2">
                            <div class="text-end">
                                <button class="btn btn-success px-4" (click)="getDetails(customerInfo?.cid);GetNutirationAVG(customerInfo?.cid)">
                                    <b>Show Meals</b>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<p-dialog header="Plan Details" [(visible)]="planModal" [modal]="true" [style]="{width: '90vw'}"
    [draggable]="true" [resizable]="true">
    <ng-template pTemplate="body">
        <div #download_container>
            <table class="table">
                <tbody>
                    <tr>
                        <td>CID</td>
                        <td>{{customerInfo?.cid}}</td>
                      
                        <td>Plan</td>
                        <td>{{customerInfo?.planTitle}}</td>
                    </tr>
                    <tr>
                        <td>Name</td>
                        <td>{{customerInfo?.customerName}}</td>
                    
                     <td>Status</td>
                     <td>
                         {{customerInfo?.status}}
                     </td>
                    </tr>
                    <tr>
                        <td>Addreess</td>
                        <td>{{customerInfo?.deliveryAddress}}</td>
                        <td>Remaining Days</td>
                        <td>{{customerInfo?.remainingDays}}</td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td>{{customerInfo?.email}}</td>
                        <td>Delivery Branch</td>
                        <td>{{customerInfo?.deliveryBranch}}</td>
                    </tr>
                    <tr>
                        <td>Phone</td>
                        <td>{{customerInfo?.customerPhone}}</td>
                        <td>Start Date</td>
                        <td>{{customerInfo?.startDate | date:'dd/MM/yyyy hh:mm a'}}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>Last Delivery</td>
                        <td>{{customerInfo?.lastDeliveryDate | date:'dd/MM/yyyy hh:mm a'}}</td>
                    </tr>
                </tbody>
            </table>
        
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <th style="background-color:#cbcbcb" colspan="200">
                                    <h3 style="text-align:center">Nutiration Facts</h3>
                                </th>
                            </tr>
                            <tr>
                                <td *ngFor="let week of nutirationAVG | keyvalue">
                                    <h3 style="text-align:center">{{week.key}}</h3>
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Calories</th>
                                                <th>Protein</th>
                                                <th>Fats</th>
                                                <th>Carb</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>{{nutirationAVG[getItem(week.key)].calories.toFixed(2)}}</td>
                                                <td>{{nutirationAVG[getItem(week.key)].protiens.toFixed(2)}}</td>
                                                <td>{{nutirationAVG[getItem(week.key)].fats.toFixed(2)}}</td>
                                                <td>{{nutirationAVG[getItem(week.key)].carb.toFixed(2)}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <p-table [value]="meals" styleClass="p-datatable-gridlines" >
                <ng-template pTemplate="header">
                    <tr>
                        <th class="text-center">Day</th>
                        <th class="text-center" *ngFor="let type of meals[0].meals; let i = index">
                            {{(i+1) > customerInfo?.planTitle.split("-")[0].at(0) ? "SNACK" : "MEAL "+(i+1)}}
                        </th>
                        <th class="text-center">
                            Day Nutrition Facts
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-index>
                    <tr>
                        <td class="text-center" style="font-size: 10px;">
                            {{index.dayname}}
                        </td>
                        <td class="text-center p-1" *ngFor="let meal of index.meals">
                            {{meal.mealName}} <br><br>
                            <table class="table table-bordered" style="width: 120px;font-size: 8px;">
                                <thead>
                                    <tr>
                                        <th style="padding: 8px 0;text-align: center;">Calories</th>
                                        <th style="padding: 8px 0;text-align: center;">Protein</th>
                                        <th style="padding: 8px 0;text-align: center;">Fats</th>
                                        <th style="padding: 8px 0;text-align: center;">Carb</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td style="padding: 8px 0;text-align: center;">{{meal.calories.toFixed(2)}}</td>
                                        <td style="padding: 8px 0;text-align: center;">{{meal.protiens.toFixed(2)}}</td>
                                        <td style="padding: 8px 0;text-align: center;">{{meal.fats.toFixed(2)}}</td>
                                        <td style="padding: 8px 0;text-align: center;">{{meal.carb.toFixed(2)}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                        <td class="p-1"  style="width: 130px;font-size: 8px;">
                            <table class="table table-bordered" style="width: 130px;font-size: 8px;">
                                <thead>
                                    <tr>
                                        <th style="padding: 8px 0;text-align: center;">Calories</th>
                                        <th style="padding: 8px 0;text-align: center;">Protein</th>
                                        <th style="padding: 8px 0;text-align: center;">Fats</th>
                                        <th style="padding: 8px 0;text-align: center;">Carb</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td style="padding: 8px 0;text-align: center;">{{calculateTotalNutrition(index.meals).calories.toFixed(2)}}</td>
                                        <td style="padding: 8px 0;text-align: center;">{{calculateTotalNutrition(index.meals).protiens.toFixed(2)}}</td>
                                        <td style="padding: 8px 0;text-align: center;">{{calculateTotalNutrition(index.meals).fats.toFixed(2)}}</td>
                                        <td style="padding: 8px 0;text-align: center;">{{calculateTotalNutrition(index.meals).carb.toFixed(2)}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <div class="upload-btn-wrapper mt-3 mx-3">
            <button class="btn btn-primary" [disabled]="!printPermission" (click)="pdfDownload()">
                <b>Export As PDF <i *ngIf="isLoading" class="fas fa-circle-notch fa-spin p-0"></i></b>
            </button>
        </div>
    </ng-template>
</p-dialog>

<p-dialog header="Customer Logs" [(visible)]="logsModal" [modal]="true" [style]="{width: '90vw'}"
[draggable]="true" [resizable]="true">
<div class="row">
    <div class="col-md-6 col-12 my-2">
        <p-calendar selectionMode="range" [readonlyInput]="true" inputId="range" ngClass="w-100" appendTo="body"
            placeholder="Select Date Range" [(ngModel)]="selectedDate" dataType="date" #logDateRangeInput
            (onSelect)="onDateSelect(logDateRangeInput)">
        </p-calendar>
    </div>
    <div class="col-3 my-2">
        <p-multiSelect [options]="logFilters" appendTo="body" defaultLabel="Select Filters"  [filter]="false"
        styleClass="w-100" display="chip" [(ngModel)]="selectedFilters"></p-multiSelect>
    </div>
    <div class="col-3 my-2">
        <p-button class="mx-2" label="Show Logs" (click)="getLogs()"></p-button>
        <button class="btn btn-secondary px-4 h-100 mx-2" (click)="resetDate()">
            <b>Reset</b>
        </button>
    </div>
</div>
<div class="card-body mt-4">
    <div class="table-responsive overflow-auto">
        <p-table [value]="logs" [loading]="loadingLogs">
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="customerName">
                        Customer Name
                        <p-sortIcon field="customerName"></p-sortIcon>
                    </th>
                    <th pSortableColumn="action">
                        Action
                        <p-sortIcon field="action"></p-sortIcon>
                    </th>
                    <th pSortableColumn="actionDate">
                        Action Date
                        <p-sortIcon field="actionDate"></p-sortIcon>
                    </th>
                    <th pSortableColumn="ristirctEnd">
                        Ristirct End
                        <p-sortIcon field="ristirctEnd"></p-sortIcon>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-log let-rowIndex="rowIndex">
                <tr [pSelectableRow]="log">
                    <td>{{log.customerName}}</td>
                    <td>{{log.action}}</td>
                    <td>{{log.actionDate | date}}</td>
                    <td>{{log.ristirctEnd | date}}</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="4"><h6 class="text-danger text-center">No Record Found</h6></td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
</p-dialog>