<aside class="sidebar shadow-sm no-print" *ngIf="isLogin">
  <div class="sidebar-profile d-flex flex-column justify-content-center pt-5 pb-3">
    <div class="picture-wrapper mb-4">
      <div class="user-picture m-auto">
        <img src="./assets/images/logo.png" class="img-fluid" alt="">
      </div>
    </div>
    <div class="profile-details text-center pb-4">
      <p class="mb-0 text-uppercase name">{{user.name}}</p>
      <small class="text-uppercase role">{{user?.role_name}}</small>
    </div>
  </div>

  <nav class="sidebar-menu pt-3 pb-3">
    <!-- ===========================================HOME======================================================= -->
    <ul class="menu-items">
      <li>
        <a routerLink="/home" routerLinkActive="active">
          <i class="fas fa-home"></i>
          <span>Home</span>
        </a>
      </li>
    </ul>
    <hr>
    <!-- ==============================================SuperAdmin==================================================== -->
    <div class="menu-header mt-3 mb-2" *ngIf="isSuperAdmin">
      Admin Components
    </div>
    <ul class="menu-items" *ngIf="isSuperAdmin">
      <li>
        <a routerLink="/users/show" routerLinkActive="active">
          <i class="fas fa-users"></i>
          <span>HeadOffice Users</span>
        </a>
      </li>
      <li>
        <a routerLink="/users/roles" routerLinkActive="active">
          <i class="fas fa-user-shield"></i>
          <span>Roles</span>
        </a>
      </li>
      <hr>
    </ul>
    <!-- ================================================SUBSCRIPTIONS================================================== -->
    <div class="menu-header mt-3 mb-2"
      *ngIf="showSubscriptionPermission || showAnalysisPermission || showEnquiryPermission || showCustomerPlanPermission || showReportPermission || showReportStaticsServicePermission || manageAnalysisPermission">
      Report Components
    </div>
    <ul class="menu-items"
      *ngIf="showSubscriptionPermission || showAnalysisPermission || showEnquiryPermission || showCustomerPlanPermission || showReportPermission || showReportStaticsServicePermission || manageAnalysisPermission">
      <li *ngIf="showSubscriptionPermission">
        <a routerLink="/subscriptions/show" routerLinkActive="active">
          <i class="fas fa-bookmark"></i>
          <span>Manager</span>
        </a>
      </li>
      <li *ngIf="showReportPermission">
        <a routerLink="/reports/details" routerLinkActive="active">
          <i class="fas fa-chart-pie"></i>
          <span>Reports</span>
        </a>
      </li>
      <li *ngIf="manageAnalysisPermission">
        <a routerLink="/analysis/manage" routerLinkActive="active">
          <i class="fas fa-sitemap"></i>
          <span>Manage Analytics</span>
        </a>
      </li>
      <li *ngIf="showAnalysisPermission">
        <a routerLink="/analysis/show" routerLinkActive="active">
          <i class="far fa-chart-bar"></i>
          <span>Data Analytics</span>
        </a>
      </li>
      <li *ngIf="showEnquiryPermission">
        <a routerLink="/enquiry/show" routerLinkActive="active">
          <i class="fas fa-address-book"></i>
          <span>Inquiry</span>
        </a>
      </li>
      <li *ngIf="showCustomerPlanPermission">
        <a routerLink="/customer-plan/show" routerLinkActive="active">
          <!-- <i class="fas fa-search-plus"></i> -->
          <i class="fas fa-tachometer-alt"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <li *ngIf="showReportStaticsServicePermission">
        <a routerLink="/reportStatics/show" routerLinkActive="active">
          <i class="fas fa-chart-line"></i>
          <span>Report Statics</span>
        </a>
      </li>
      <hr>
    </ul>
    <!-- ================================================LEADS================================================== -->
    <div class="menu-header mt-3 mb-2" *ngIf="showInputsPermission||showLeadsPermission">
      Lead Components
    </div>
    <ul class="menu-items" *ngIf="showInputsPermission||showLeadsPermission">
      <li *ngIf="showLeadsPermission">
        <a routerLink="/leads/show" routerLinkActive="active">
          <i class="fa fa-star"></i>
          <span>My Leads</span>
        </a>
      </li>
      <li *ngIf="showInputsPermission">
        <a routerLink="/leadControls/show" routerLinkActive="active">
          <i class="fas fa-book"></i>
          <span>Lead Inputs</span>
        </a>
      </li>
      <li *ngIf="showLeadReasonsPermission">
        <a routerLink="refund/reasons" routerLinkActive="active">
          <i class="fas fa-list"></i>
          <span>Lead Reasons</span>
        </a>
      </li>
      <hr>
    </ul>
    <!-- ================================================CALLS================================================== -->
    <div class="menu-header mt-3 mb-2" *ngIf="assignCallsPermission||showCallsPermission">
      Call Components
    </div>
    <ul class="menu-items" *ngIf="assignCallsPermission||showCallsPermission">
      <li *ngIf="showCallsPermission">
        <a routerLink="/calls/show" routerLinkActive="active">
          <i class="fas fa-headset"></i>
          <span>My Calls</span>
        </a>
      </li>
      <li *ngIf="assignCallsPermission">
        <a routerLink="calls/assign" routerLinkActive="active">
          <i class="fas fa-link"></i>
          <span>All Calls</span>
        </a>
      </li>
      <hr>
    </ul>
    <!-- ================================================PAYMENTS================================================== -->
    <div class="menu-header mt-3 mb-2"
      *ngIf="createClinicPermission||createPaymentLinkPermission||createPaymentBranchesPermission||showOfferPermission">
      Payment Components
    </div>
    <ul class="menu-items"
      *ngIf="createClinicPermission||createPaymentLinkPermission||createPaymentBranchesPermission||showOfferPermission">
      <li *ngIf="createClinicPermission">
        <a routerLink="/clinic" routerLinkActive="active">
          <i class="fas fa-hospital-symbol"></i>
          <span>Clinic</span>
        </a>
      </li>
      <li *ngIf="createPaymentLinkPermission">
        <a routerLink="paymentlink/create" routerLinkActive="active">
          <i class="fas fa-money-check-alt"></i>
          <span>Payment Link</span>
        </a>
      </li>
      <li *ngIf="createPaymentBranchesPermission">
        <a routerLink="paymentbranch/print" routerLinkActive="active">
          <i class="fas fa-money-check-alt"></i>
          <span>Payment Branch</span>
        </a>
      </li>
      <li *ngIf="showOfferPermission">
        <a routerLink="offer-settings/showOffer" routerLinkActive="active">
          <i class="fas fa-cogs"></i>
          <span>Offer Settings</span>
        </a>
      </li>
      <hr>
    </ul>
    <!-- ================================================REFUNDS================================================== -->
    <div class="menu-header mt-3 mb-2" *ngIf="showRefundPermission||showRefundReasonsPermission">
      Refund Components
    </div>
    <ul class="menu-items" *ngIf="showRefundPermission||showRefundReasonsPermission">
      <li *ngIf="showRefundPermission">
        <a routerLink="/refund/show" routerLinkActive="active">
          <i class="fas fa-hand-holding-usd"></i>
          <span>Refund</span>
        </a>
      </li>
      <li *ngIf="showRefundReasonsPermission">
        <a routerLink="refund/reasons" routerLinkActive="active">
          <i class="fas fa-list"></i>
          <span>Refund Reasons</span>
        </a>
      </li>
      <hr>
    </ul>
    <!-- ================================================DISLIKES================================================== -->
    <div class="menu-header mt-3 mb-2" *ngIf="showDislikePermission||showDislikeReasonsPermission">
      Dislike Components
    </div>
    <ul class="menu-items" *ngIf="showDislikePermission||showDislikeReasonsPermission">
      <li *ngIf="showDislikePermission">
        <a routerLink="/dislike/show" routerLinkActive="active">
          <i class="fas fa-thumbs-down"></i>
          <span>Dislike</span>
        </a>
      </li>
      <li *ngIf="showDislikeReasonsPermission">
        <a routerLink="dislike/reasons" routerLinkActive="active">
          <i class="fas fa-list"></i>
          <span>Dislike Reasons</span>
        </a>
      </li>
      <hr>
    </ul>
    <!-- ================================================TARGET================================================== -->
    <div class="menu-header mt-3 mb-2" *ngIf="showTargetPermission">
      Target Components
    </div>
    <ul class="menu-items" *ngIf="showTargetPermission">
      <li>
        <a routerLink="/target/show" routerLinkActive="active">
          <i class="fas fa-user-tag"></i>
          <span>Target</span>
        </a>
      </li>
      <hr>
    </ul>
    <!-- ================================================COMPLAINTS================================================== -->
    <div class="menu-header mt-3 mb-2" *ngIf="showComplaintsPermission">
      Complaint Components
    </div>
    <ul class="menu-items" *ngIf="showComplaintsPermission">
      <li>
        <a routerLink="/complaints/show" routerLinkActive="active">
          <i class="fas fa-clipboard-list"></i>
          <span>Complaints</span>
        </a>
      </li>
      <hr>
    </ul>
    <!-- ================================================GIFTCODE================================================== -->
    <div class="menu-header mt-3 mb-2" *ngIf="showGiftcodePermission">
      Giftcode Components
    </div>
    <ul class="menu-items" *ngIf="showGiftcodePermission">
      <li>
        <a routerLink="/giftcode/show" routerLinkActive="active">
          <i class="fas fa-gift"></i>
          <span>GiftCode</span>
        </a>
      </li>
      <hr>
    </ul>
    <!-- ================================================MAIL SERVICE================================================== -->
    <div class="menu-header mt-3 mb-2" *ngIf="showMailServicePermission">
      Mail Components
    </div>
    <ul class="menu-items" *ngIf="showMailServicePermission">
      <li>
        <a routerLink="/mailService/show" routerLinkActive="active">
          <i class="fas fa-envelope"></i>
          <span>Mail Service</span>
        </a>
      </li>
      <hr>
    </ul>
    <!-- ================================================Query Module================================================== -->
    <div class="menu-header mt-3 mb-2" *ngIf="showReportStaticsServicePermission">
      Query Module
    </div>
    <ul class="menu-items" *ngIf="showQueryModuleServicePermission">
      <li>
        <a routerLink="/queryModule/show" routerLinkActive="active">
          <i class="fas fa-code"></i>
          <span>query Module </span>
        </a>
      </li>
      <li>
        <a routerLink="/queryModule/execute" routerLinkActive="active">
          <i class="fas fa-bolt"></i>
          <span>Execute Query </span>
        </a>
      </li>
      <hr>
    </ul>
    <!-- ================================================Bulk Whatsapp Sender================================================== -->
    <div class="menu-header mt-3 mb-2" *ngIf="showReportStaticsServicePermission">
      Bulk Whatsapp
    </div>
    <ul class="menu-items" *ngIf="sendBulkWhatsappMessagePermission">
      <li>
        <a routerLink="/bulk-whatsapp-messages/query" routerLinkActive="active">
          <i class="fas fa-code"></i>
          <span>Whatsapp Query</span>
        </a>
      </li>
      <li>
        <a routerLink="/bulk-whatsapp-messages/templates" routerLinkActive="active">
          <i class="far fa-comment-dots"></i>
          <span>Whatsapp Templates</span>
        </a>
      </li>
      <li>
        <a routerLink="/bulk-whatsapp-messages/send" routerLinkActive="active">
          <i class="fab fa-whatsapp"></i>
          <span>Bulk Whatsapp </span>
        </a>
      </li>
      <li>
        <a routerLink="/bulk-whatsapp-messages/whatsapp-sender" routerLinkActive="active">
          <i class="fab fa-line"></i>
          <span>Whatsapp Sender</span>
        </a>
      </li>
      <hr>
    </ul>

    <!-- ================================================OTHER================================================== -->
    <div class="menu-header mt-3 mb-2" *ngIf="showUploadPermission || showRedirectPermission||showNotesPermission || showInquiryNotePermission">
      Other Components
    </div>
    <ul class="menu-items" *ngIf="showUploadPermission || showRedirectPermission||showNotesPermission || showInquiryNotePermission">
      <li *ngIf="showNotesPermission">
        <a routerLink="/notes/show" routerLinkActive="active">
          <i class="fas fa-sticky-note"></i>
          <span>Sticky Notes</span>
        </a>
      </li>
      <li *ngIf="showInquiryNotePermission">
        <a routerLink="/notes/inquiry" routerLinkActive="active">
          <i class="fas fa-file-signature"></i>
          <span>Inquiry Notes</span>
        </a>
      </li>
      <li *ngIf="showUploadPermission">
        <a routerLink="/upload/show" routerLinkActive="active">
          <i class="fas fa-cloud-upload-alt"></i>
          <span>Uploads</span>
        </a>
      </li>
      <li *ngIf="showRedirectPermission">
        <a routerLink="/redirect/show" routerLinkActive="active">
          <i class="fas fa-link"></i>
          <span>Urls</span>
        </a>
      </li>
      <hr>
    </ul>
    <!-- ================================================LOGOUT================================================== -->
    <ul class="menu-items">
      <li (click)="logOut()">
        <a style="cursor: pointer;">
          <i class="fas fa-sign-out-alt"></i>
          <span>Sign out</span>
        </a>
      </li>
    </ul>
  </nav>
</aside>