.CIDS{
    user-select: none;
    transition: all .5s;
    // &.EXPIRED{
    //     background-color: rgb(126, 126, 126) !important;
    //     color: #fff !important;
        // cursor: not-allowed;
    // }
    &:not(.EXPIRED):hover{
        background-color: rgb(237, 237, 237) !important;
    }
}

.invoice{
    transition: all .5s;
    &:hover{
        background-color: rgb(237, 237, 237) !important;
    }
}


::ng-deep{
    .p-multiselect-label {
        display: contents !important;
        }
        .p-multiselect-token{
          margin: 3px;
        }
        .p-multiselect-label-container{
          padding: 12px;
        }
        .p-chips-token{
          margin-top: 3px;
        }
        .p-chips-multiple-container{
          width: 100% !important;
        }

        .p-multiselect-header{
          flex-wrap: wrap;
        }
}
