<div class="container">
    <div class="d-flex justify-content-between align-items-center">
        <button pButton type="button" icon="pi pi-user-edit" label="Edit" class="m-1 p-button-sm p-button-warning"
            (click)="editModal = true;"></button>
        <button pButton type="button" icon="pi pi-file" label="Export" (click)="pdfDownload()"
            class="m-1 p-button-sm p-button-secondary"></button>
    </div>
    <div #download_container>
        <div class="card mt-2 mb-4" dir="rtl">
            <div class="cardbody">

                <h1 class="primary-heading">
                    <img src="../../../../assets/images/logo.png" alt="">
                </h1>
                <p class="paragraph">
                    أنه فى يوم .................. الموافق ..... / ... /{{contractForm.get('date')?.value | date:
                    'yyyy'}} م
                    تم تحرير هذا العقد بين كلآ من :-
                    اولا: السادة/ شركة Lowcalories ، ويمثلها السيد / ناصر محمد عدوي (بصفته مدير الشركة)
                    ،{{contractForm.get('address')?.value}}, مشهره بسجل تجارى رقم / <span class="bold">201659</span>
                    (طرف
                    اول مؤجر)
                    ثانيا : السيد/ .............................................................. المقيم فى
                    /……………………................………….............
                    يحمل بطاقة رقم قومى او جواز سفر / ...............................................................
                    الجنسيه /
                    ..........................
                    المهنة /................................ رقم المحمول/ ........................................ (طرف
                    ثاني
                    مستأجر)
                </p>

                <p class="paragraph">
                    <span class="bold d-block text-center">تمهيد</span>
                    أقر الطرفان بكامل أهليتهما للتعاقد فيما بينهما على بنود العقد الاتي بيانه, حيث يمتلك الطرف الاول اسم
                    شركة
                    لوكالوري للطعام الصحي وخسارة الوزن وتوفير خدمات اخري لفتح المطاعم ومجال الهيلثي فود,وحيث ان الطرف
                    الثاني
                    قد
                    رغب في استئجار العلامه المائيه موضوع العقد والتي سيتم شرحها تفصيلا في بنود العقد وقد قبل الطرف الاول
                    بذلك
                    فقاموا بالاتفاق على الأتى :-
                </p>
                <p class="paragraph">
                    <span class="bold d-block text-center">البند الأول</span>
                    يعتبر التمهيد سالف البيان جزء لا يتجزأ من العقد ومكملا ومفسرا ومتمما لبنوده
                </p>
                <p class="paragraph">
                    <span class="bold d-block text-center">البند الثاني</span>
                    يتم ارفاق إقرار استلام العلامه والمعدات موضوع التعاقد مع هذا العقد موضحا فيه الحالة العامة والخاصة
                    للمطعم مع
                    توضيح عدد مترات من المطعم التي تسلمها الطرف الثاني بصفة الامانة لديه وذلك خلال مدة الايجار المحددة
                    بالعقد
                    وايضا موضح كمية الفواتير الموجودة علي المطعم وكل ما يشمل المطعم من كماليات وقطع داخلية وخارجية يتم
                    تسليم
                    الى
                    الطرف الثاني على سبيل الامانة ويعد هذا الاقرار ملزم للطرف الثاني وفي حالة فقد او تلف اي من تلك
                    الكماليات
                    المذكورة فانه يعد مبددا للامانة ويتم محاسبته على المفقود او التالف والا يتم الرجوع عليه قانونا بما
                    يتوجب
                    معه
                    الامر للمطالبة بما فقد او تلف من الكماليات, على ان يكون الفواتير المستقطعة مقدر ب ............ كم
                    وسعر
                    الفواتير المتوفع مقدر بمبلغ ............ جنيه ويتم خصمه من التأمين دون الرجوع الى العميل
                </p>
                <p class="paragraph">
                    <span class="bold d-block text-center">البند الثالث</span>
                    يتم ارفاق إقرار استلام العلامه والمعدات موضوع التعاقد مع هذا العقد موضحا فيه الحالة العامة والخاصة
                    للمطعم مع
                    توضيح عدد مترات من المطعم التي تسلمها الطرف الثاني بصفة الامانة لديه وذلك خلال مدة الايجار المحددة
                    بالعقد
                    وايضا موضح كمية الفواتير الموجودة علي المطعم وكل ما يشمل المطعم من كماليات وقطع داخلية وخارجية يتم
                    تسليم
                    الى
                    الطرف الثاني على سبيل الامانة ويعد هذا الاقرار ملزم للطرف الثاني وفي حالة فقد او تلف اي من تلك
                    الكماليات
                    المذكورة فانه يعد مبددا للامانة ويتم محاسبته على المفقود او التالف والا يتم الرجوع عليه قانونا بما
                    يتوجب
                    معه
                    الامر للمطالبة بما فقد او تلف من الكماليات, على ان يكون الفواتير المستقطعة مقدر ب ............ كم
                    وسعر
                    الفواتير المتوفع مقدر بمبلغ ............ جنيه ويتم خصمه من التأمين دون الرجوع الى العميل
                </p>
                <p class="paragraph">
                    <span class="bold d-block text-center">البند الرابع</span>
                    يتم ارفاق إقرار استلام العلامه والمعدات موضوع التعاقد مع هذا العقد موضحا فيه الحالة العامة والخاصة
                    للمطعم مع
                    توضيح عدد مترات من المطعم التي تسلمها الطرف الثاني بصفة الامانة لديه وذلك خلال مدة الايجار المحددة
                    بالعقد
                    وايضا موضح كمية الفواتير الموجودة علي المطعم وكل ما يشمل المطعم من كماليات وقطع داخلية وخارجية يتم
                    تسليم
                    الى
                    الطرف الثاني على سبيل الامانة ويعد هذا الاقرار ملزم للطرف الثاني وفي حالة فقد او تلف اي من تلك
                    الكماليات
                    المذكورة فانه يعد مبددا للامانة ويتم محاسبته على المفقود او التالف والا يتم الرجوع عليه قانونا بما
                    يتوجب
                    معه
                    الامر للمطالبة بما فقد او تلف من الكماليات, على ان يكون الفواتير المستقطعة مقدر ب ............ كم
                    وسعر
                    الفواتير المتوفع مقدر بمبلغ ............ جنيه ويتم خصمه من التأمين دون الرجوع الى العميل
                </p>
                <p class="paragraph">
                    <span class="bold d-block text-center">البند الخامس</span>
                    يتم ارفاق إقرار استلام العلامه والمعدات موضوع التعاقد مع هذا العقد موضحا فيه الحالة العامة والخاصة
                    للمطعم مع
                    توضيح عدد مترات من المطعم التي تسلمها الطرف الثاني بصفة الامانة لديه وذلك خلال مدة الايجار المحددة
                    بالعقد
                    وايضا موضح كمية الفواتير الموجودة علي المطعم وكل ما يشمل المطعم من كماليات وقطع داخلية وخارجية يتم
                    تسليم
                    الى
                    الطرف الثاني على سبيل الامانة ويعد هذا الاقرار ملزم للطرف الثاني وفي حالة فقد او تلف اي من تلك
                    الكماليات
                    المذكورة فانه يعد مبددا للامانة ويتم محاسبته على المفقود او التالف والا يتم الرجوع عليه قانونا بما
                    يتوجب
                    معه
                    الامر للمطالبة بما فقد او تلف من الكماليات, على ان يكون الفواتير المستقطعة مقدر ب ............ كم
                    وسعر
                    الفواتير المتوفع مقدر بمبلغ ............ جنيه ويتم خصمه من التأمين دون الرجوع الى العميل
                </p>
                <p class="paragraph">
                    <span class="bold d-block text-center">البند السادس</span>
                    يتم ارفاق إقرار استلام العلامه والمعدات موضوع التعاقد مع هذا العقد موضحا فيه الحالة العامة والخاصة
                    للمطعم مع
                    توضيح عدد مترات من المطعم التي تسلمها الطرف الثاني بصفة الامانة لديه وذلك خلال مدة الايجار المحددة
                    بالعقد
                    وايضا موضح كمية الفواتير الموجودة علي المطعم وكل ما يشمل المطعم من كماليات وقطع داخلية وخارجية يتم
                    تسليم
                    الى
                    الطرف الثاني على سبيل الامانة ويعد هذا الاقرار ملزم للطرف الثاني وفي حالة فقد او تلف اي من تلك
                    الكماليات
                    المذكورة فانه يعد مبددا للامانة ويتم محاسبته على المفقود او التالف والا يتم الرجوع عليه قانونا بما
                    يتوجب
                    معه
                    الامر للمطالبة بما فقد او تلف من الكماليات, على ان يكون الفواتير المستقطعة مقدر ب ............ كم
                    وسعر
                    الفواتير المتوفع مقدر بمبلغ ............ جنيه ويتم خصمه من التأمين دون الرجوع الى العميل
                </p>
                <p class="paragraph">
                    <span class="bold d-block text-center">البند السابع</span>
                    يتم ارفاق إقرار استلام العلامه والمعدات موضوع التعاقد مع هذا العقد موضحا فيه الحالة العامة والخاصة
                    للمطعم مع
                    توضيح عدد مترات من المطعم التي تسلمها الطرف الثاني بصفة الامانة لديه وذلك خلال مدة الايجار المحددة
                    بالعقد
                    وايضا موضح كمية الفواتير الموجودة علي المطعم وكل ما يشمل المطعم من كماليات وقطع داخلية وخارجية يتم
                    تسليم
                    الى
                    الطرف الثاني على سبيل الامانة ويعد هذا الاقرار ملزم للطرف الثاني وفي حالة فقد او تلف اي من تلك
                    الكماليات
                    المذكورة فانه يعد مبددا للامانة ويتم محاسبته على المفقود او التالف والا يتم الرجوع عليه قانونا بما
                    يتوجب
                    معه
                    الامر للمطالبة بما فقد او تلف من الكماليات, على ان يكون الفواتير المستقطعة مقدر ب ............ كم
                    وسعر
                    الفواتير المتوفع مقدر بمبلغ ............ جنيه ويتم خصمه من التأمين دون الرجوع الى العميل
                </p>
                <div class="row">
                    <div class="col-5">
                        <p class="paragraph">
                            <span class="bold">
                                <span>
                                    الطرف الاول -
                                </span>
                                <span>
                                    السيد/ ناصر محمد العدوي عبدالرسول
                                </span>
                            </span>
                        </p>
                    </div>
                    <div class="col-2"></div>
                    <div class="col-5">
                        <p class="paragraph">
                            <span class="bold">الطرف الثاني /</span>
                        </p>
                    </div>
                </div>
                <div class="page">
                    1
                </div>
            </div>
        </div>
        <div class="card mt-2 mb-4" dir="rtl">
            <div class="cardbody">
                <p class="paragraph">
                    <span class="bold d-block text-center">البند الثامن</span>
                    يتم ارفاق إقرار استلام العلامه والمعدات موضوع التعاقد مع هذا العقد موضحا فيه الحالة العامة والخاصة
                    للمطعم مع توضيح عدد مترات من المطعم التي تسلمها الطرف الثاني بصفة الامانة لديه وذلك خلال مدة الايجار
                    المحددة بالعقد وايضا موضح كمية الفواتير الموجودة علي المطعم وكل ما يشمل المطعم من كماليات وقطع
                    داخلية
                    وخارجية يتم تسليم الى الطرف الثاني على سبيل الامانة ويعد هذا الاقرار ملزم للطرف الثاني وفي حالة فقد
                    او
                    تلف اي من تلك الكماليات المذكورة فانه يعد مبددا للامانة ويتم محاسبته على المفقود او التالف والا يتم
                    الرجوع عليه قانونا بما يتوجب معه الامر للمطالبة بما فقد او تلف من الكماليات, على ان يكون الفواتير
                    المستقطعة مقدر ب ............ كم وسعر الفواتير المتوفع مقدر بمبلغ ............ جنيه ويتم خصمه من
                    التأمين
                    دون الرجوع الى العميل
                </p>
                <p class="paragraph">
                    <span class="bold d-block text-center">البند التاسع</span>
                    اتفق الطرفان على ان تكون مبلغ الايجار المتفق عليه هو مبلغ وقدره .............................. جنيه(
                    فقط
                    ................................. جنيه) تدفع من يد ومال الطرف الثاني الى يد وذمة الطرف الاول اثناء
                    تحرير
                    هذا العقد وذلك بموجب ايصال موقع من الطرف الاول يفيد سداد الاجرة المتفق عليها على ان يكون سداد القيمة
                    الايجارية المذكورة تسدد بصفة شهرية لحين انتهاء المدة المحددة
                </p>
                <p class="paragraph">
                    <span class="bold d-block text-center">البند العاشر</span>
                    اتفق الطرفان على ان تكون مبلغ الايجار المتفق عليه هو مبلغ وقدره .............................. جنيه(
                    فقط
                    ................................. جنيه) تدفع من يد ومال الطرف الثاني الى يد وذمة الطرف الاول اثناء
                    تحرير
                    هذا العقد وذلك بموجب ايصال موقع من الطرف الاول يفيد سداد الاجرة المتفق عليها على ان يكون سداد القيمة
                    الايجارية المذكورة تسدد بصفة شهرية لحين انتهاء المدة المحددة
                </p>
                <p class="paragraph">
                    <span class="bold d-block text-center">البند الحادى عشر</span>
                    اتفق الطرفان على ان تكون مبلغ الايجار المتفق عليه هو مبلغ وقدره .............................. جنيه(
                    فقط
                    ................................. جنيه) تدفع من يد ومال الطرف الثاني الى يد وذمة الطرف الاول اثناء
                    تحرير
                    هذا العقد وذلك بموجب ايصال موقع من الطرف الاول يفيد سداد الاجرة المتفق عليها على ان يكون سداد القيمة
                    الايجارية المذكورة تسدد بصفة شهرية لحين انتهاء المدة المحددة
                </p>
                <p class="paragraph">
                    <span class="bold d-block text-center">البند الثانى عشر</span>
                    اتفق الطرفان على ان تكون مبلغ الايجار المتفق عليه هو مبلغ وقدره .............................. جنيه(
                    فقط
                    ................................. جنيه) تدفع من يد ومال الطرف الثاني الى يد وذمة الطرف الاول اثناء
                    تحرير
                    هذا العقد وذلك بموجب ايصال موقع من الطرف الاول يفيد سداد الاجرة المتفق عليها على ان يكون سداد القيمة
                    الايجارية المذكورة تسدد بصفة شهرية لحين انتهاء المدة المحددة
                </p>
                <p class="paragraph">
                    <span class="bold d-block text-center">البند الثالث عشر</span>
                    اتفق الطرفان على ان تكون مبلغ الايجار المتفق عليه هو مبلغ وقدره .............................. جنيه(
                    فقط
                    ................................. جنيه) تدفع من يد ومال الطرف الثاني الى يد وذمة الطرف الاول اثناء
                    تحرير
                    هذا العقد وذلك بموجب ايصال موقع من الطرف الاول يفيد سداد الاجرة المتفق عليها على ان يكون سداد القيمة
                    الايجارية المذكورة تسدد بصفة شهرية لحين انتهاء المدة المحددة
                </p>
                <p class="paragraph">
                    <span class="bold d-block text-center">البند الرابع عشر</span>
                    اتفق الطرفان على ان تكون مبلغ الايجار المتفق عليه هو مبلغ وقدره .............................. جنيه(
                    فقط
                    ................................. جنيه) تدفع من يد ومال الطرف الثاني الى يد وذمة الطرف الاول اثناء
                    تحرير
                    هذا العقد وذلك بموجب ايصال موقع من الطرف الاول يفيد سداد الاجرة المتفق عليها على ان يكون سداد القيمة
                    الايجارية المذكورة تسدد بصفة شهرية لحين انتهاء المدة المحددة
                </p>
                <p class="paragraph">
                    <span class="bold d-block text-center">البند الخامس عشر</span>
                    اتفق الطرفان على ان تكون مبلغ الايجار المتفق عليه هو مبلغ وقدره .............................. جنيه(
                    فقط
                    ................................. جنيه) تدفع من يد ومال الطرف الثاني الى يد وذمة الطرف الاول اثناء
                    تحرير
                    هذا العقد وذلك بموجب ايصال موقع من الطرف الاول يفيد سداد الاجرة المتفق عليها على ان يكون سداد القيمة
                    الايجارية المذكورة تسدد بصفة شهرية لحين انتهاء المدة المحددة
                </p>
                <p class="paragraph">
                    <span class="bold d-block text-center">البند السادس عشر</span>
                    اتفق الطرفان على ان تكون مبلغ الايجار المتفق عليه هو مبلغ وقدره .............................. جنيه(
                    فقط
                    ................................. جنيه) تدفع من يد ومال الطرف الثاني الى يد وذمة الطرف الاول اثناء
                    تحرير
                    هذا العقد وذلك بموجب ايصال موقع من الطرف الاول يفيد سداد الاجرة المتفق عليها على ان يكون سداد القيمة
                    الايجارية المذكورة تسدد بصفة شهرية لحين انتهاء المدة المحددة
                </p>
                <p class="paragraph">
                    <span class="bold d-block text-center">البند السابع عشر</span>
                    لايتم تغيير أى بند من بنود هذا العقد وأى كشط أو تعديل أو أضافه فى هذا العقد والا يعتبر العقد لاغى من
                    تلقاء نفسه ولا يعتد به
                </p>
                <p class="paragraph">
                    <span class="bold d-block text-center">البند الثامن عشر</span>
                    تم تحرير هذا العقد من نسختين بيد كل طرف نسخه
                </p>
                <p class="paragraph">
                    <span class="bold d-block text-center">البند التاسع عشر</span>
                    يتم سداد مبلغ وقدره .................... جنيه وذلك مقابل التوصيل للموظف المختص في حالة تسليم العلامه
                    خارج نطاق مقر الشركة وكذلك يكون ذلك المبلغ متجدد في حالة التوصيل مرة اخرى من اجل تجديد التعاقد او
                    استلام
                    المطعم خارج نطاق مقر الشركة ولا يحق الاعتراض على ذلك البند
                </p>
                <p class="paragraph" style="line-height:50px">
                    <span class="bold d-block text-center">بند اضافي</span>
                    ...................................................................................................................................................................................................................................................................................................................................
                    ...................................................................................................................................................................................................................................................................................................................................
                    ...................................................................................................................................................................................................................................................................................................................................
                </p>
                <div class="page">
                    2
                </div>
            </div>
        </div>
        <div class="card mt-2 mb-4" dir="rtl">
            <div class="cardbody">
                <div class="row">
                    <div class="col-5">
                        <p class="paragraph">
                            <span class="bold">
                                <span>
                                    الطرف الاول -
                                </span>
                                <span>
                                    السيد/ ناصر محمد العدوي عبدالرسول
                                </span>
                            </span>
                        </p>
                    </div>
                    <div class="col-2"></div>
                    <div class="col-5">
                        <p class="paragraph">
                            <span class="bold">الطرف الثاني /</span>
                        </p>
                    </div>
                </div>
                <p class="paragraph">
                    <span class="bold d-block text-center">اقرار استلام العلامة</span>
                    اقر انا / .................................................................

                    احمل بطاقة رقم قومي او جواز سفر رقم /................................................

                    ومقيم في / ..............................................................

                    بانني قد استلمت من شركة / لوكالوري للحلول الرقمية ومواصفاتها:-
                </p>
                <p class="paragraph">
                    <span class="bold d-block text-center">مواصفات</span>
                    المطعم اسمه
                    ........................... مكان ( ...........................) موظفين ( ...........................
                    )
                    صافي رواتب (......................) وتحمل سجل برقم (............................)وقد رغب الطرف
                    الثاني في
                    استئجار تلك العلامه لمدة ............... تبدأ من يوم .............. الموافق ......./
                    ......../......................الساعة ........... وتنتهي في يوم .................... الموافق
                    ......../........./................. م الساعة ............. وتلك المدة غير قابلة للتجديد التلقائي
                    الا
                    بموجب تحريرعقد جديد بمدة جديدة بعد موافقة الطرف الاول على التجديد
                </p>
                <p class="paragraph">
                    على سبيل الامانة من الشركة وذلك لغرض الاستخدام الشخصى
                    وانني اتحمل كافة المسئوليات القانونية منذ تاريخ وكذا مسئول عن اي مخالفة تصدر في ذلك التوقيت وحتى
                    الانتهاء من الغرض المراد ,وطبقا لنص المادة 341 من قانون الاجراءات الجنائية
                    وبتوقيعي على هذا الاقرار يعد موافقة مني على ما جاء فيه
                </p>
                <div class="row">
                    <div class="col-4"></div>
                    <div class="col-4"></div>
                    <div class="col-4">
                        <p class="paragraph">
                            <span class="bold d-block text-end">المقر بما فيه</span>
                            <span class="mt-3 d-flex text-end" style="line-height:50px">
                                الاسم/........................................
                                <br>
                                التوقيع/....................................
                                <br>
                                البصمة /
                            </span>
                        </p>
                    </div>
                </div>
                <p class="paragraph">
                    <span class="bold d-flex text-center justify-content-center" style="line-height:50px">
                        تحريرا في يوم ....................... الموافق
                        .............../................/..................
                        الساعة /..........................
                        <br>
                        الى يوم ....................... الموافق .............../................/..................
                        الساعة
                        /..........................
                    </span>
                </p>
                <div class="dummy-layer"></div>
                <div class="page">
                    3
                </div>
            </div>
        </div>
        <div class="card mt-2 mb-4" dir="rtl">
            <div class="cardbody">
                <div class="container my-5">
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    Time in ⏰ وقت الاسـتـــــــــــــــــلام
                                    <br>
                                    مساء - صباحا ................. / .................
                                </td>
                                <td>
                                    Date in t: 📅 تاريخ الاسـتــــــــــلام
                                    <br>
                                    اليوم : ......................../......................../........................
                                </td>
                                <td>
                                    Time Out ⏰ وقت التســــــــــــــــليم
                                    <br>
                                    مساء - صباحا ................. / .................
                                </td>
                                <td>
                                    Date Out: 📅 تاريخ التســــــــــــــــليم
                                    <br>
                                    اليوم : ......................../......................../........................
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    لشئ / in ⛽️
                                    كهرباء الاسـتــــــــــلام
                                    ……..………………...........................…
                                </td>
                                <td>
                                    Km Reading in 📟 بيان الاسـتــــــــــلام
                                    ……..………………...........................…
                                </td>
                                <td>
                                    Fuel / Out ⛽️ الغاز التسليم
                                    ……..………………...........................…
                                </td>
                                <td>
                                    Km Reading Out 📟 بيان العداد التسليم
                                    ……..………………...........................…
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="container my-5 py-5">
                    <table>
                        <thead>
                            <tr>
                                <th>In</th>
                                <th>Out</th>

                                <th style="background-color: #c7b9c0;"></th>

                                <th>In</th>
                                <th>Out</th>

                                <th style="background-color: #c7b9c0;"></th>

                                <th>In</th>
                                <th>Out</th>

                                <th style="background-color: #c7b9c0;"></th>

                                <th>In</th>
                                <th>Out</th>

                                <th style="background-color: #c7b9c0;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>

                                <td>
                                    Antenna
                                    <br>
                                    إريال
                                </td>

                                <td></td>
                                <td></td>

                                <td>
                                    Ac pots
                                    <br>
                                    هويات التكيف
                                </td>

                                <td></td>
                                <td></td>

                                <td>
                                    Fire Ext.
                                    <br>
                                    طفاية حريق
                                </td>

                                <td></td>
                                <td></td>

                                <td>
                                    Devices
                                    <br>
                                    اجهزة
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>

                                <td>
                                    Wipers
                                    <br>
                                    مساحات
                                </td>

                                <td></td>
                                <td></td>

                                <td>
                                    Sun Visors
                                    <br>
                                    شماسات
                                </td>

                                <td></td>
                                <td></td>

                                <td>
                                    Boot
                                </td>

                                <td></td>
                                <td></td>

                                <td>
                                    Jack Hammer
                                    <br>
                                    كوريك
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>

                                <td>
                                    Hub Caps
                                    <br>
                                    طاسات
                                </td>

                                <td></td>
                                <td></td>

                                <td>
                                    Mirror
                                    <br>
                                    مرآه
                                </td>

                                <td></td>
                                <td></td>

                                <td>
                                    License
                                    <br>
                                    الرخصة
                                </td>

                                <td></td>
                                <td></td>

                                <td>
                                    Services
                                    <br>
                                    خدمات
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>

                                <td>
                                    Wires Check
                                    <br>
                                    كشف على اسلاك
                                </td>

                                <td></td>
                                <td></td>

                                <td>
                                    Sun Roof
                                    <br>
                                    فتحة سقف
                                </td>

                                <td></td>
                                <td></td>

                                <td>
                                    Cigarette tray
                                    <br>
                                    طفاية السجائر
                                </td>

                                <td></td>
                                <td></td>

                                <td>
                                    1st Aid Kit
                                    <br>
                                    أسعافات أولية
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>

                                <td>
                                    Cleanness Out
                                    <br>
                                    النظافة الخارجية
                                </td>

                                <td></td>
                                <td></td>

                                <td>
                                    Window Buttons
                                    <br>
                                    زجاج
                                </td>

                                <td></td>
                                <td></td>

                                <td>
                                    Cigarette lighter
                                    <br>
                                    ولاعة السجائر
                                </td>

                                <td></td>
                                <td></td>

                                <td>
                                    Triangle
                                    <br>
                                    عاكس
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>

                                <td>
                                    Cleanness in
                                    <br>
                                    النظافة الداخلية
                                </td>

                                <td></td>
                                <td></td>

                                <td>
                                    Outside Mirror Button
                                    <br>
                                    المرآه الخارجية
                                </td>

                                <td></td>
                                <td></td>

                                <td>
                                    Sounds
                                    <br>
                                    سماعات
                                </td>

                                <td></td>
                                <td></td>

                                <td>
                                    Spare
                                    <br>
                                    استبن
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-5">
                        <p class="paragraph">
                            <span class="mt-3 d-flex text-end" style="line-height:50px">
                                الطرف الاول
                                /................................................................................
                                <br>
                                الطرف الثانى - توقيع العميل
                                /...................................................
                            </span>
                        </p>
                    </div>
                    <div class="col-2"></div>
                    <div class="col-5">
                        <p class="paragraph">
                            <span class="mt-3 d-flex text-end" style="line-height:50px">
                                الطرف الاول
                                /..................................................................................
                                <br>
                                الطرف الثاني - توقيع العميل /
                                ...................................................
                            </span>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-5">
                        <p class="paragraph">
                            <span class="bold">
                                <span>
                                    الطرف الاول -
                                </span>
                                <span>
                                    السيد/ ناصر محمد العدوي عبدالرسول
                                </span>
                            </span>
                        </p>
                    </div>
                    <div class="col-2"></div>
                    <div class="col-5">
                        <p class="paragraph">
                            <span class="bold">الطرف الثاني /</span>
                        </p>
                    </div>
                </div>
                <div class="page">
                    4
                </div>
            </div>

        </div>
    </div>
</div>

<p-dialog header="Edit Contract" [(visible)]="editModal" [modal]="true" [style]="{width: '50vw'}" [draggable]="false"
    [resizable]="false">
    <form [formGroup]='contractForm' (ngSubmit)='onSubmit(contractForm)'>
        <div class="form-group my-3">
            <label>Date</label>
            <p-calendar [readonlyInput]="true" view="year" dateFormat="yy" formControlName="date" ngClass="w-100"
                appendTo="body">
            </p-calendar>
        </div>
        <div class="form-group my-3">
            <label>Address</label>
            <input type="text" pInputText ngClass="w-100" formControlName='address' />
        </div>
        <button type="submit" class="btn btn-lightning rounded-0 px-4 d-flex m-auto">
            <span>Update Contract</span>
        </button>
    </form>
</p-dialog>